{% extends 'frontendsite/base.html' %}
{% load staticfiles %}
{% block title %}
    OptiMe | 404
{% endblock %}
{% block content %}
{% block header %}{% endblock %}
    <div class="row col-12 no-overflow">
        <div class="col-md-6 d-none d-md-block onboardingLeft justify-content-center align-self-center">
            <div class="col-12 fullHeight">
                <div class="loginImg">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1050 750.87">
                        <title>fitness tracker</title>
                        <ellipse cx="525" cy="717.87" rx="525" ry="33" class="secondaryFill" opacity="0.1"/>
                        <path d="M1042.65,768a37,37,0,0,1-.8,7.76c-.1.48-.21,1-.32,1.41-2.84,11.39-10.85,19.72-20.41,20.25-.32,0-.64,0-1,0-10.11,0-18.66-8.72-21.48-20.73-.08-.32-.15-.64-.22-1a37,37,0,0,1-.8-7.76c0-16.27,10.07-29.45,22.5-29.45S1042.65,751.75,1042.65,768Z"
                              transform="translate(-75 -74.57)" fill="#3f3d56"/>
                        <path d="M1042.65,768a37,37,0,0,1-.8,7.76c-.1.48-.21,1-.32,1.41-.34,0-.67,0-1,0a45.76,45.76,0,0,1-7.36-1,44.92,44.92,0,0,1-6.56,1.5,45.87,45.87,0,0,1-5.14.48l-1.74,0a46.41,46.41,0,0,1-6.16-.41,45.17,45.17,0,0,1-9.67-2.4,45.56,45.56,0,0,1-5.22,1.4c-.08-.32-.15-.64-.22-1a37,37,0,0,1-.8-7.76c0-16.27,10.07-29.45,22.5-29.45S1042.65,751.75,1042.65,768Z"
                              transform="translate(-75 -74.57)" opacity="0.1"/>
                        <path d="M1090.65,713.15a45.53,45.53,0,0,0-4.9-20.6l-26.46,8.23,23.23-13.66a45.71,45.71,0,0,0-34.36-19.59,46.74,46.74,0,0,0-3.57-4.72l-38,11.83,31.17-18.32a45.74,45.74,0,0,0-72,24.38l32.55,37.48L963,692.63a45.74,45.74,0,0,0,40.93,80.71,46,46,0,0,0,29.28.8,45.74,45.74,0,0,0,55.62-44.65c0-1,0-2-.1-3A45.69,45.69,0,0,0,1090.65,713.15Z"
                              transform="translate(-75 -74.57)" class="secondaryFill"/>
                        <path d="M1089.86,721.64a121.66,121.66,0,0,0-42.34-.54c-15.89,2.63-32.13,8.41-47.67,4.18-9.12-2.48-17-8.22-25.91-11.4a49.09,49.09,0,0,0-26.75-1.61,45.76,45.76,0,0,0,56.69,61.07,46,46,0,0,0,29.28.8,45.74,45.74,0,0,0,55.62-44.65c0-1,0-2-.1-3A45.19,45.19,0,0,0,1089.86,721.64Z"
                              transform="translate(-75 -74.57)" opacity="0.1"/>
                        <rect x="690.58" y="171.97" width="10.31" height="85.02" rx="2.29" fill="#3f3d56"/>
                        <rect x="347.76" y="105.36" width="5.79" height="27.99" rx="1.5" fill="#3f3d56"/>
                        <rect x="347.55" y="156.61" width="6.52" height="48.72" rx="1.69" fill="#3f3d56"/>
                        <rect x="347.65" y="222.37" width="6.21" height="49.14" rx="1.61" fill="#3f3d56"/>
                        <rect x="351.04" y="12.87" width="345.1" height="701.37" rx="35.69" fill="#3f3d56"/>
                        <rect x="490.3" y="33.81" width="48.19" height="9.79" rx="2.54" fill="#e6e8ec"/>
                        <circle cx="551.33" cy="38.7" r="5.55" fill="#e6e8ec"/>
                        <path d="M749.83,133.11v610a27.41,27.41,0,0,1-27.41,27.4H474.76a27.41,27.41,0,0,1-27.41-27.4v-610a27.41,27.41,0,0,1,27.41-27.41h37.06v4.76A22.58,22.58,0,0,0,534.39,133h126a22.57,22.57,0,0,0,22.57-22.57V105.7h39.51A27.41,27.41,0,0,1,749.83,133.11Z"
                              transform="translate(-75 -74.57)" fill="#fff"/>
                        <path d="M752,385V592.43h-2.17v.21H447.35V339.22q2.91-3.32,5.9-6.89c42.48-50.73,100.22-64.08,144.91-65.48,30.62-1,61.1,5.33,90.2,17.9,15.37,6.64,37.43,13.92,61.47,14.64v78.42C751.3,382,752,385,752,385Z"
                              transform="translate(-75 -74.57)" class="secondaryFill" opacity="0.2"/>
                        <path d="M752,385V592.43H447.35V456.55c10.85-2.73,26-13.23,45.44-42.24,23.25-34.71,54.84-43.84,79.29-44.8,16.75-.66,33.43,3.64,49.35,12.25,17.91,9.67,52.43,21.33,78.66-12.52,29-37.43,44.42-6.56,49.74,8.57C751.3,382,752,385,752,385Z"
                              transform="translate(-75 -74.57)" class="secondaryFill" opacity="0.2"/>
                        <rect x="403" y="479.87" width="242" height="76" rx="12" fill="#736e9e"/>
                        <path d="M209.06,758.29,228.2,747a46,46,0,0,0-9.79-11.71L182.3,746.56l28.3-16.64a46,46,0,0,0-68.1,40.35c0,25.41,20.59,26.29,46,26.29s46-.88,46-26.29a45.75,45.75,0,0,0-3.95-18.66Z"
                              transform="translate(-75 -74.57)" class="secondaryFill"/>
                        <path d="M213.93,783a35.81,35.81,0,0,0-6.78-5.33c-3.48-2.31-7.07-4.66-11.17-5.45-3.6-.69-7.31-.11-11-.31a25.67,25.67,0,0,1-16.81-7.71c-2.61-2.7-4.67-6-7.81-8.09-3.39-2.22-7.69-2.7-11.71-2.15a33.67,33.67,0,0,0-3.46.71,45.9,45.9,0,0,0-2.72,15.61c0,25.41,20.59,26.29,46,26.29,12.33,0,23.52-.21,31.78-3.33l-1.38-2.58A36.08,36.08,0,0,0,213.93,783Z"
                              transform="translate(-75 -74.57)" opacity="0.1"/>
                        <path d="M303.24,656.87a11.93,11.93,0,0,0-3.28,4.72c-1.71,5.34,3.07,10.58,3.53,16.17.36,4.44-2,8.58-3.34,12.84A27.71,27.71,0,0,0,309.67,720a7.93,7.93,0,0,0,3.18,1.64,7.16,7.16,0,0,0,5.43-1.6,14.56,14.56,0,0,0,5.09-6.72,29.16,29.16,0,0,0,1.33-8.17l.71-10.7c.74-11.17,1.41-22.69-1.31-33.66-.89-3.6-2.54-11.87-6.7-12.37S306,654.17,303.24,656.87Z"
                              transform="translate(-75 -74.57)" fill="#3f3d56"/>
                        <path d="M373,610.91a351.14,351.14,0,0,0-10.83,53.55c-.32,2.55-.65,5.23-2.19,7.29-3.07,4.13-9.22,3.87-14.32,3.2a8.08,8.08,0,0,1-3.49-1c-1.92-1.3-2.34-3.9-2.57-6.21q-5.24-51.08-7-102.43c-.05-1.31,42.69-1.43,46.35,2s.82,16.26,0,20.63C377.61,595.72,375.19,603.3,373,610.91Z"
                              transform="translate(-75 -74.57)" fill="#fbbebe"/>
                        <path d="M373,610.91a351.14,351.14,0,0,0-10.83,53.55c-.32,2.55-.65,5.23-2.19,7.29-3.07,4.13-9.22,3.87-14.32,3.2a8.08,8.08,0,0,1-3.49-1c-1.92-1.3-2.34-3.9-2.57-6.21q-5.24-51.08-7-102.43c-.05-1.31,42.69-1.43,46.35,2s.82,16.26,0,20.63C377.61,595.72,375.19,603.3,373,610.91Z"
                              transform="translate(-75 -74.57)" opacity="0.05"/>
                        <path d="M284,560.44l17.31,38.07c5.76,12.66,11.56,25.46,14.31,39.09a124.83,124.83,0,0,1,2.11,17.25,65,65,0,0,1-.46,14.89c-.63,3.66-1.79,7.22-2.3,10.9-2,14.67,6.31,28.47,12,42.12a127,127,0,0,1,9.28,36.77c.52,5.39.81,11.11,3.89,15.56,5.63-1.69,11.13-3.15,17-2.49,1.05-8.61-4.39-16.54-6.39-25-3.67-15.5,4.44-31.79,1.68-47.48-1.5-8.5-6.15-16.5-5.77-25.12.71-15.72,3.66-31.6.66-47-3.38-17.41-13.1-33.24-15.25-50.84-1.65-13.52,1-28.47-6.53-39.83C309.09,536.36,292.08,546.07,284,560.44Z"
                              transform="translate(-75 -74.57)" fill="#fbbebe"/>
                        <path d="M340.89,799.52c-1.73.06-3.75,0-4.82-1.37a5.36,5.36,0,0,1-.87-2.67A131.83,131.83,0,0,1,334,777.29c0-2.22.1-4.58,1.34-6.41a18.52,18.52,0,0,1,3.09-3c2.65-2.45,4.58-6,8-7.13A8.62,8.62,0,0,1,355,763a14.29,14.29,0,0,1,3.8,8.39c.5,3.72.08,7.77,2.05,11,.78,1.25,1.87,2.27,2.75,3.45,3,4,5.69,11.83-.5,13.45C356.54,801,347.7,799.3,340.89,799.52Z"
                              transform="translate(-75 -74.57)" fill="#3f3d56"/>
                        <path d="M355.9,335.14c3.5-6.76,1.41-15.46-3.59-21.2S340,305,332.54,303.27c-10-2.34-20.72-2.32-30.29,1.36-7.63,2.93-14.2,8-21.24,12.14a96.6,96.6,0,0,1-40.75,13c-16,1.35-33.87-.75-46.24,9.44-22.66,18.66-6.88,60.71-28,81.07-5.7,5.49-13.31,8.46-19.84,12.93s-12.37,11.62-11.32,19.46c.5,3.77,2.56,7.17,4.94,10.14,10.22,12.77,27.38,19.46,43.61,17.47s31.09-12.41,39-26.75c2-3.59,3.62-7.52,6.77-10.13,6.31-5.21,15.57-3.1,23.75-3.35,18.19-.56,34.71-16.15,36.3-34.29.68-7.75-.64-16.77,4.93-22.21,4.49-4.4,11.51-4.36,17.65-5.71,11.28-2.47,19.49-10.63,24.64-20.59,2.36-4.58,2.12-9.7,5.62-13.5C345.8,339.57,352.57,341.56,355.9,335.14Z"
                              transform="translate(-75 -74.57)" fill="#3f3d56"/>
                        <g opacity="0.1">
                            <path d="M225.35,332.94a96.62,96.62,0,0,0,19.57-3.73c-1.8.25-3.6.46-5.41.61-12.54,1.05-26.26,0-37.56,4.41C209.65,333.44,217.72,333.58,225.35,332.94Z"
                                  transform="translate(-75 -74.57)"/>
                            <path d="M214.19,446.57c-3.15,2.6-4.81,6.54-6.77,10.13A53.3,53.3,0,0,1,180,480.57c.89-.06,1.78-.14,2.67-.25,16.23-2,31.09-12.4,39-26.74,2-3.59,3.61-7.53,6.77-10.13l.54-.42C223.49,442.9,218.23,443.23,214.19,446.57Z"
                                  transform="translate(-75 -74.57)"/>
                            <path d="M351.56,314c-5-5.74-12.36-8.93-19.77-10.67-10-2.34-20.72-2.31-30.3,1.37l-.64.26a58.13,58.13,0,0,1,16.78,1.49c7.41,1.74,14.78,4.93,19.77,10.68s7.09,14.44,3.59,21.2c-3.33,6.42-10.1,4.42-13.91,8.57-3.5,3.79-3.26,8.92-5.62,13.5-4.43,8.57-11.14,15.79-20.1,19.22,3.13-.74,6.49-1.07,9.61-1.75,11.28-2.48,19.49-10.63,24.64-20.59,2.37-4.58,2.13-9.71,5.62-13.5,3.82-4.15,10.59-2.16,13.91-8.57C358.64,328.47,356.55,319.77,351.56,314Z"
                                  transform="translate(-75 -74.57)"/>
                            <path d="M296.82,381c-6.14,1.34-13.16,1.31-17.65,5.7-5.57,5.45-4.25,14.47-4.93,22.22-1.19,13.55-10.72,25.68-23.05,31.19l.91,0c18.19-.56,34.7-16.16,36.29-34.29.69-7.76-.63-16.78,4.94-22.22a13.6,13.6,0,0,1,4.42-2.82Z"
                                  transform="translate(-75 -74.57)"/>
                        </g>
                        <path d="M356.2,426.15c-.83,1.47-2.54,2.15-4.13,2.74-16.46,6.06-33.78,12.23-51.14,9.68-.65-2.73-1.29-5.47-1.93-8.2q-1.39-5.94-2.8-11.88c-.44-1.89-.89-3.8-1.25-5.72h0a33.6,33.6,0,0,1-.59-9.22,19.83,19.83,0,0,1,.6-3.31,17.21,17.21,0,0,1,2.54-5.51c.2-.27.41-.54.63-.8h0a12.61,12.61,0,0,1,3.54-2.95c2.95-1.62,7-2.31,8.19-5.45a8.48,8.48,0,0,0-.13-5c-1-4-2.81-7.76-3.93-11.72-1.42-5,.72-4.69,5.55-5.9,8.7-2.19,17.8-3.76,26.73-2-.42,4.41-.83,8.93.28,13.23s4.08,8.38,8.35,9.57c.63.18,1.3.29,2,.44h0a6.05,6.05,0,0,1,2.57,1.06,4.39,4.39,0,0,1,1.22,1.61,12.33,12.33,0,0,1,.85,3.3q2.35,15.74,3.39,31.63l0,.4A7.19,7.19,0,0,1,356.2,426.15Z"
                              transform="translate(-75 -74.57)" fill="#fbbebe"/>
                        <path d="M271.46,408.92c-3.74,5.69-5,12.61-6.14,19.33l-7.26,42.1c-1,5.76-1.89,12.09,1.06,17.14,1,1.71,2.4,3.19,3.13,5a27.63,27.63,0,0,1,1.08,5.59c1.7,9.65,11.19,16.16,20.71,18.5,3.44.85,7.46,1.18,10.17-1.11,3-2.49,3-7.23,1.23-10.65s-5-5.84-8.13-8.13l-10.37-7.64,6-46c.44-3.34,2-7.67,5.38-7.3,3.08.33,5.45,4.82,8.19,3.37a4.07,4.07,0,0,0,1.69-2.48c1.2-3.77.87-7.83.53-11.78l-1.24-14.26c-.41-4.63.78-8.1,1.34-12.45.65-5.07-2.73-3.53-6.9-2.44C283.92,397.83,276.09,401.86,271.46,408.92Z"
                              transform="translate(-75 -74.57)" fill="#fbbebe"/>
                        <path d="M400.41,478.06a7.46,7.46,0,0,1-3.24,2.94,36.88,36.88,0,0,1-26.66,3.75,57.69,57.69,0,0,0-6.34-1.48c-3.42-.42-6.9.26-10.35,0-7-.53-13.15-4.9-18-10-2.92-3-5.57-7.91-2.85-11.13a6.45,6.45,0,0,1,5.95-1.8,23.67,23.67,0,0,1,6.07,2.26,66.84,66.84,0,0,0,21.19,5.84c5,.52,11.36-.33,13.09-5.08.84-2.31.25-4.87-.34-7.26q-2.42-9.82-4.84-19.65a5.41,5.41,0,0,0-.6-1.63,2.12,2.12,0,0,0-.29-.38,4.53,4.53,0,0,0-2.23-1c-3.73-.92-7.46-2.41-10.13-5.16a22.45,22.45,0,0,1-4.12-6.63c-.28-.61-.54-1.23-.81-1.85-2.05-4.78-4.21-9.68-5.88-14.7a60.18,60.18,0,0,1-2.57-10.43c-.44-3.07-.68-4.48,1-5.84a10,10,0,0,1,1.43-.9c.77-.41,1.64-.82,2.56-1.21l.89-.37a61.4,61.4,0,0,1,8.41-2.68c6.94-1.61,14.35,1.75,19.11,7.06s7.23,12.26,8.81,19.21,2.39,14.07,4.37,20.91c.77,2.68,1.73,5.32,2.39,8a76.85,76.85,0,0,1,1.51,9.67q1.41,12.43,2.81,24.86A8.2,8.2,0,0,1,400.41,478.06Z"
                              transform="translate(-75 -74.57)" fill="#fbbebe"/>
                        <path d="M297.73,474.46c2,12.76-3.75,25.31-9.31,37,3.15,2.3,7,3.44,10.76,4.43a213.93,213.93,0,0,0,77.2,5.81c.62-4.32,1.2-8.9-.57-12.88-1.1-2.47-3-4.48-4.21-6.9-2-4-1.8-8.65-1.58-13.09L371.81,451c-12.41-5.72-26.8-.36-40.45.41-7.07.4-14.23-.46-21.2.79-3.62.65-15,2.44-16.71,6.17S297.12,470.4,297.73,474.46Z"
                              transform="translate(-75 -74.57)" fill="#fbbebe"/>
                        <path d="M297.73,474.46c2,12.76-3.75,25.31-9.31,37,3.15,2.3,7,3.44,10.76,4.43a213.93,213.93,0,0,0,77.2,5.81c.62-4.32,1.2-8.9-.57-12.88-1.1-2.47-3-4.48-4.21-6.9-2-4-1.8-8.65-1.58-13.09L371.81,451c-12.41-5.72-26.8-.36-40.45.41-7.07.4-14.23-.46-21.2.79-3.62.65-15,2.44-16.71,6.17S297.12,470.4,297.73,474.46Z"
                              transform="translate(-75 -74.57)" opacity="0.05"/>
                        <path d="M330.61,511.08c-13.45-2.8-26.67-7.43-40.4-7.75a3.57,3.57,0,0,0-2,.38,3.61,3.61,0,0,0-1.26,2.19q-2.13,7.35-3.81,14.81c-3.72,16.53-5.55,34.79,2.63,49.63-.08-4.82,2.95-9.33,7-12s8.9-3.75,13.7-4.19,9.93-.26,14.4,1.71a19.55,19.55,0,0,1,11.37,15.9l47.25,1.53a1.73,1.73,0,0,0,2.2-1.89,192.76,192.76,0,0,0-.19-45.61c-.52-4.23-.59-10.1-5.35-11.69-5.68-1.9-14.66.32-20.73.06A153.52,153.52,0,0,1,330.61,511.08Z"
                              transform="translate(-75 -74.57)" fill="#3f3d56"/>
                        <path d="M373.5,437l-.15,21-47.8,1.59c-8.77.3-17.61.6-26.16,2.55-2.46.56-4.89,1.26-7.31,1.95-2.52-9.23-5-18.9-4.34-28.31h0a37.21,37.21,0,0,1,1.32-7.5c1.52-5.28,4.37-10.26,5.89-15.48h0a23.67,23.67,0,0,0,1-6.26,30.39,30.39,0,0,0-1-6.27,19.21,19.21,0,0,1-.62-5.15l3.79-1.17h0c.11.45.2.89.28,1.35.16.95.29,1.92.38,2.89v0a59.16,59.16,0,0,1,.2,7.23c-.13,4.82-.78,10.19,2.23,14,3.91,4.89,11.43,4.13,17.57,2.91l16.08-3.21c5.08-1,10.75-2.42,13.4-6.87a15.27,15.27,0,0,0,1.74-7l0-.48a55.24,55.24,0,0,0-1.57-15.79c-.39-1.62-.87-3.22-1.41-4.79h1.61a6.05,6.05,0,0,1,2.57,1.06,4.39,4.39,0,0,1,1.22,1.61l.89-.37a139.87,139.87,0,0,0,17.32,41,18.7,18.7,0,0,1,2.4,4.71,12.44,12.44,0,0,1,.4,2.78C373.51,435.57,373.5,436.28,373.5,437Z"
                              transform="translate(-75 -74.57)" fill="#ff6f61"/>
                        <circle cx="248" cy="269.87" r="29" fill="#fbbebe"/>
                        <path d="M271.46,408.92c-3.74,5.69-5,12.61-6.14,19.33l-7.26,42.1c-1,5.76-1.89,12.09,1.06,17.14,1,1.71,2.4,3.19,3.13,5a27.63,27.63,0,0,1,1.08,5.59c1.7,9.65,11.19,16.16,20.71,18.5,3.44.85,7.46,1.18,10.17-1.11,3-2.49,3-7.23,1.23-10.65s-5-5.84-8.13-8.13l-10.37-7.64,6-46C283.34,439.74,276.09,401.86,271.46,408.92Z"
                              transform="translate(-75 -74.57)" fill="#fbbebe"/>
                        <path d="M389.68,410c1.58,6.95,2.39,14.07,4.37,20.91.77,2.69,1.73,5.32,2.39,8a76.7,76.7,0,0,1,1.51,9.66l2.81,24.86a8.24,8.24,0,0,1-.35,4.6,7.52,7.52,0,0,1-3.24,2.94,37,37,0,0,1-26.66,3.75,53.45,53.45,0,0,0-6.34-1.48c-3.42-.43-6.9.26-10.35,0-7-.53-13.15-4.89-18-9.95-2.92-3-5.57-7.92-2.85-11.14a6.45,6.45,0,0,1,5.95-1.8,23.7,23.7,0,0,1,6.07,2.27,67.08,67.08,0,0,0,21.19,5.83c5,.53,11.36-.32,13.09-5.08.84-2.31.25-4.87-.34-7.26l-4.84-19.65C373.89,435.78,388.1,403.06,389.68,410Z"
                              transform="translate(-75 -74.57)" fill="#fbbebe"/>
                        <path d="M305.05,353.37c-1.29-4.63-3.1-10.42.53-13.56a8.41,8.41,0,0,1,4.52-1.73c8.15-1,16.58,3.8,24.38,1.24a13.56,13.56,0,0,0,2.59-24.62c-3.41-2-7.48-2.39-11.41-2.74-10.35-.95-21.14-1.83-30.82,2S277,327.65,279,337.86c.93,4.87,3.94,9.06,7,12.94,2.35,2.95,11.78,17,15.57,16.8C306.91,367.3,305.89,356.38,305.05,353.37Z"
                              transform="translate(-75 -74.57)" fill="#3f3d56"/>
                        <path d="M337.07,314.7a13.55,13.55,0,0,0-1.8-.87,13.54,13.54,0,0,1-4.9,22.9c-7.8,2.56-16.23-2.24-24.38-1.24a8.41,8.41,0,0,0-4.52,1.73c-3.63,3.14-1.82,8.93-.53,13.56.84,3,1.86,13.93-3.46,14.23h-.09c1.65,1.61,3.14,2.66,4.2,2.6,5.32-.3,4.3-11.22,3.46-14.23-1.29-4.63-3.1-10.42.53-13.56a8.41,8.41,0,0,1,4.52-1.73c8.15-1,16.58,3.8,24.38,1.24a13.56,13.56,0,0,0,2.59-24.62Z"
                              transform="translate(-75 -74.57)" opacity="0.1"/>
                        <rect x="362" y="600.87" width="326" height="101" fill="#3f3d56"/>
                        <path d="M586,708.08v35.7l28-17.85Z" transform="translate(-75 -74.57)" fill="#fff"/>
                        <path d="M336,108.7l-15.52,9.84,9.42-17.13a15.34,15.34,0,0,0-9.39-3.35h-.25a18.16,18.16,0,0,1-3.22-.24l-5.26,3.33,2.26-4.1a18.62,18.62,0,0,1-9.2-7l-9.42,6,5.95-10.81c-5.51-6.61-12.93-10.66-21.09-10.66-9.79,0-18.51,5.82-24.14,14.89a18,18,0,0,1-16,8.6h-.53c-10.81,0-19.57,12.25-19.57,27.37s8.76,27.37,19.57,27.37a14.73,14.73,0,0,0,6.82-1.71,28.19,28.19,0,0,1,23.68-.46,24.66,24.66,0,0,0,20.14,0,28.25,28.25,0,0,1,23.48.46,14.65,14.65,0,0,0,6.74,1.67c10.81,0,19.57-12.26,19.57-27.37A34.71,34.71,0,0,0,336,108.7Z"
                              transform="translate(-75 -74.57)" fill="#f2f2f2"/>
                        <path d="M306.74,148.75A28.89,28.89,0,0,0,290,150.57a24.71,24.71,0,0,1-20.14,0,28.22,28.22,0,0,0-23.68.47,14.75,14.75,0,0,1-6.82,1.7c-9.6,0-17.59-9.67-19.25-22.43a18.68,18.68,0,0,0,4.8-5.17c5.63-9.08,14.35-14.9,24.14-14.9s18.4,5.75,24,14.73A18.51,18.51,0,0,0,289,133.68h.25C296.9,133.68,303.52,139.81,306.74,148.75Z"
                              transform="translate(-75 -74.57)" opacity="0.03"/>
                        <path d="M867,331.74l-7.74,4.91,4.7-8.55a7.67,7.67,0,0,0-4.68-1.67h-.13a9.42,9.42,0,0,1-1.6-.11L854.88,328l1.13-2.05a9.3,9.3,0,0,1-4.59-3.48l-4.7,3,3-5.39a13.74,13.74,0,0,0-10.52-5.32c-4.88,0-9.23,2.9-12,7.43a9,9,0,0,1-8,4.29h-.26c-5.39,0-9.76,6.12-9.76,13.65s4.37,13.66,9.76,13.66a7.35,7.35,0,0,0,3.4-.85,14.08,14.08,0,0,1,11.81-.24,12.26,12.26,0,0,0,5,1.09,12.53,12.53,0,0,0,5-1.06,14.11,14.11,0,0,1,11.71.22,7.27,7.27,0,0,0,3.36.84c5.39,0,9.76-6.12,9.76-13.66A17.3,17.3,0,0,0,867,331.74Z"
                              transform="translate(-75 -74.57)" fill="#f2f2f2"/>
                        <path d="M852.37,351.72a14.32,14.32,0,0,0-8.36.91,12.28,12.28,0,0,1-10,0,14.12,14.12,0,0,0-11.81.23,7.33,7.33,0,0,1-3.4.86c-4.79,0-8.77-4.83-9.6-11.19a9.21,9.21,0,0,0,2.39-2.58c2.81-4.53,7.16-7.43,12-7.43s9.18,2.87,12,7.34a9.22,9.22,0,0,0,8,4.37h.12C847.46,344.2,850.77,347.26,852.37,351.72Z"
                              transform="translate(-75 -74.57)" opacity="0.03"/>
                        <path d="M884.13,204.23l12.43,7.89L889,198.39a12.32,12.32,0,0,1,7.52-2.68h.2a14.65,14.65,0,0,0,2.58-.19l4.22,2.67-1.81-3.28a15.06,15.06,0,0,0,7.37-5.6l7.55,4.78-4.77-8.66c4.41-5.3,10.36-8.54,16.9-8.54,7.85,0,14.83,4.66,19.34,11.93a14.45,14.45,0,0,0,12.79,6.89h.42c8.66,0,15.68,9.82,15.68,21.93s-7,21.93-15.68,21.93a11.81,11.81,0,0,1-5.46-1.37,22.59,22.59,0,0,0-19-.37,19.77,19.77,0,0,1-16.13,0,22.62,22.62,0,0,0-18.81.36,11.86,11.86,0,0,1-5.41,1.34c-8.66,0-15.68-9.82-15.68-21.93A27.89,27.89,0,0,1,884.13,204.23Z"
                              transform="translate(-75 -74.57)" fill="#f2f2f2"/>
                        <path d="M907.56,236.32A23.14,23.14,0,0,1,921,237.78a19.77,19.77,0,0,0,16.13,0,22.63,22.63,0,0,1,19,.38,11.8,11.8,0,0,0,5.46,1.36c7.69,0,14.09-7.75,15.43-18a14.56,14.56,0,0,1-3.85-4.15c-4.51-7.26-11.5-11.93-19.34-11.93s-14.75,4.61-19.26,11.8a14.83,14.83,0,0,1-12.78,7h-.2C915.45,224.25,910.14,229.16,907.56,236.32Z"
                              transform="translate(-75 -74.57)" opacity="0.03"/>
                    </svg>
                </div>
                <svg class="pillarsSvg" viewBox="0 0 892 1005"
                     version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g transform="translate(-433.000000, -19.000000)">
                        <g transform="translate(956.000000, 542.500000) rotate(-45.000000) translate(-956.000000, -542.500000) translate(343.000000, 415.000000)">
                            <rect class="loginPillar" fill="#325C6F" x="1.31284195" y="0.0689757708" width="1224"
                                  height="36"></rect>
                            <rect class="loginPillar" fill="#C8C545" x="0.790240998" y="54.8697513" width="1131"
                                  height="36"></rect>
                            <rect class="loginPillar" fill="#82C6BA" x="0.267640046" y="109.67052683" width="1038"
                                  height="36"></rect>
                            <rect class="loginPillar" fill="#D45C63" x="-0.254960906" y="164.47130233" width="945"
                                  height="36"></rect>
                            <rect class="loginPillar" fill="#9E96E0" x="-0.777561858" y="219.27207786" width="852"
                                  height="36"></rect>
                            <rect class="loginPillar" fill="#808185" x="-1.30016281" y="274.07285339" width="759"
                                  height="36"></rect>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
        <div class="col-md-6 justify-content-center align-self-center">
            <div class="col-md-11 mx-auto mt-64 marginTop10v p-md-0 p-sm-0">
                <div class="">
                  <h3 class="registrationti">OOPS!</h3>
                    <p class="registrationlabel">This page is no longer available.</p>
                    <div class="paginationRow mt-5">
                   <a href="{% url 'frontendsite-index' %}" class="btn ml-0">Back</a>
                   </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}