body {
    position: relative;
    overflow-x: hidden;
    background-color: white;
}

h1, h2, h3, h4, h5, h6, a {
    font-family: Roboto, Open_Sans, sans-serif;
    font-weight: 300;
}

p {
    font-family: Open_Sans, sans-serif;
}

.hide {
    display: none;
}

.color-primary {
    color: var(--primary);
}

a:hover {
    color: lightgrey;
}

/* Side Menu and Page Layout  */
#wrapper {
    padding-left: 100px;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 100px;
    width: 100px;
    height: 100%;
    margin-left: -100px;
    background: var(--primary);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#page-content-wrapper {
    width: calc(100vw - 100px);
    height: 100vh;
}

@media (max-width: 768px) {
    .onBoardingMob {
        overflow: hidden;
    }

    .paginationCircles {
        display: none;
    }

    .hideSm {
        display: none;
    }
}

#wrapper #page-content-wrapper {
    position: absolute;
    margin-right: -100px;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.paginationRow {
    margin-top: 3vh;
    padding-bottom: 3vh;
}

.registrationPg{
    min-height: 70vh;
}

@media only screen and (min-width: 990px) {

    #menu {
        display: none;
    }

    .left-primary {
        min-height: 100vh !important;
    }

    .fixedBottom {
        position: absolute;
        bottom: 0
    }

    .firstName {
        padding-left: 0;
    }

    .lastName {
        padding-right: 0;
    }

    .scroll {
        height: 100vh;
        overflow-y: auto;
    }

    .scroll-sm {
        height: 35vh;
        overflow-y: auto;
    }

    .scroll::-webkit-scrollbar {
        width: 10px;

    }

    .scroll::-webkit-scrollbar-thumb {
        background: var(--primary);
        border-radius: 50px;
    }

    .scroll-sm::-webkit-scrollbar {
        width: 10px;

    }

    .scroll-sm::-webkit-scrollbar-thumb {
        background: var(--primary);
        border-radius: 50px;
    }

}

@media only screen and (max-width: 990px) {
    .hideOnMob {
        display: none;
    }

    .employerNav {
        padding-left: 10px;
    }

    .firstName {
        padding: 0;
    }

    .lastName {
        padding: 0;
    }

    .fixedBottom {
        margin-top: 10vh;
    }

    .scroll {
        height: 100vh;
    }

    #page-content-wrapper {
        width: 100vw;
    }

}

#sidebar-wrapper.hidden {
    left: -100px;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

#wrapper #page-content-wrapper.hidden {
    margin-right: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#wrapper.hidden {
    padding-left: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    background-color: var(--secondary) !important;
}

.sidebar-brand img {
    max-width: 100%;
}

.alertsDropDown a {
    color: black !important;
}

.dropright button {
    font-weight: 200;
}

.dropright button:hover {
    color: white
}

#menu.hidden {
    position: fixed;
    left: 2px;
    top: 2px;
    /*float: left;*/
    z-index: 1001;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#menu {
    padding: 10px 8px;
    position: fixed;
    left: 120px;
    top: 15px;
    color: white;
    /*float: left;*/
    z-index: 1001;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.navbar {
    padding: 0;
}

.nav-active {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 100px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 2px 15px 0;
    padding-top: 5px;
    padding-bottom: 5px;;
}

.sidebar-brand {
    position: relative;
    background: white;
}

.nav-item a svg {
    height: 40px;
}

.nav-item a {
    color: white;
    font-weight: 200;
}

.icon {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.active .icon {
    stroke-width: 2 !important;
}

.active {
    font-weight: 400 !important;
}

/* Two Tone Page Content */
.left-primary {
    background-color: var(--primary-accent);
    width: 100%;
    min-height: 100%;
}

.no-overflow {
    padding: 0;
    margin: 0;
}

.secondary {
    color: var(--secondary);
}

/*Placement Control*/
.marginBottom20 {
    margin-bottom: 20px;
}

.marginBottom0 {
    margin-bottom: 0;
}

.marginTop20v {
    margin-top: 20vh;
}

.marginTop10v {
    margin-top: 10vh;
}

.marginTop5v {
    margin-top: 5vh;
}

.fullWidth {
    width: 100%;
}

.heightFull {
    height: 100%;
}

.fullHeight {
    min-height: 100vh;
}

.autoHeight {
    height: auto;
}

.margin3 {
    margin: 3vh;
}

.noMargin {
    margin: 0;
}

.marginTop3 {
    margin-top: 3vh;
}

.marginTop10 {
    margin-top: 10px;
}

.marginTop20 {
    margin-top: 20px;
}

.padding20 {
    padding: 20px;
}

.padding10 {
    padding: 10px;
}

.padding5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.paddingTop15 {
    padding-top: 15px
}

.verticalMargin3 {
    margin: 3vh 0
}

.noTop {
    margin-top: 0;
    padding-top: 0;
}

/* Forms */
.whiteForm ::placeholder {
    color: white !important;
    opacity: 1; /* Firefox */
}

.whiteForm :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white !important;
}

.whiteForm ::-ms-input-placeholder { /* Microsoft Edge */
    color: white !important;
}

.whiteForm div label {
    color: white;
}

.whiteForm div input {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    height: 40px;
}

.whiteInput {
    background-color: transparent;
    color: white;
    border: 1px solid white
}

.whiteSelect select {
    color: white !important;
    background-color: transparent !important;
    border: 1px solid white;
}

.whiteSelect {
    text-align: left;
}

.whiteSelect select :focus {
    color: white !important;
    background-color: transparent;
    border: 1px solid white;
}

.input-group-text {
    background-color: white;
    color: var(--primary-accent);
}

.onBoardingForm {
    height: 90%;
}

/* Goals */
.goalInput {
    padding: 5px 10px 10px !important;
}

.goalLabel {
    margin: 0 !important;
    padding-left: 0 !important;
}

.goalCheckbox {
    position: relative !important;
    height: 25px !important;;
    width: 25px !important;
}

.whiteFill {
    fill: #FFFFFF;
}

.whiteBorder {
    border: 1px solid white !important;
}

.borderRadius5 {
    border-radius: 5px !important;
}

.noBackground {
    background-color: transparent;
}

.surveyDescription {
    margin: 8vh 4vw;
}

.white {
    color: white;
}

.recipeImage {
    object-fit: cover;
    height: 65vh;
    width: 100%;
    object-position: 50% 50%;
}

.articleImage {
    object-fit: cover;
    width: 100%;
    object-position: 50% 50%;
}

/* Surveys and survey table */
.table-dark td {
    border-color: white !important;
}

.table-dark th {
    border-color: white !important;
}

.table-dark tr {
    border-color: white !important;
}

.progress {
    background-color: transparent;
    height: 1.4rem;
    border: 1px solid var(--secondary);
}

.progress-bar {
    -webkit-animation: progressFill 1.5s ease; /* Safari 4.0 - 8.0 */
    animation: progressFill 1.5s ease;
    background-color: var(--secondary);
}

@keyframes progressFill {
    from {
        width: 0;
    }
    to {

    }
}

@keyframes progressRemove {
    from {

    }
    to {
        width: 0;
    }
}

/*Blue Checkbox */
.customCheckbox {
    font-family: Roboto, Open_Sans, sans-serif;
    font-weight: 300;
    display: block;
    position: relative;
    padding-left: 50px;
    margin-top: 2vh;
    padding-top: 0;
    cursor: pointer;
    font-size: 20px;
}

.customCheckbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 30px;
    width: 30px;
    background: transparent;
    border: 2px solid var(--secondary);
    border-radius: 5px;
}

.checkbox:hover input ~ .checkbox_indicator,
.checkbox input:focus ~ .checkbox_indicator {
    background: transparent;
}

.checkbox input:checked ~ .checkbox_indicator {
    background: var(--secondary);
    display: block;
    cursor: pointer;
    box-shadow: 0 0 0 var(--pulse);
    animation: pulse 1s;
}

.checkbox:hover input:not([disabled]):checked ~ .checkbox_indicator,
.checkbox input:checked:focus ~ .checkbox_indicator {
    background: var(--secondary);
}

.bigCheckbox .checkbox_indicator {
    top: 10px !important;
}

.bigCheckbox.customCheckbox {
    font-size: 30px !important;
}

.checkbox_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}

/* White Checkbox */
.whiteCheckbox_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 30px;
    width: 30px;
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
}

.whiteCheckbox:hover input ~ .whiteCheckbox_indicator,
.whiteCheckbox input:focus ~ .whiteCheckbox_indicator {
    background: transparent;
}

.whiteCheckbox input:checked ~ .whiteCheckbox_indicator {
    background: #ffffff;
    display: block;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.4);
    animation: whitePulse 1s;
}

@-webkit-keyframes whitePulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 #FFFFFF66;
    }
    70% {
        -webkit-box-shadow: 0 0 0 8px #FFFFFF00;
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 #FFFFFF00;
    }
}

.whiteCheckbox {
    color: white;
}

.whiteCheckbox:hover input:not([disabled]):checked ~ .whiteCheckbox_indicator,
.whiteCheckbox input:checked:focus ~ .whiteCheckbox_indicator {
    background: white;
}

.whiteCheckbox_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}

/* Content for white page */
.btn-outline-secondary {
    color: var(--secondary) !important;
    border-color: var(--secondary);
    cursor: pointer;
}

.btn-outline-secondary:hover {
    color: #fff !important;
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.btn-outline-secondary:focus {
    box-shadow: none;
}

.btn-outline-secondary:active {
    color: #fff !important;
    background-color: var(--secondary) !important;
    border-color: var(--secondary) !important;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show > .btn-outline-secondary.dropdown-toggle {
    color: #fff !important;
    background-color: var(--secondary) !important;
    border-color: var(--secondary) !important;
}

.clickable:hover {
    cursor: pointer;
}

.secondaryFill {
    fill: var(--secondary)
}

.title {
    margin: 5vh 0 2vh;
}

.helpButton {
    border-radius: 5px;
    color: white;
    padding: 10px;
}

.environmentalPillar {
    background-color: #83c6b9;
}

.environmentalPillar.helpButton:hover {
    filter: brightness(95%);
}

.financialPillar {
    background-color: #335c6f;
}

.financialPillar.helpButton:hover {
    filter: brightness(95%);
}

.socialPillar {
    background-color: #c8c645;
}

.socialPillar.helpButton:hover {
    filter: brightness(95%);
}

.mentalPillar {
    background-color: #9f95e1;
}

.mentalPillar.helpButton:hover {
    filter: brightness(95%);
}

.professionalPillar {
    background-color: #d35c63;
}

.professionalPillar.helpButton:hover {
    filter: brightness(95%);
}

.physicalPillar {
    background-color: #808185;
}

.physicalPillar.helpButton:hover {
    filter: brightness(95%);
}

.technicalHelp {
    background-color: #000080;
}

.secondaryBackground {
    background-color: var(--secondary);
}

.companyLogo {
    max-width: 100%;
    max-height: 25vh;
}

.pillarsSvg {
    min-height: 100vh;
    position: absolute;
    right: 0;
    min-width: 150%;
}

.loginImg {
    z-index: 999;
    position: absolute;
    left: 5vw;
    right: 5vw;
    top: 19%;
    text-align: center;
}

.loginImg img {
    width: 25vw;
}

.onboardingLeft {
    padding: 0;
    height: 100vh;
    overflow-y: hidden
}

.surveySvg {
    margin: 8vh
}

.questionTitle {
    font-size: 2.4rem
}

.questionNum {
    margin-left: 2vw;
    font-weight: 600;
    font-size: 5rem;
}

.loginPillar {
    -webkit-animation: progressFill 1.5s ease; /* Safari 4.0 - 8.0 */
    animation: progressFill 1.5s ease;
}

.reversePillar {
    -webkit-animation: progressRemove 1.5s ease; /* Safari 4.0 - 8.0 */
    animation: progressRemove 1.5s ease;
    animation-fill-mode: forwards;
}

.pulse:hover {
    animation: pulse 1.5s infinite;
}

.pulse {
    display: block;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.4);
    animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 var(--pulse);
    }
    70% {
        -webkit-box-shadow: 0 0 0 8px var(--pulse-zero);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 var(--pulse-zero);
    }
}

.errorSvg {
    width: 50vw;
    height: auto
}

.accentFill {
    fill: var(--primary)
}

.weakPassword {
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background-color: red;
}

.mediumPassword {
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background-color: orange;
}

.strongPassword {
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background-color: green;
}

nav {
    background-color: var(--primary)
}

.brandBackground {
    background-color: white;
    border: var(--primary) solid 1px;
}

.selectedQuestion {
    background-color: var(--secondary);
    color: white;
}

.selectedQuestion :hover {
    background-color: var(--secondary) !important;
    color: black;
}

.employerBrand {
    height: 60px;
    padding: 0;
}

.onBoardingTitle {
    font-size: 3rem
}

.chevron {
    float: left;
    padding-top: 20px;
    padding-bottom: 10px
}

.paginationCircles {
    height: 60px;
    overflow: hidden
}

.brandBtn {
    color: var(--primary) !important;
}

.brandBtn:hover {
    color: var(--secondary) !important;
}

.backgroundWhite {
    background-color: white;
}

.black {
    color: black;
}

.dateWhite {
    border: 1px solid white;
    border-radius: 5px;
}

.contentLink {
    color: white;
    margin-top: 2vh;
}

.contentLink:hover {
    color: var(--primary);
    text-decoration: none;
}

.contentBox {
    min-height: 300px;
    border-radius: 5px
}

.contentImgBox {
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    height: 260px;
}

.contentGoalBox {
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.contentImg {
    height: 260px;
    object-fit: cover;
    transition: all 0.3s;
    width: 100%;
}

.contentVideo {
    object-fit: cover;
    transition: all 0.3s;
    width: 100%;
}

.contentVideo:hover {
    transform: scale(1.1);
}

.contentVideoBox {
    border-radius: 5px
}

.contentImg:hover {
    transform: scale(1.1);
}

.contentPlaceholder {
    padding-top: 260px;
}

.btn-primary {
    border-color: var(--primary);
    background-color: var(--primary);
}

.btn-primary:hover {
    border-color: var(--primary-accent);
    background-color: var(--primary-accent);
}

.text-overflow {
    overflow-wrap: break-word;
}

.fullSvg {
    width: 50vw;
    height: auto
}

#video {
    border-radius: 5px 5px 0 0;
}

.hoveredText {
    color: white;
}

.hoveredText:hover {
    color: var(--primary);
}

.custom-range::-webkit-slider-thumb {
    background: var(--secondary);
}

.custom-range::-moz-range-thumb {
    background: var(--secondary);
}

.itemIcon {
    position: absolute;
    left: 10px;
    height: 25px;
    top: 6px;
}

.tableMaxWidth {
    max-width: 20vw
}

.goalBox {
    border: 1px white solid;
    border-radius: 5px
}

#ui-datepicker-div {
    z-index: 1001 !important;
    padding: 0;
}

.contacts {
    border-top: 1px solid white
}

.companyLogo {
    height: 25vh
}

.chevronBtn {
    height: 30px
}

.backgroundPrimary {
    background: var(--primary)
}

.curved {
    border-radius: 5px
}

.text-end {
    text-align: end;
}

.marginBottom10v {
    margin-bottom: 10vh;
}

.videoGoalScroll {
    max-height: 80vh;
    overflow: scroll
}

.loginLogo {
    height: 30vh;
}

.blackBorder {
    border: 1px solid black !important;
}