<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    body { margin: 0; padding: 0px; background-color:#FFF;padding:3px;}
    .container{ width: 750px; margin: 0 auto;  padding-top: 15px;}
    a { color: #215B72; text-decoration: none; }
    .myoptimelist { margin: 0px; list-style: none; padding: 0px; }
    .myoptimelist li { display: inline-block; margin-right: 4px; }
    .clearfix{ clear: both; }
    .logo{float: left; width: 220px;text-align: center;}
    .right-text{float: left; width: 480px;}
    .right-text-bottom{ margin-top: 15px; padding-top: 15px;}
    .right-text-bottom-logo{float: left;  width: 180px; }
    .right-text-bottom-text {float: left;}
    @media (max-width:767px){
    .container{ width: 90%; }
    .logo, .right-text {float: none; width: 98%;}
    .logo{ padding-top: 15px; }
    .logo img{ width: 104px;}
    .right-text-bottom-logo{float: left;  width: 120px; }
    .right-text-bottom-logo img{ width: 95px; }
    }
    </style>
  </head>
  <body>
    <div style="padding:0;margin:0;background-color:#ffffff">
      <div class="container">
        <div class="logo"><a target="_blank" href="https://optimeapp.com"><img width="180" src="https://optime-production.s3.amazonaws.com/assets/favicon.png"> </a></div>
        <div class="right-text">
          <p style="font-family:Arial, Helvetica, sans-serif; font-size:16pt;line-height:1.4em;color:#9D96C9;margin-top: 0;">Hello and welcome to OptiMe</p>
          <p style="font-family:Arial, Helvetica, sans-serif; font-size:12pt;line-height:1.4em;color:#707070">Congratulations, you can now access your company’s Employee Wellbeing platform!</p>
          <p style="font-family:Arial, Helvetica, sans-serif; font-size:12pt;line-height:1.4em;color:#707070">To do so click on the following link and complete your registration details.</p>
          <p style="font-family:Arial, Helvetica, sans-serif; font-size:12pt;line-height:1.4em;color:#215B72;word-wrap: break-word;">{{ invite_link }}</p>
          <p style="font-family:Arial, Helvetica, sans-serif; font-size:12pt;line-height:1.4em;color:#707070">We hope you enjoy using your new Employee Wellbeing platform. If you have any questions or suggestions, please do not hesitate to contact us at <a style="color: #215B72;" href="mailto:hello@myopti.me">hello@myopti.me</a>.</p>
          <p style="font-family:Arial, Helvetica, sans-serif; font-size:12pt;line-height:1.4em;color:#707070">Have a wonderful day ahead.</p>
          <div class="right-text-bottom">
            <div class="right-text-bottom-logo">
              <img width="160" src="https://myopti.me/wp-content/themes/myoptime/images/emailuser.png">
            </div>
            <div class="right-text-bottom-text">
              <p style="font-family:Arial, Helvetica, sans-serif; font-size:12pt;line-height:1.4em;color:#707070">Bethany Ainsley <br />
              Chief Executive Officer</p>
              <p style="font-family:Arial, Helvetica, sans-serif; font-size:12pt;line-height:1.4em;color:#707070; font-weight:bold"><a style="color:#707070; text-decoration:none;" target="_blank" href="https://myopti.me">www.myopti.me</a></p>
              <ul class="myoptimelist">
                <li><a target="_blank" href="https://www.facebook.com/MyOptiMe/"> <img width="35" src="https://myopti.me/wp-content/themes/myoptime/images/facebook.png"></a></li>
                <li><a target="_blank" href="https://twitter.com/opti_me"> <img width="35" src="https://myopti.me/wp-content/themes/myoptime/images/twitter.png"></a></li>
                <li><a target="_blank" href="https://www.linkedin.com/company/myoptime/"> <img width="35" src="https://myopti.me/wp-content/themes/myoptime/images/linkedin.png"></a></li>
                <li><a target="_blank" href="https://www.instagram.com/opti.me/"> <img width="35" src="https://myopti.me/wp-content/themes/myoptime/images/instagram.png"></a></li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </body>
</html>