{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Page Description -->
    <meta name="description"
          content="OptiMe is supporting employees to reach their optimal self, creating healthy & happy workforces, enabling businesses to thrive.">
    <!-- Author -->
    <meta name="author" content="Nebula Labs">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/favicon/site.webmanifest' %}">
    <!-- Page Title -->
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap" rel="stylesheet">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="{% static 'css/hamburgers.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery-ui.theme.min.css' %}" rel="stylesheet">
    <!-- Custom -->
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
    <!-- Twitter card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@opti_me">
    <!-- Facebook Open Graph -->
    <meta property="og:title" content="OptiMe">
    <meta property="og:url" content="https://optimeapp.com/">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://myopti.me/assets/favicon/logo.png">
    <meta property="og:image:alt" content="OptiMe Logo"/>
    <meta property="og:description"
          content="OptiMe is supporting employees to reach their optimal self, creating healthy & happy workforces, enabling businesses to thrive.">
    <meta property="og:site_name" content="OptiMe">
    <meta property="og:locale" content="en-GB">
    <!-- Web app -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152536773-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-152536773-1');
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-152536773-1', 'auto', {
            userId: '{{user.id}}'
        });

        ga('send', {
            hitType: 'event',
            eventCategory: 'Company',
            eventAction: 'Logged-in',
            eventLabel: '{{ user.company.name }}',
        });

        ga('send', {
            hitType: 'event',
            eventCategory: 'User',
            eventAction: 'Logged-in',
            eventLabel: '{{ user.id }}',
        });

        ga('send', 'pageview');
    </script>
</head>
<body class="employerBody">
{% if user.is_authenticated %}
    <nav class="navbar navbar-expand-md navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand brandBackground employerBrand" href="{% url 'frontendsite-index' %}">
            {% if  user.company.logo %}
                <img alt="{{ user.company.name }}" src="{{ user.company.logo.url }}"
                     class="d-inline-block align-top heightFull">
            {% endif %}
        </a>
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item employerNav {% if active_page == 'home' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'frontendsite-index' %}">Home
                        {% if active_page == 'home' %}<span class="sr-only">(current)</span>{% endif %}
                    </a>
                </li>
                <li class="nav-item employerNav {% if active_page == 'employees' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'frontendsite-employees' %}">Employees
                        {% if active_page == 'employees' %}<span class="sr-only">(current)</span>{% endif %}
                    </a>
                </li>
                <li class="nav-item employerNav {% if active_page == 'questionnaires' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'frontendsite-employer-questionnaires' %} ">Questionnaires
                        {% if active_page == 'questionnaires' %}<span class="sr-only">(current)</span>{% endif %}
                    </a>
                </li>
                <li class="nav-item employerNav {% if active_page == 'settings' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'frontendsite-employer-profile' %}">Settings
                        {% if active_page == 'settings' %}<span class="sr-only">(current)</span>{% endif %}
                    </a>
                </li>
                <li class="nav-item employerNav">
                    <a class="nav-link" href="{% url 'frontendsite-logout' %}">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>
{% endif %}
{% block content %}
{% endblock %}

<div class="modal fade bd-example-modal-lg" {% if user.last_last_login %}data-firstLogin="False"
     {% else %}data-firstLogin="True"{% endif %}
     id="onboardingModal" tabindex="-1" role="dialog"
     aria-labelledby="onboardingModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">

        <div id="tutorialPg1" class="tutorialPg modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Home</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <img alt="" src="{% static 'assets/tutorial/index.png' %}" class="fullWidth">
            <div class="modal-body">
                <p>Data is at the heart of this platform. From this main dashboard, you will get a visual glimpse of
                    employee engagement with the platform, as well as the nature of employee's wellbeing based on
                    interaction with the platform's content.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary nextTutorialPg">Next</button>
            </div>
        </div>
        <div id="tutorialPg2" class="tutorialPg modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Employees</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <img alt="" src="{% static 'assets/tutorial/employee.png' %}" class="fullWidth">
            <div class="modal-body">
                <p>Invite your employees to the platform by inputting their email address here. You will also have the
                    ability to reset user passwords as well as delete accounts.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary lastTutorialPg mr-auto">Previous</button>

                <button type="button" class="btn btn-primary nextQuestion nextTutorialPg">Next</button>
            </div>
        </div>
        <div id="tutorialPg3" class="tutorialPg modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Questionnaires</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <img alt="" src="{% static 'assets/tutorial/questionnaires.png' %}" class="fullWidth">
            <div class="modal-body">
                <p>Questionnaires are an important part of the platform experience. Here, employer's will be able to see
                    past and present question sets with an indication of engagement levels as well as viewing response
                    data. They will also have the ability to create new questions and prepare them for publishing.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary lastTutorialPg mr-auto">Previous</button>

                <button type="button" class="btn btn-primary nextQuestion nextTutorialPg">Next</button>
            </div>
        </div>
        <div id="tutorialPg4" class="tutorialPg modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <img alt="" src="{% static 'assets/tutorial/settings.png' %}" class="fullWidth">
            <div class="modal-body">
                <p>Employer's will be able to define the platform onboarding process for their employee through the
                    manipulation of the 'Introductory Survey'.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary lastTutorialPg mr-auto">Previous</button>
                <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-primary">Close</button>
            </div>
        </div>
    </div>
</div>

{% if user.is_authenticated %}
    <script>
        checkUpdate();

        function checkUpdate() {
            let d = JSON.stringify(new Date());
            if (d !== localStorage.getItem("lastCheck") || localStorage.getItem("lastCheck") === null) {
                {% if company.primary_colour %}
                    localStorage.setItem("primary_colour", '{{ company.primary_colour }}');
                    document.body.style.setProperty('--primary', '{{ company.primary_colour }}');
                {% endif %}
                {% if company.primary_accent_colour %}
                    localStorage.setItem("primary_accent_colour", '{{ company.primary_accent_colour }}');
                    document.body.style.setProperty('--primary-accent', localStorage.getItem("primary_accent_colour"));
                {% endif %}
                {% if company.secondary_colour %}
                    localStorage.setItem("secondary_colour", '{{ company.secondary_colour }}');
                    document.body.style.setProperty('--primary-accent', localStorage.getItem("primary_accent_colour"));
                {% endif %}
                localStorage.setItem("lastCheck", d)
            }
        }

        // Variable colors
        if (localStorage.getItem("primary_colour") === null) {
            {% if company.primary_colour %}
                localStorage.setItem("primary_colour", '{{ company.primary_colour }}');
                document.body.style.setProperty('--primary', '{{ company.primary_colour }}');
            {% endif %}
        } else {
            document.body.style.setProperty('--primary', localStorage.getItem("primary_colour"));
        }

        if (localStorage.getItem("primary_accent_colour") === null) {
            {% if company.primary_accent_colour %}
                localStorage.setItem("primary_accent_colour", '{{ company.primary_accent_colour }}');
                document.body.style.setProperty('--primary-accent', localStorage.getItem("primary_accent_colour"));
            {% endif %}

        } else {
            document.body.style.setProperty('--primary-accent', localStorage.getItem("primary_accent_colour"));
        }

        if (localStorage.getItem("secondary_colour") === null) {
            {% if company.secondary_colour %}
                localStorage.setItem("secondary_colour", '{{ company.secondary_colour }}');
                document.body.style.setProperty('--primary-accent', localStorage.getItem("secondary_colour"));
            {% endif %}
        } else {
            document.body.style.setProperty('--secondary', localStorage.getItem("secondary_colour"));
        }
    </script>
{% endif %}

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/Chart.bundle.min.js' %}"></script>
<script src="{% static 'js/scripts.min.js' %}"></script>
{% block chart_scripts %}
{% endblock %}
</body>
</html>
