{% extends './base.html' %}
{% load staticfiles %}
{% block title %}
    OptiMe | Questionnaire Creation
{% endblock %}
{% block content %}
    <div class="row col-12 no-overflow">
        <div class="col-lg-6 left-primary">
            <div class="col-12 white text-center marginTop20">
                <h1 class="col-xs-6 col-md-12 mx-auto white">Questionnaire Components</h1>
                <br>
                <div class="form-group col-lg-6 mx-auto ">
                    <label for="questionnaireTitle">Title</label>
                    <input class="form-control whiteInput" data-id="{{ questionnaire.id }}" id="questionnaireTitle"
                           {% if questionnaire.title %}value="{{ questionnaire.title }}"{% endif %} type="text"
                           name="title">
                </div>
                <div class=" form-group col-lg-10 mx-auto ">
                    <label for="questionnaireDescription">Description</label>
                    <input class="form-control whiteInput" id="questionnaireDescription"
                           {% if questionnaire.description %}value="{{ questionnaire.description }}"{% endif %}
                           type="text">
                    <br>
                    {% if not is_introductory %}
                        <label for="questionnaireDescription">Expiry Date</label> <br>
                        <input value="{{ questionnaire.expiry_date | date:"Y-m-d" }}" class="dateWhite expMonthPicker"
                               id="expiryDate" name="start">

                    {% endif %}
                </div>
                <hr class="backgroundWhite">
                <h5>Choose and remove question templates</h5>
                <br>
                <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Question Templates
                    </button>
                    <div class="dropdown-menu noTop" id="searchDropdown"
                         aria-labelledby="dropdownMenuButton" style="overflow: scroll; max-height: 50vh">
                        <input type="text" class="fullWidth" placeholder="Search.." id="mySearch">
                        {% for question in question_options %}
                            <a class="dropdown-item questionTemplate" data-min="{{ question.min_label | title }}"
                               data-max="{{ question.max_label | title }}" data-type="{{ question.response_type }}"
                               data-id="{{ question.id }}"
                               href="#">{{ question }}</a>
                        {% endfor %}
                    </div>
                </div>
                <br>
                <hr class="backgroundWhite">
                <form id="customQuestions">
                    <h5>Create your own custom questions</h5>
                    <div class="form-group col-lg-6 mx-auto">
                        <label for="questionText">Question Text</label>
                        <textarea maxlength="120" class="whiteInput form-control" id="questionText" rows="3"></textarea>
                    </div>
                    <label class="card-text">Answer Type</label><br>
                    <label data-type="boolean" for="boolean"
                           class="questionType whiteCheckbox customCheckbox whiteCheckbox-checkbox col-6 mx-auto">
                        Yes or No
                        <input checked name="questionType" id="boolean" value="boolean" type="radio"/>
                        <div class="whiteCheckbox_indicator"></div>
                    </label>
                    <label data-type="free_text" for="textAnswer"
                           class="questionType whiteCheckbox customCheckbox whiteCheckbox-checkbox col-6 mx-auto">
                        Free Text
                        <input name="questionType" id="textAnswer" value="free_text" type="radio"/>
                        <div class="whiteCheckbox_indicator"></div>
                    </label>

                    <label data-type="scale" for="rangeAnswer"
                           class="questionType whiteCheckbox customCheckbox whiteCheckbox-checkbox col-6 mx-auto">
                        Scale
                        <input name="questionType" id="rangeAnswer" value="scale" type="radio"/>
                        <div class="whiteCheckbox_indicator"></div>
                    </label>

                    <br>
                    <div id="rangeSelect" style="display: none" class="col-12 row">
                        <div class="form-group col-lg-4 mx-auto">
                            <input class="form-control whiteInput" maxlength="32" id="minLabel" placeholder="Min Label"
                                   type="text" name="title">
                        </div>
                        <div class="form-group col-lg-4 mx-auto">
                            <input class="form-control whiteInput" maxlength="32" id="maxLabel" placeholder="Max Label"
                                   type="text" name="title">
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-outline-secondary" type="button" id="addCustom">Add Question</button>

                </form>
                <br>
                <form method="post" id="questionnaireForm" role="form">
                    {% csrf_token %}
                    <input id="theTitle"
                           {% if questionnaire.title %}value="{{ questionnaire.title }}" {% endif %} type="hidden"
                           name="title">
                    <input id="theDescription"
                           {% if questionnaire.description %}value="{{ questionnaire.description }}" {% endif %}
                           type="hidden"
                           name="description">
                    {% if is_introductory %}
                        <input type="hidden" name="is_introductory" value="true">
                    {% else %}
                        <input type="hidden"
                               {% if questionnaire.expiry_date %}value="{{ questionnaire.expiry_date | date:"Y-m-d" }}"{% endif %}
                               id="expiry_date" name="expiry_date">
                    {% endif %}
                    <input type="hidden" id="questionsValue" name="questions">

                    <hr class="backgroundWhite">
                    {% if error %}
                        <div class="alert margin-top-20 alert-danger" role="alert">
                            {% for k,v in error.items %}
                                {{ k | title }}: {% for val in v %}{{ val }}{% endfor %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <button class="btn btn-lg btn-outline-secondary marginBottom20" id="questionnaireSubmit" type="submit">Submit</button>
                </form>
            </div>
        </div>
        <div class="col-lg-6 mx-auto no-overflow">
            <div class="margin3">
                <h1 id="questionnaireName" class="text-overflow">
                    {% if questionnaire.title %}
                        {{ questionnaire.title }}
                    {% else %}
                        Your Questionnaire
                    {% endif %}
                </h1>
                <h4 id="questionnaireDescriptionText" class="text-overflow">
                    {% if questionnaire.description %}
                        {{ questionnaire.description }}
                    {% else %}
                        Your Questionnaire Description
                    {% endif %}
                </h4>
                <div id="questionDisplay">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
