{% extends './base.html' %}
{% load staticfiles %}
{% block title %}
    OptiMe | Employees
{% endblock %}
{% block content %}
    <div class="row col-12 no-overflow">
        <div class="col-lg-6 left-primary no-overflow">
            <div class="col-12 white text-center marginTop20">
                <h1 class=" white marginBottom20">Employees</h1>
                <form method="post" role="form" class="col-10 mx-auto row no-overflow whiteForm">
                    {% csrf_token %}
                    <div class="form-group text-left col-10 ">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control form-control-lg" name="email" id="exampleInputEmail1"
                               required
                               aria-describedby="emailHelp"
                               placeholder="Enter email">
                        <small id="emailHelp" class="form-text ">Send an employee an email invitation
                        </small>
                    </div>
                    <div class="col-2">
                        <button type="submit" class="mt-4 btn btn-lg btn-outline-secondary">Submit</button>
                    </div>
                </form>
                {% if error %}
                    <div class="alert margin-top-20 alert-danger" role="alert">
                        {% for k,v in error.items %}
                            {{ k | title }}: {% for val in v %}{{ val }}{% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}
                <table class="table table-dark noBackground table-responsive-md">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Last Login</th>
                        <th scope="col">Password Reset</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for employee in employees %}
                        <tr style="background-color: transparent">
                            <th scope="row">{{ employee.first_name }} {{ employee.last_name }}</th>
                            <td class="text-overflow tableMaxWidth">{{ employee.email }}</td>
                            <td>{% if employee.last_login %}
                                {{ employee.last_login | date:"d/m/y" }}
                            {% else %}
                                Inactive
                            {% endif %}
                            </td>
                            <td>
                                {% if employee.is_active %}
                                    <button data-id="{{ employee.pk }}"
                                            class="resetEmployeePassword btn btn-outline-secondary">Reset
                                    </button>
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            <td>
                                {% if employee.is_active %}
                                    <button data-toggle="modal" data-target="#deleteModal" data-id="{{ employee.pk }}"
                                            class="deleteModalBtn btn btn-danger">X
                                    </button>
                                {% else %}
                                    Deactivated
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if num_pages > 1 %}
                    <div class="col mx-auto text-center">
                        <div class="btn-group btn-group-toggle">
                            {% if current_page|add:-1  > 0 %}
                                <a href="?page=1" class="btn btn-outline-secondary">
                                    First
                                </a>
                                <a href="?page={{ current_page|add:-1 }}" class="btn btn-outline-secondary">
                                    Previous
                                </a>
                            {% endif %}
                            {% if current_page|add:-1 > 0 %}
                                <a href="?page={{ current_page|add:-1 }}" class=" btn btn-outline-secondary">
                                    {{ current_page|add:-1 }}
                                </a>
                            {% endif %}
                            <a class="active btn btn-outline-secondary">
                                <span>{{ current_page }} <span class="sr-only">(current)</span></span>
                            </a>
                            {% if current_page|add:1 <= num_pages %}
                                <a href="?page={{ current_page|add:1 }}" class=" btn btn-outline-secondary">
                                    {{ current_page|add:1 }}
                                </a>
                            {% endif %}
                            {% if current_page|add:1 <= num_pages %}
                                <a href="?page={{ current_page|add:1 }}" class=" btn btn-outline-secondary">
                                    Next
                                </a>
                                <a href="?page={{ num_pages }}" class="btn btn-outline-secondary">
                                    Last
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-6 mx-auto no-overflow">
            <div class="col-12 text-center marginTop20">
                <h1 class="marginBottom20">Awards</h1>
                <form method="post" role="form" name="awards">
                    {% csrf_token %}
                    <table class="table noBackground table-responsive-md">
                        <thead>
                        <tr>
                            <th scope="col">Award</th>
                            <th scope="col">Previous Winner</th>
                            <th scope="col" colspan="2">Set Winner</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for award, winner in awards.items %}
                            <tr>
                                <td>{{ award.title }}</td>
                                <td class="text-overflow tableMaxWidth">
                                    {% if winner %}
                                        {{ winner.email }}
                                    {% else %}
                                        No Winner
                                    {% endif %}
                                </td>
                                <td id="employeeName{{ award.id }}">Unset</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                                id="dropdownMenuButton"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Employees
                                        </button>
                                        <div class="dropdown-menu noTop" id="searchDropdown"
                                             aria-labelledby="dropdownMenuButton">
                                            <input type="text" class="fullWidth" placeholder="Search.." id="mySearch">
                                            {% for employee in employees %}
                                                <a class="dropdown-item employeeSelect clickable"
                                                   data-award-id="{{ award.id }}"
                                                   data-employee="{{ employee.email }}"
                                                   data-id="{{ employee.id }}">{{ employee.email }}</a>
                                            {% endfor %}
                                            <a class="dropdown-item employeeSelect clickable"
                                               data-award-id="{{ award.id }}"
                                               data-id="null">None</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <button class="btn btn-outline-secondary" type="button" id="awardsSubmit">Submit</button>
                </form>
            </div>
        </div>
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
             aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete Employee</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this employee?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                        <button id="deleteEmployeeBtn" type="button" class="btn btn-danger ">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
