{% extends './base.html' %}
{% load staticfiles %}
{% block title %}
    OptiMe
{% endblock %}
{% block content %}
    <div class="row col-12 no-overflow">
        <div class="col-md-3 left-primary">
            <div class="col-12 white text-center verticalMargin3">
                <form method="post" role="form" action="#">
                    {% csrf_token %}
                    <h3 class="col-xs-6 col-md-12 mx-auto">Filters</h3>
                    <div class="form-group m-form__group">
                        <input class="form-control dateWhite monthPicker"
                               {% if start_date %}value="{{ start_date | date:"Y-m" }}"{% endif %}
                               id="reportStartDate" placeholder="Start Date"
                               name="date">
                    </div>
                    <div class="form-group m-form__group">
                        <input class="form-control dateWhite monthPicker"
                               {% if end_date %}value="{{ end_date | date:"Y-m" }}"{% endif %}
                               id="reportEndDate" placeholder="End Date"
                               name="date">
                    </div>
                </form>
                <button id="showAllReportData" class="btn btn-outline-light">Show All</button>
                <br>
                <button id="reportFilter" class="btn btn-lg btn-outline-secondary marginTop10 marginBottom20">Filter</button>
                <br>
                <button id="print" class=" btn btn-sm btn-outline-light">Print</button>
            </div>
        </div>
        <div class="col-md-9 mx-auto no-overflow">
            <div class="col-12 row marginTop20">
                <div class="col-lg-11  mx-auto verticalMargin3 text-center">
                    {% if error %}
                        <div class="alert margin-top-20 alert-danger" role="alert">
                            {% for k,v in error.items %}
                                {{ k | title }}: {% for val in v %}{{ val }}{% endfor %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if not engagement_data.surveys and not engagement_data.goals and not wellbeing_data %}
                        <h4> There doesn't appear to be any data on selected dates</h4>
                    {% endif %}
                    {% if engagement_data.surveys or engagement_data.goals %}
                        <h3>Employee Engagement</h3>
                        <canvas id="engagementChart" class="fullWidth"></canvas>
                    {% endif %}
                    {% if wellbeing_data %}
                        <h3 class="marginTop3">Employee Wellbeing</h3>
                        <canvas id="wellbeingChart" class="fullWidth"></canvas>
                    {% endif %}
                </div>
                {% if wellbeing_data %}
                    <div id="reportTable" class="col-lg-11 mx-auto verticalMargin3 text-center" style="overflow: scroll">
                        <table class="table table-sm table-responsive-sm">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                {% for date in wellbeing_data.dates %}
                                    <th scope="col">{{ date | date:"y-m-d" }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for pillar in wellbeing_data.pillars %}
                                <tr>
                                    <th scope="row" class="text-overflow">{{ pillar.name_user }}</th>
                                    {% for data in pillar.data %}
                                        <td>{{ data }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block chart_scripts %}
    <script>
        // Variable colors
        let primaryColor = '#25428A';
        let primaryAccentColor = '#15327A';
        let secondaryColor = '#00AEEF';

        if (localStorage.getItem("primary_colour") !== null) {
            primaryColor = localStorage.getItem("primary_colour");
        }

        if (localStorage.getItem("secondary_colour") !== null) {
            secondaryColor = localStorage.getItem("secondary_colour");
        }

        //    Employee wellbeingChart
        if ($('#wellbeingChart').length) {
            let wellbeingCanvas = document.getElementById("wellbeingChart").getContext("2d");

            var wellbeingData = {
                labels: [{% for date in wellbeing_data.dates %}
                    '{{date | date:'Y/n/d'}}'
                    {% if not forloop.last %}, {% endif %}{% endfor %}],
                datasets:
                    [{% for pillar in wellbeing_data.pillars %}{
                            label: '{{ pillar.name_user }}',
                            fill: false,
                            borderColor:
                                {% if pillar.name_code == 'environmental' %}'#83c6b9'
                                    {% elif pillar.name_code == 'financial' %}'#335c6f'
                                        {% elif pillar.name_code == 'social' %}'#c8c645'
                                    {% elif pillar.name_code == 'professional' %}'#d35c63'
                                        {% elif pillar.name_code == 'mental' %}'#9f95e1'
                                    {% elif pillar.name_code == 'physical' %}'#808185'
                                {% endif %},
                            backgroundColor:
                                {% if pillar.name_code == 'environmental' %}'#83c6b9'
                                    {% elif pillar.name_code == 'financial' %}'#335c6f'
                                        {% elif pillar.name_code == 'social' %}'#c8c645'
                                    {% elif pillar.name_code == 'professional' %}'#d35c63'
                                        {% elif pillar.name_code == 'mental' %}'#9f95e1'
                                    {% elif pillar.name_code == 'physical' %}'#808185'
                                {% endif %},
                            data: [{% for data in pillar.data %}'{{data}}'{% if not forloop.last %}, {% endif %}{% endfor %}]
                            }{% if not forloop.last %}, {% endif %}
                        {% endfor %}]
            };

            var wellbeingOptions = {
                legend: {
                    labels: {
                        usePointStyle: true,
                    }
                }, scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 10
                        }
                    }]
                }
            };

            var wellbeingChart = new Chart(wellbeingCanvas, {
                type: 'line',
                data: wellbeingData,
                options: wellbeingOptions
            });
        }

        //    Employee Engagement Chart

        var ctx = document.getElementById("engagementChart");
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [
                    '{{end_date | date:'Y/n/d'}} - {{start_date | date:'Y/n/d'}}'],
                datasets: [{
                    {% for data in engagement_data.surveys %}
                        {% if data.employee == 'All Employees' %}
                            label: 'Engagement %',
                            data: [{{data.percentage}}],
                            backgroundColor: (primaryColor + 'BF'),
                            borderColor: primaryColor,
                        {% endif %}

                    {% endfor %}
                }{% if  engagement_data.goals %}, {
                    {% for data in engagement_data.goals %}
                        {% if data.employee == 'All Employees' %}
                            label: 'Goal Completion %',
                            data: [{{data.percentage}}],
                            backgroundColor: (secondaryColor + 'BF'),
                            borderColor: secondaryColor,
                        {% endif %}
                    {% endfor %}
                }{% endif %}
                ]
            }, options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 100
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}