{% extends './base.html' %}
{% load staticfiles %}
{% block title %}
    OptiMe | Settings
{% endblock %}
{% block content %}
    <div class="row col-12 no-overflow">
        <div class="col-lg-6 left-primary no-overflow">
            <div class="col-12 marginTop20 marginBottom20">
                <form method="post" role="form" action="#" class="whiteForm col-10 mx-auto">
                    {% csrf_token %}
                    <h1 class="white text-center title">Profile Settings</h1>
                    <div class="form-group m-form__group">
                        <label for="password">Change Password</label>
                        <input class="form-control" type="password" id="password" placeholder="Password"
                               name="password">
                        <div class="white" id="password-strength-status"></div>
                    </div>
                    <div class="marginTop3 text-left col-10 mx-auto">
                        <div class="col-12 mx-auto text-center marginTop3">
                            <button class="btn btn-lg btn-outline-light" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col mx-auto text-center marginBottom20">
                <button class="btn btn-outline-secondary btn-lg mx-auto" data-toggle="modal"
                        data-target="#onboardingModal">
                    Show Tutorial
                </button>
            </div>
            {% if error %}
                <div class="alert margin-top-20 alert-danger" role="alert">
                    {% for k,v in error.items %}
                        {{ k | title }}: {% for val in v %}{{ val }}{% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="col-lg-6 no-overflow">
            <div class="col-12 text-center marginTop20">
                <h1 class="title">Introductory Survey</h1>
                {% if user.company.introductory_questionnaire %}
                    <table class="table noBackground">
                        <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Created At</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Publish</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">{{ user.company.introductory_questionnaire.title }}</th>
                            <td>{{ user.company.introductory_questionnaire.created_at | date:"d/m/y" }}</td>
                            <td>
                                <a href="{% url 'frontendsite-questionnaire-edit' pk=user.company.introductory_questionnaire.id %}?is_introductory=true"
                                   class="btn btn-outline-secondary">Edit</a>
                            </td>
                            <td>
                                {% if user.company.introductory_questionnaire.is_published %}
                                    Published
                                {% else %}
                                    <button data-id="{{ user.company.introductory_questionnaire.id }}"
                                            class="publishBtn btn btn-outline-secondary">
                                        Publish
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                {% else %}
                    <a href="{% url 'frontendsite-questionnaire-create' %}?is_introductory=true"
                       class="marginTop3 btn btn-lg btn-outline-secondary">Create Introductory Survey</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}