{% extends './base.html' %}
{% load staticfiles %}
{% block title %}
    OptiMe | Questionnaires
{% endblock %}
{% block content %}
    <div class="row col-12 no-overflow">
        <div class="col-lg-6 left-primary no-overflow">
            <div class="col-12 white text-center marginTop20">
                <a href="{% url 'frontendsite-questionnaire-create' %}"
                   class="btn btn-outline-light clickable float-right">+</a>
                <h1 class=" white marginBottom20">Current Questionnaires</h1>
                <table class="table table-dark noBackground table-responsive-md">
                    <thead>
                    <tr>
                        <th colspan="5">Published</th>
                    </tr>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Expires</th>
                        <th scope="col">Engaged</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for question in new_questionnaires %}
                        {% if question.is_published == True %}
                            <tr>
                                <th scope="row" data-toggle="popover" data-placement="bottom"
                                    data-content="{{ question.description }}"
                                    class="tableMaxWidth text-overflow">{{ question.title }}</th>
                                <td>{{ question.created_at | date:"d/m/y" }}</td>
                                <td>{{ question.expiry_date | date:"d/m/y" }}</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar"
                                             style="width: {{ question.percentage_responded | floatformat:"0" }}%;"
                                             aria-valuenow="{{ question.percentage_responded | floatformat:"0" }}"
                                             aria-valuemin="0"
                                             aria-valuemax="100">{{ question.percentage_responded | floatformat:"0" }}%
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button data-toggle="modal" data-target="#deleteModal" data-id="{{ question.pk }}"
                                            class="deleteModalBtn btn btn-danger">X
                                    </button>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                <table class="table table-dark noBackground table-responsive-md">
                    <thead>
                    <tr>
                        <th scope="col" colspan="5">Un-Published</th>
                    </tr>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Expires</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Publish</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for question in new_questionnaires %}
                        {% if question.is_published == False %}
                            <tr>
                                <th scope="row" data-toggle="popover" data-placement="bottom"
                                    data-content="{{ question.description }}"
                                    class="tableMaxWidth text-overflow">{{ question.title }} </th>
                                <td>{{ question.created_at | date:"d/m/y" }}</td>
                                <td>{{ question.expiry_date| date:"d/m/y" }}</td>
                                <td>
                                    <a href="{% url 'frontendsite-questionnaire-edit' pk=question.id %}"
                                       class="btn btn-outline-secondary">Edit</a>
                                </td>
                                <td>
                                    <button data-id="{{ question.id }}" class="publishBtn btn btn-outline-secondary">
                                        Publish
                                    </button>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if error %}
                <div class="alert margin-top-20 alert-danger col-10 mx-auto" role="alert">
                    {% for k,v in error.items %}
                        {{ k | title }}: {% for val in v %}{{ val }}{% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="col-lg-6 mx-auto no-overflow">
            <div class="col-12 text-center marginTop20">
                <h1 class="marginBottom20">Past Questionnaires</h1>
                {% if old_questionnaires %}
                    <table class="table table-responsive-md">
                        <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Created At</th>
                            <th scope="col">Expired</th>
                            <th scope="col">Status</th>
                            <th scope="col">Responses</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if intro_questionnaire %}
                            <tr>
                                <th scope="row" data-toggle="popover" data-placement="bottom"
                                    data-content="{{ intro_questionnaire.0.description }}"
                                    class="tableMaxWidth text-overflow">{{ intro_questionnaire.0.title }}</th>
                                <td>{{ intro_questionnaire.0.created_at | date:"d/m/y" }}</td>
                                <td>Ongoing</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar black" role="progressbar"
                                             style="width: {{ question.percentage_responded | floatformat:"0" }}%;"
                                             aria-valuenow="{{ intro_questionnaire.0.percentage_responded | floatformat:"0" }}"
                                             aria-valuemin="0"
                                             aria-valuemax="100">{{ intro_questionnaire.0.percentage_responded | floatformat:"0" }}%
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <a href="{% url 'frontendsite-employer-intro-questionnaire-view-responses' %}"
                                       class="btn btn-outline-secondary">
                                        View
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                        {% for question in old_questionnaires %}
                            <tr>
                                <th scope="row" data-toggle="popover" data-placement="bottom"
                                    data-content="{{ question.description }}"
                                    class="tableMaxWidth text-overflow">{{ question.title }}</th>
                                <td>{{ question.created_at | date:"d/m/y" }}</td>
                                <td>{{ question.expiry_date| date:"d/m/y" }}</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar black" role="progressbar"
                                             style="width: {{ question.percentage_responded | floatformat:"0" }}%;"
                                             aria-valuenow="{{ question.percentage_responded | floatformat:"0" }}"
                                             aria-valuemin="0"
                                             aria-valuemax="100">{{ question.percentage_responded | floatformat:"0" }}%
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    {% if question.percentage_responded > 0 %}
                                        <a href="{% url 'frontendsite-employer-questionnaires-view-responses' pk=question.id %}"
                                           class="btn btn-outline-secondary">
                                            View
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                {% if num_pages > 1 %}
                    <div class="col mx-auto text-center">
                        <div class="btn-group btn-group-toggle">
                            {% if current_page|add:-1  > 0 %}
                                <a href="?page=1" class="btn btn-outline-secondary">
                                    First
                                </a>
                                <a href="?page={{ current_page|add:-1 }}" class="btn btn-outline-secondary">
                                    Previous
                                </a>
                            {% endif %}
                            {% if current_page|add:-1 > 0 %}
                                <a href="?page={{ current_page|add:-1 }}" class=" btn btn-outline-secondary">
                                    {{ current_page|add:-1 }}
                                </a>
                            {% endif %}
                            <a class="active btn btn-outline-secondary">
                                <span>{{ current_page }} <span class="sr-only">(current)</span></span>
                            </a>
                            {% if current_page|add:1 <= num_pages %}
                                <a href="?page={{ current_page|add:1 }}" class=" btn btn-outline-secondary">
                                    {{ current_page|add:1 }}
                                </a>
                            {% endif %}
                            {% if current_page|add:1 <= num_pages %}
                                <a href="?page={{ current_page|add:1 }}" class=" btn btn-outline-secondary">
                                    Next
                                </a>
                                <a href="?page={{ num_pages }}" class="btn btn-outline-secondary">
                                    Last
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
             aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete Questionnaire</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this questionnaire?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                        <button id="deleteBtn" type="button" class="btn btn-danger">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}