{% extends './base.html' %}
{% load staticfiles %}
{% block title %}
    OptiMe | {{ questionnaire.title }} responses
{% endblock %}
{% block content %}
    <div class="row col-12 no-overflow">
        <div class="col-lg-6 left-primary no-overflow">
            <div class="col-12 white text-center marginTop20">
                <h1 class="white marginBottom20 text-overflow">{{ questionnaire.title }}</h1>
                <small>Published on: {{ questionnaire.publish_date|date:"d/m/Y" }}. Expired
                    on: {{ questionnaire.expiry_date |date:"d/m/Y" }}'
                </small>
                <h4 class="col-10 mx-auto white text-overflow verticalMargin3">
                    {{ questionnaire.description }}
                </h4>

                <div class="marginBottom20">
                    <canvas id="engagementChart" class="fullWidth"></canvas>
                </div>
            </div>
            {% if error %}
                <div class="alert margin-top-20 alert-danger col-10 mx-auto" role="alert">
                    {% for k,v in error.items %}
                        {{ k | title }}: {% for val in v %}{{ val }}{% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="col-lg-6 mx-auto no-overflow scroll">
            <h1 class="marginBottom20 marginTop10 text-center">Responses</h1>
            <div class="col-12 row text-center">
                {% for question, responses  in responses.items %}
                    <div class="col-xl-6 marginBottom20">
                        <h3 class="secondary float-left">Q{{ forloop.counter }}</h3>
                        <h4>{{ question.title }}</h4>
                        {% if question.response_type == 'scale' %}
                            <small>A scale from '{{ question.min_label }}' to '{{ question.max_label }}'</small>
                        {% endif %}
                        {% if question.response_type == 'free_text' %}
                            <br>
                            <a class="btn btn-outline-secondary"
                               href="{% url 'frontendsite-employer-questionnaires-view-response-answers' questionnaire_pk=questionnaire.id response_pk=question.id %}">View
                                Responses</a>
                        {% else %}
                            <canvas id="responseChart{{ question.id }}" class="fullWidth"></canvas>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block chart_scripts %}
    <script>
        // Variable colors
        let primaryColor = '#25428A';
        let primaryAccentColor = '#15327A';
        let secondaryColor = '#00AEEF';

        if (localStorage.getItem("primary_colour") !== null) {
            primaryColor = localStorage.getItem("primary_colour");
        }

        if (localStorage.getItem("primary_accent_colour") !== null) {
            secondaryColor = localStorage.getItem("primary_accent_colour");
        }

        if (localStorage.getItem("secondary_colour") !== null) {
            secondaryColor = localStorage.getItem("secondary_colour");
        }

        {% for question, responses  in responses.items %}
            {% if  question.response_type == 'scale' %}
                var barCtx = document.getElementById("responseChart{{ question.id }}");
                var barChart = new Chart(barCtx, {
                    type: 'doughnut',
                    data: {
                        labels: [{% for questionResponse, response in responses.items %}'{{ forloop.counter }}'{% if not forloop.last %}, {% endif %}{% endfor %}],
                        datasets: [
                            {
                                data: [{% for questionResponse, response in responses.items %}'{{ response |floatformat}}'{% if not forloop.last %}, {% endif %}{% endfor %}],
                                backgroundColor: ['#cc3232', '#db7b2b', '#e7b416', '#99c140', '#2dc937'],
                                borderColor: ['#cc3232', '#db7b2b', '#e7b416', '#99c140', '#2dc937'],
                                borderWidth: 2 // Specify bar border width
                            },
                        ]
                    }
                });
            {% endif %}
            {% if  question.response_type == 'boolean' %}
                var pieCtx = document.getElementById("responseChart{{ question.id }}");
                var pieChart = new Chart(pieCtx, {
                    type: 'doughnut',
                    data: {
                        labels: [
                            {% for questionResponse, response in responses.items %}
                                '{{ questionResponse }} %',
                            {% endfor %}],
                        datasets: [
                            {
                                data: [{% for questionResponse, response in responses.items %}'{{ response |floatformat}}'{% if not forloop.last %}, {% endif %}{% endfor %}],
                                backgroundColor: [primaryColor, secondaryColor],
                                borderColor: primaryAccentColor,
                                borderWidth: 2 // Specify bar border width
                            },
                        ]
                    }
                });
            {% endif %}
        {% endfor %}

        let notEngaged = (100 - {{ questionnaire.percentage_responded | floatformat}});
        var engagementCtx = document.getElementById("engagementChart");
        var engagementChart = new Chart(engagementCtx, {
            type: 'doughnut',
            data: {
                labels: ['Engaged %', 'Not Engaged %'],
                datasets: [{
                    data: ['{{ questionnaire.percentage_responded | floatformat}}', JSON.stringify(notEngaged)],
                    backgroundColor: [primaryColor, secondaryColor],
                    borderColor: '#ffffff',
                    borderWidth: 1 // Specify bar border width
                }]
            }
        });
    </script>
{% endblock %}