{% extends './base.html' %}
{% load staticfiles %}
{% block title %}
    OptiMe | {{ question.title }} Responses
{% endblock %}
{% block content %}
    <div class="row col-12 no-overflow">
        <div class="col-lg-6 left-primary no-overflow">
            <div class="col-12 white text-center marginTop20">
                <h1 class="white marginBottom20 text-overflow">{{ questionnaire.title }}</h1>
                <small>Published on: {{ questionnaire.publish_date|date:"d/m/Y" }}. Expired
                    on: {{ questionnaire.expiry_date |date:"d/m/Y" }}'
                </small>
                <h4 class="col-10 mx-auto white text-overflow">
                    {{ questionnaire.description }}
                </h4>
            </div>
            {% if error %}
                <div class="alert margin-top-20 alert-danger col-10 mx-auto" role="alert">
                    {% for k,v in error.items %}
                        {{ k | title }}: {% for val in v %}{{ val }}{% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="col-lg-6 mx-auto no-overflow scroll">
            <h1 class="marginBottom20 marginTop10 text-center">{{ question.title }}</h1>
            <div class="col-12 row text-center">
                <table class="marginTop3 table text-center">
                    <tbody>
                    {% for answer in answers %}
                        <tr>
                            <th scope="row" class="text-overflow tableMaxWidth">{{ answer.response }}</th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if num_pages > 1 %}
                    <div class="col mx-auto text-center">
                        <div class="btn-group btn-group-toggle">
                            {% if current_page|add:-1  > 0 %}
                                <a href="?page=1" class="btn btn-outline-secondary">
                                    First
                                </a>
                                <a href="?page={{ current_page|add:-1 }}" class="btn btn-outline-secondary">
                                    Previous
                                </a>
                            {% endif %}
                            {% if current_page|add:-1 > 0 %}
                                <a href="?page={{ current_page|add:-1 }}" class=" btn btn-outline-secondary">
                                    {{ current_page|add:-1 }}
                                </a>
                            {% endif %}
                            <a class="active btn btn-outline-secondary">
                                <span>{{ current_page }} <span class="sr-only">(current)</span></span>
                            </a>
                            {% if current_page|add:1 <= num_pages %}
                                <a href="?page={{ current_page|add:1 }}" class=" btn btn-outline-secondary">
                                    {{ current_page|add:1 }}
                                </a>
                            {% endif %}
                            {% if current_page|add:1 <= num_pages %}
                                <a href="?page={{ current_page|add:1 }}" class=" btn btn-outline-secondary">
                                    Next
                                </a>
                                <a href="?page={{ num_pages }}" class="btn btn-outline-secondary">
                                    Last
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
