{% extends './base_navbar.html' %}
{% load staticfiles %}
{% block page_name %}
	Awards
{% endblock %}
{% block title %}
	OptiMe | Awards
{% endblock %}
{% block content %}
	<div id="page-content-wrapper" class="mb-5 py-5 awardspage">
		<div class="row col-11 mx-auto mt-5 pt-5 pt-sm-mobile">
			<div class="col-lg-7 p-0-mobile">
				<div class="col-12 p-0">
					{% if current_awards.count > 0 %}
						<h1 class="col-xs-6 col-md-12 mx-auto red-title">My Awards <a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title="Explanation test on how the function works!"><span class="info-circle">i</span></a></h1>
						<div class="row">
							{% for award in current_awards %}
								{% if forloop.counter <= 3 %}
									<div class="col-xl-6 col-md-12 pb-4 mb-2">
										<div class="text-center rating-star-img">
											<img class="img-fluid" src="{% static 'images/rating-star.png' %}" alt="Rating Star">
										</div>
										<div class="backgroundPrimary01 awardsbox position-relative">
											<div class="row">
												<div class="col-md-5 col-5 justify-content-center align-self-center">
												<object class="dynamic-svg" type="image/svg+xml" data="{{ award.company_award.award.graphic.url }}"></object></div>
												<div class="col-md-7 col-7 justify-content-center align-self-center"><div class="col-12 row no-overflow marginTop10">
													<div class="white awardsboxtext">{{ award.company_award.award.title }}</div>
													<h3 class="white">{{ award.company_award.award.created_at|date:"dS M Y" }}</h3>
												</div>
											</div>
											<!-- <div class="col-12 text-right pr-0 mt-3 award-info">
													<a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title="Explanation test on how the function works!"><span class="info-circle">i</span></a>
											</div> -->
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
							{% endif %}
						{% endfor %}
						{% if current_awards.count > 3 %}
							<div class="col-12">
								<button type="button" class="btn btn-outline-secondary mx-auto" data-toggle="modal"
								data-target="#myAwardsModal">See All
								</button>
							</div>
						{% endif %}
					</div>
					<hr>
				{% endif %}
				<h1 class="red-title mobile-only-none">Latest Winners <a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title="View latest award winners"><span class="info-circle">i</span></a></h1>
				<h2 class="red-title">
				<span class="mobile-only-optime mobile-collapse-text">
					<a class="" data-toggle="collapse" href="#latestwinnerspage" role="button" aria-expanded="false" aria-controls="latestwinnerspage">
						Latest Winners
					</a>
					<a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title="View latest award winners"><span class="info-circle">i</span></a>
				</span>
				</h2>
				<div id="latestwinnerspage">
					<div class="row">
						{% for award in latest_awards %}
							<div class="col-xl-6 col-md-12 pb-4 mb-2">
								<div class="text-center rating-star-img">
									<img class="img-fluid" src="{% static 'images/rating-star.png' %}" alt="Rating Star">
								</div>
								<div class="backgroundPrimary01 awardsbox position-relative">
									<div class="row">
										<div class="col-md-5 col-5 justify-content-center align-self-center">
										<object class="dynamic-svg" type="image/svg+xml" data="{{ award.company_award.award.graphic.url }}"></object></div>
										<div class="col-md-7 col-7 justify-content-center align-self-center"><div class="col-12 row no-overflow marginTop10">
											<div class="white awardsboxtext">{{ award.company_award.award.title }}</div>
											<h3 class="white">{{ award.user.first_name }} {{ award.user.last_name }}</h3>
										</div>
									</div>
									<!-- <div class="col-12 text-right pr-0 mt-3 award-info">
											<a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title="Explanation test on how the function works!"><span class="info-circle">i</span></a>
									</div> -->
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5 p-0-mobile">
		<div class="col-12 p-0-mobile">
			<h1 class="red-title mobile-only-none">Upcoming Awards <a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title="View upcoming awards"><span class="info-circle">i</span></a></h1>
			<h2 class="red-title">
			<span class="mobile-only-optime mobile-collapse-text">
				<a class="" data-toggle="collapse" href="#upcomingawardspage" role="button" aria-expanded="false" aria-controls="upcomingawardspage">
					Upcoming Awards
				</a>
				<a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title="View upcoming awards"><span class="info-circle">i</span></a>
			</span>
			</h2>
			<div id="upcomingawardspage">
				{% for award in company_awards %}
					<div class="col-12 pb-4 mb-2 mlr-0-mobile p-0-mobile">
						<div class="col-md-12">
							<div class="text-center rating-star-img">
								<img class="img-fluid" src="{% static 'images/rating-star.png' %}" alt="Rating Star">
							</div>
						</div>
						<div class="upcoming-awards-bg row position-relative">
							<div class="col-lg-5 col-5 backgroundPrimary01 justify-content-center align-self-center awardsbox p-0">
								<div class="p-3 text-center">
									<object class="dynamic-svg" type="image/svg+xml" data="{{ award.graphic.url }}"></object>
								</div>
							</div>
							<div class="col-lg-7 col-7 white justify-content-center align-self-center upcoming-awards">
								<h3>{{ award.title }}</h3>
								<!-- <p>{{ award.description }}</p> -->
							</div>
							<!-- <div class="col-12 text-right pr-0 mt-3 award-info">
									<a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title="Explanation test on how the function works!"><span class="info-circle">i</span></a>
							</div> -->
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
</div>
<script>
$(document).ready(function(){
$('[data-toggle="tooltip"]').tooltip();
});
</script>
<div class="modal fade" id="myAwardsModal" tabindex="-1" role="dialog" aria-labelledby="myAwardsModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Your Awards</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			{% for award in current_awards %}
				<div class="col-11 mx-auto row no-overflow overflow-hidden mb-3 curved">
					<div class="col-lg-3 backgroundPrimary p-0 ">
						<div class="p-3">
							<object class="dynamic-svg" type="image/svg+xml"
							data="{{ award.company_award.award.graphic.url }}"></object>
						</div>
					</div>
					<div class="col-lg-9 white">
						<h2 class="pt-3">{{ award.company_award.award.title }}</h2>
						<p>
							{{ award.company_award.award.description }}
						</p>
						<small>Won on: {{ award.company_award.award.created_at|date:"dS M Y" }}</small>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
		</div>
	</div>
</div>
</div>
{% endblock %}