{% extends './base.html' %}
{% load static %}
{% block before_content %}
{% if user.is_authenticated %}
<div id="menu" class="hamburger hamburger--squeeze">
<div class="hamburger-box">
<div class="hamburger-inner"></div>
</div>
</div>
<div id="wrapper">
<!-- Sidebar -->
<div class="sidebar-brand d-flex align-items-center justify-content-center">
<a href="{% url 'frontendsite-index' %}">
{% if user.company.logo %}
<img alt="{{ user.company.name }}" src="{{ user.company.logo.url }}">
{% endif %}
</a>
</div>
<!-- <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation"> -->
<nav class="navbar navbar-inverse fixed-top" style="display: none;" id="sidebar-wrapper" role="navigation">
<ul class="nav sidebar-nav">
<li class="mobile-only-optime"><img alt="OptiMe Logo" class="loginLogo img-fluid" src="{% static 'assets/favicon.png' %}"></li>
<!-- <li class="m-0 p-0">
<div class="sidebar-brand d-flex align-items-center justify-content-center">
<a href="{% url 'frontendsite-index' %}">
{% if user.company.logo %}
<img alt="{{ user.company.name }}" src="{{ user.company.logo.url }}">
{% endif %}
</a>
</div>
</li> -->
<li class="nav-item mt-4 mobile-mt-10 {% if active_page == 'home' %}nav-active{% endif %}">
<a data-toggle="tooltip" data-placement="right" title="Home" class="home-nav" title="Home" href="{% url 'frontendsite-index' %}">
<img src="{% static 'images/home.png' %}" alt="Home">
{% if active_page == 'home' %}<span class="sr-only">(current)</span>{% endif %}
<span class="mobile-nve-bar">Home</span>

</a>
</li>
<li class="nav-item {% if active_page == 'profile' %}nav-active{% endif %}">
<a data-toggle="tooltip" data-placement="right" title="Profile" class="profile-nav" title="Profile" href="{% url 'frontendsite-profile' %}">
<img src="{% static 'images/Profile.png' %}" alt="Profile">
{% if active_page == 'profile' %}<span class="sr-only">(current)</span>{% endif %}
<span class="mobile-nve-bar">Profile</span>
</a>
</li>
<li class="nav-item">
<div id="selfreflectionmobile" class="btn-group dropright" data-toggle="tooltip" data-placement="right" title="Self Reflection"> <a data-toggle="modal" data-target="#selfAssessmentModal" title="Self Reflection" class="SelfReflection-nav white p-0 text-center notif" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <img src="{% static 'images/SelfReflection.png' %}" alt="Self Reflection"> <span class="mobile-nve-bar self-reflection-mobile-text">Self Reflection</span> </a> </div>
</li>
<li class="nav-item">
<div id="alertsmobilebutton" class="btn-group dropright" data-toggle="tooltip" data-placement="right" title="Alerts">
<a data-toggle="modal" data-target="#alerts" id="alertsmobile" title="Alerts" type="button" class="alerts-nav btn dropdown-toggle white p-0 text-center notif" data-toggle="dropdown"
aria-haspopup="true" aria-expanded="false"><img src="{% static 'images/Alerts.png' %}" alt="Alerts"> <span class="alerts-num">{% if alerts %}{{alerts|length}}{% else %} 0{% endif %}</span> <span class="mobile-nve-bar">Alerts</span></a>
<div class="dropdown-menu">
<div id="alertsDropDown">
{% if alerts %}
{% for alert in alerts %}
{% if alert.content.content_type.value == "questionnaire" %}
<a class='dropdown-item brandBtn'
href="{% url 'frontendsite-questionnaires-detail' pk=alert.id %}">
{{ alert.title|truncatechars:27 }}<br>
{% elif alert.content_type.value == "self_assessment" %}
<a class='dropdown-item brandBtn' data-toggle="modal"
data-target="#selfAssessmentModal"
href='#'>
Self Reflection<br>
{% else %}
<a class='dropdown-item brandBtn'
href='/{{ alert.content_type.value }}/{{ alert.id }}'>
{{ alert.title|truncatechars:27 }}<br>
{% endif %}
<p class='small noMargin'>{{ alert.publish_date | date:"d/m/Y" }}</p>
</a>
{% endfor %}
<div class="dropdown-divider"></div>
<p id="clearAlerts"
class="clickable dropdown-item text-muted btn clickable marginBottom0">
Clear
</p>
{% else %}
<p class='dropdown-item marginBottom0'>No New alerts</p>
{% endif %}
</div>
</div>
</div>
</li>
<li class="nav-item {% if active_page == 'questionnaire' %}nav-active{% endif %}">
<a data-toggle="tooltip" data-placement="right" title="Surveys" class="surveys-nav position-relative" title="Surveys" href="{% url 'frontendsite-questionnaires' %}">
<img src="{% static 'images/Surveys.png' %}" alt="Surveys">
<span class="alerts-num">
{% if questionnaire_alert %}
{{ questionnaire_alert| length }}{%else%} 0
{%endif%}
</span>
{% if active_page == 'surveys' %}<span class="sr-only">(current)</span>{% endif %}
<span class="mobile-nve-bar">Surveys</span>
</a>
</li>
<li class="nav-item {% if active_page == 'awards' %}nav-active{% endif %}">
<a data-toggle="tooltip" data-placement="right" title="Awards" class="awards-nav" title="Awards" href="{% url 'frontendsite-awards' %}">
<img src="{% static 'images/Awards.png' %}" alt="Awards">
{% if active_page == 'awards' %}<span class="sr-only">(current)</span>{% endif %}
<span class="mobile-nve-bar">Awards</span>
</a>
</li>
<li class="nav-item {% if active_page == 'archive' %}nav-active{% endif %}">
<a data-toggle="tooltip" data-placement="right" title="Resources" class="resources-nav" title="Resources" href="{% url 'frontendsite-archive' %}">
<img src="{% static 'images/Resources.png' %}" alt="Resources">
{% if active_page == 'archive' %}<span class="sr-only">(current)</span>{% endif %}
<span class="mobile-nve-bar">Resources</span>
</a>
</li>
<!-- <li class="nav-item mobile-only-none"><a class="counsellingsupport home-nav" title="Call Counselling Support" href="tel:+6494461709"><img src="{% static 'images/phone-m.png' %}" alt="Resources"></a> </li> -->
<li class="nav-item mobile-only-block"><a id="logoutmobile" data-toggle="modal" data-target="#logout" class="logout-nav" title="Log Out" href="{% url 'frontendsite-logout' %}"><img class="img-fluid" src="{% static 'images/LogOut.png' %}" alt="Log Out"> <span class="mobile-nve-bar">Logout</span></a></li>
<!-- <li class="nav-item mobile-only-optime"><a href="http://213.136.79.247/video/77/"><img class="img-fluid OptiMe-pay-img" src="{% static 'images/OptiMe-pay.png' %}" alt="OptiMe-pay"></a></li> -->
<li class="nav-item mobile-only-optime getting-text"><a class="counsellingsupport" href="tel:+03332128303">Call Counselling Support</a></li>
</ul>
</nav>
{% endif %}
<div class="modal fade bd-example-modal-lg" id="selfAssessmentModal" tabindex="-1" role="dialog"
aria-labelledby="selfAssessmentModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header px-5">
<h5 class="modal-title" id="selfAssessmentModalLabel">Self Reflection</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<img src="{% static 'images/close-icon.png' %}" alt="close">
</button>
</div>
<div id="assessmentContent" class="modal-body py-2 px-5">
</div>
<div class="modal-footer px-5">
<button type="button" id="selfSubmit" class="btn btn-primary">Submit</button>
</div>
</div>
</div>
</div>
<div class="modal fade bd-example-modal-lg" {% if not user.id %}data-firstLogin="na" {% elif user.last_last_login %}data-firstLogin="False"
{% else %}data-firstLogin="True"{% endif %}
id="onboardingModal01" tabindex="-1" role="dialog"
aria-labelledby="onboardingModal01" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div id="tutorialPg1" class="tutorialPg modal-content">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLabel">Home</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<img alt="" src="{% static 'assets/onboarding/index.png' %}" class="fullWidth">
<div class="modal-body">
<p>Welcome to your homepage. Here you can view your monthly wellbeing workshop and goal, additional
content, receive alerts and view your wellbeing wheel results.</p>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-primary nextTutorialPg">Next</button>
</div>
</div>
<div id="tutorialPg2" class="tutorialPg modal-content">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLabel">Profile</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<img alt="" src="{% static 'assets/onboarding/profile.png' %}" class="fullWidth">
<div class="modal-body">
<p>On the profile section you can update your settings as well as access help and support. </p>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-primary lastTutorialPg mr-auto">Previous</button>
<button type="button" class="btn btn-primary nextTutorialPg">Next</button>
</div>
</div>
<div id="tutorialPg3" class="tutorialPg modal-content">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLabel">Surveys</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<img alt="" src="{% static 'assets/onboarding/surveys.png' %}" class="fullWidth">
<div class="modal-body">
<p>Find past and current surveys by clicking on Surveys.</p>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-primary lastTutorialPg mr-auto">Previous</button>
<button type="button" class="btn btn-primary nextTutorialPg">Next</button>
</div>
</div>
<div id="tutorialPg4" class="tutorialPg modal-content">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLabel">Resources</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<img alt="" src="{% static 'assets/onboarding/archive.png' %}" class="fullWidth">
<div class="modal-body">
<p>Click on Resources to find additional content including recipes, occupational exercise and
newsletters.</p>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-primary lastTutorialPg mr-auto">Previous</button>
<button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-primary">Close</button>
</div>
</div>
</div>
</div>
<!-- Logout modal -->
<div class="modal" id="logout">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-body text-center p-5">
<img src="{% static 'images/pop-modal.png' %}" alt="Logo">
<p>Are you sure you would like to<br /> log out of OptiMe</p>
<a class="yes-link" href="{% url 'frontendsite-logout' %}">Yes</a>
<a class="no-link" data-dismiss="modal" href="javascript:void(0)">No</a>
</div>
</div>
</div>
</div>
<!-- Profile Saved modal -->
<div class="modal" id="profilesaved">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-body text-center p-5">
<img src="{% static 'images/pop-modal.png' %}" alt="Logo">
<p>Your OptiMe profile has been saved</p>
<a class="yes-link" href="{% url 'frontendsite-index' %}">Return to dashboard</a>

</div>
</div>
</div>
</div>
<!-- Alerts -->
<div class="modal" id="alerts">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-body text-center p-5">
<img src="{% static 'images/pop-modal.png' %}" alt="Logo">
<p>You currently have no alerts</p>
<a class="yes-link" href="{% url 'frontendsite-index' %}">Return to dashboard</a>
</div>
</div>
</div>
</div>
{% endblock %}
</div>