{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Page Description -->
    <meta name="description"
          content="OptiMe is supporting employees to reach their optimal self, creating healthy & happy workforces, enabling businesses to thrive.">
    <!-- Author -->
    <meta name="author" content="Nebula Labs">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/favicon/site.webmanifest' %}">
    <!-- Page Title -->
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/hamburgers.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery-ui.theme.min.css' %}" rel="stylesheet">
    <!-- Custom -->
    <link href="{% static 'css/styles.min.css' %}" rel="stylesheet">
    <!-- Twitter card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@opti_me">
    <!-- Facebook Open Graph -->
    <meta property="og:title" content="OptiMe">
    <meta property="og:url" content="https://optimeapp.com">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://optime-production.s3.amazonaws.com/assets/favicon/logo.png">
    <meta property="og:image:alt" content="OptiMe Logo"/>
    <meta property="og:description"
          content="OptiMe is supporting employees to reach their optimal self, creating healthy & happy workforces, enabling businesses to thrive.">
    <meta property="og:site_name" content="OptiMe">
    <meta property="og:locale" content="en-GB">
    <!-- Web app -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#25428A">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152536773-1"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-152536773-1');
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-152536773-1', 'auto', {
            userId: '{{user.id}}'
        });

        ga('send', {
            hitType: 'event',
            eventCategory: 'Company',
            eventAction: 'Logged-in',
            eventLabel: '{{ user.company.name }}',
        });

        ga('send', {
            hitType: 'event',
            eventCategory: 'User',
            eventAction: 'Logged-in',
            eventLabel: '{{ user.id }}',
        });

        ga('send', 'pageview');
    </script>
    <script>
        // Variable colors
        let primary;
        let primaryAccent;
        let secondary;
        if ('{{company.name}}'.length <= 0) {
            primary = '#25428A';
            primaryAccent = '#15327A';
            secondary = '#00AEEF';
        } else {
            primary = '{{ company.primary_colour }}';
            primaryAccent = '{{ company.primary_accent_colour }}';
            secondary = '{{ company.secondary_colour }}';

        }
        var metaThemeColor = document.querySelector("meta[name=theme-color]");
        metaThemeColor.setAttribute("content", '{{ company.primary_colour }}');

        // Local storage for jquery
        localStorage.setItem("primary_colour", '{{ company.primary_colour }}');
        localStorage.setItem("primary_accent_colour", '{{ company.primary_accent_colour }}');
        localStorage.setItem("secondary_colour", '{{ company.secondary_colour }}');

        var css = ":root{--primary:" + primary + ";--primary-accent:" + primaryAccent + ";--secondary:" + secondary + ";}",
            head = document.head || document.getElementsByTagName('head')[0],
            style = document.createElement('style');
        head.appendChild(style);
        style.type = 'text/css';
        if (style.styleSheet) {
            // This is required for IE8 and below.
            style.styleSheet.cssText = css;
        } else {
            style.appendChild(document.createTextNode(css));
        }
    </script>
</head>
<body>
{% block header %}
<header id="header" class="">  
<div class="topbar-header">   
<div class="col-lg-11 mx-auto">
<div class="row">
<div class="col-md-7 justify-content-center align-self-center">
<ul class="topbar-user">
<li><h2>{% block page_name %} {% endblock %}</h2></li>
<li class="user-topbar-text"><div class="d-none d-lg-block">{{greet}} {{current_user.first_name}}, <span>welcome to OptiMe</span></div></li>
</ul>
</div>
<div class="col-md-5 justify-content-center align-self-center d-none d-lg-block">
        <div class="text-right">
            <ul class="logout-top">
                <!-- <li>Getting Started with OptiMe</li> -->
                <li>Call Counselling Support</li>
                <!-- <li><a href="http://213.136.79.247/video/77/"><img class="img-fluid OptiMe-pay-img" src="{% static 'images/OptiMe-pay.png' %}" alt="OptiMe-pay"></a></li> -->
                <li><a class="counsellingsupport home-nav" title="Call Counselling Support" href="tel:+03332128303"><img src="{% static 'images/phone-m.png' %}" alt="Resources"></a> </li>
                <li><a data-toggle="modal" data-target="#logout" class="logout-link" title="Log Out" href="{% url 'frontendsite-logout' %}"><img class="img-fluid" src="{% static 'images/LogOut.png' %}" alt="Log Out"></a></li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
</div>
</div>    
</header>
{% endblock %}

{% block before_content %}
{% endblock %}

{% block content %}
{% endblock %}
<footer>
{% block footer %} 
<div id="footer">
<div class="col-lg-11 mx-auto">View our <a href="{% url 'frontendsite-terms' %}" class="secondary">Terms of Use</a>, <a href="{% url 'frontendsite-privacy' %}" class="secondary">Privacy Policy</a> and our <a class="secondary" href="{% url 'frontendsite-cookies' %}">Cookies Policy</a>
</div>
</div>
{% endblock %} 
</footer>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/Chart.bundle.min.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>

<script>
$(document).ready(function(){
$('[data-toggle="tooltip"]').tooltip();
});
</script>
<script type="text/javascript">
$(document).ready(function(){
if ($(window).width() < 767){
$("#myawardshome").addClass("collapse")
$("#recommendedhome").addClass("collapse")
$("#pastsurveyspage").addClass("collapse")
$("#upcomingawardspage").addClass("collapse")
$("#latestwinnerspage").addClass("collapse")
$("#helpfulcontentslider").addClass("jcarousel")
$("#helpfulcontentsliderremove").removeClass("row")
$("#selfreflectionmobile").removeClass("dropright")
$("#selfreflectionmobile").removeClass("btn-group")
$("#selfreflectionmobile").removeAttr("data-toggle");
$("#selfreflectionmobile").removeAttr("data-original-title");
$("#alertsmobilebutton").removeAttr("data-toggle");
$("#alertsmobilebutton").removeAttr("data-original-title");
$('#alertsmobile, #selfreflectionmobile').click(function () {$('#menu').click();});
}
else {
$("#sidebar-wrapper").show();
}
});


</script>
<script src="{% static 'js/jquery.jcarousel.min.js' %}"></script>
<script src="{% static 'js/jquery.jcarousel-swipe.js' %}"></script>
<script src="{% static 'js/jcarousel.responsive.js' %}"></script>
{% block chart_scripts %}
{% endblock %}
</body>
</html>