{% extends './base_navbar.html' %}
{% load staticfiles %}
{% block page_name %}
  My Dashboard
{% endblock %}
{% block title %}
  OptiMe | Dashboard
  OptiMe | Dashboard
{% endblock %}
{% block content %}
<div id="page-content-wrapper" class="pt-5 dashboardpage">
<div class="row col-11 mx-auto mt-5 pt-5 pt-sm-mobile">
<div class="col-lg-6 pl-0">
<div class="col-12 p-0">
<h2 class="red-title text-color-new">My Wellbeing</h2>
<div class="col-md-10 mx-auto row no-overflow text-center">
<div id="radarChart" class="fullWidth mt--76"></div>
</div>
<div class="col-md-12 no-overflow text-center">
<div class="radarChartdata">
<ul class="radarchartdata-list">
{% for pillar in radar_chart_data %}
<li>
<div class="p">{{ pillar.data|floatformat:"0" }} % </div>
<div class="professionalname">{{pillar.name_user}} </div>
<div class="radarchartcolor"></div>
</li>
{% endfor %}
</ul>
</div>
</div>
</div>
</div>
<div class="col-lg-6 p-0-mobile">
  <div class="col-11 mx-auto p-0">
    <h2 class="red-title text-color-new mobile-only-none mb-4">My Wellbeing Content <a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title="Your Wellbeing Content"><span class="info-circle">i</span></a></h2>
        <div>
          {% if user.workshop_goal %}
            <div id="poster" class="clickable contentVideoBox">
              {% if user.workshop_goal.video.image %}
                <div class="contentGoalBox text-center position-relative">
  <div class="contentGoalBoximgvio"> <img id="posterImg" alt="{{ user.workshop_goal.video.title }}"
                  src="{{ user.workshop_goal.video.image.url }}"
                  class="contentVideo">
<!-- <video class="fullWidth" style="height: auto" controls poster="{{ content.image.url }}"> -->
<video class="fullWidth" id="video" controls poster="{{ content.image.url }}">
      <source src="{{ user.workshop_goal.video.video.url }}" type="video/mp4">
      Your browser does not support the video tag. </video>
    <!-- <div class="icon-video newclick">
                    <svg xmlns="http://www.w3.org/2000/svg" height="20" class="itemIcon" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon class="icon" points="5 3 19 12 5 21 5 3"></polygon></svg></div> --> 
  </div>
</div>
                <p class="padding5">{{ user.workshop_goal.video.title }}</p>
              {% else %}
                <p class="marginBottom0 contentPlaceholder">{{ user.workshop_goal.video.title }}</p>
              {% endif %}
            </div>
          {% else %}
<div class="marginBottom20">
<p>Check out your results on the Wellbeing Wheel!<br> You can now choose your Wellbeing Workshop for the month</p>
<button id="relatedBtn" class="viewawardslink mt-4" data-toggle="modal" data-target="#workshopModal">Select your workshop for this month</button>
</div>
{% endif %}
</div>
</div>  

<div class="col-11 mx-auto p-0 "> {% if goal %}
          <!-- <h3 id="userGoals" class="text-center marginTop3">Goals</h3> -->
          <h2 class="red-title text-color-new mb-3 mt-5 mt-mobile-50">My targets for the month <a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title="View your wellbeing score based on your survey results."><span class="info-circle">i</span></a> </h2>
          <div class="my-3 goalBoxNew">
            <h4 class="goal-title"> {{ goal.goal.goal.title }}</h4>
            {% for task in goal.tasks.all %}
              <div class="input-group mb-2">
                <!-- <p type="text" class="form-control autoHeight" aria-label="Text input with checkbox"></p> -->
                <label class="customCheckbox whiteCheckbox-checkbox email-notifications-check w-100">
                  <span class="row">
                    <span class="col-3 col-md-1 justify-content-center align-self-center">
                      <input type="checkbox" id="goal{{ task.pk }}" class="goalCheck" data-id="{{ task.pk }}"
                      {% if task.is_complete %} checked
                        data-active="True"
                      {% else %}
                        data-active="False"
                      {% endif %}/>
                      <div class="whiteCheckbox_indicator"></div></span>
                      <span class="col-9 col-md-11 p-0 justify-content-center align-self-center">{{ forloop.counter }}. {{ task.task.title }}</span>
                    </span>
                  </label>
                </div>
              {% endfor %}
              <div id="congratulations" class="col-12 mx-auto text-center mt-4 pt-2">
                <h5 class="">Well done! You have now completed this months Wellbeing Goal!</h5>
              </div>
              <!-- <div class="col mx-auto text-center my-4">
                <button id="relatedBtn" class="btn mx-auto viewawardslink" data-toggle="modal" data-target="#recommendedModal"> My Recommended Content </button>
              </div> -->
            </div>
          {% endif %} </div>
        </div>
        <div class="clearfix d-block w-100"></div>
        <div class="mt-4 d-block w-100">
          <hr class="secondaryBackground">
        </div>
        <div class="recommendedforyou pt-4 col-md-12 pl-0 pr-0">
          <div class="row">
            <div class="col-md-12">
              <div id="newwellbeingdontent">
                <div class="row">
                  <div class="col-md-6">
                    <h2 class="red-title text-color-new mobile-only-none mb-4">My recommended content <a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title="View recommended content based on your chosen monthly target"><span class="info-circle">i</span></a></h2>
                    <h2 class="red-title text-color-new mb-0">
                    <span class="mobile-only-optime mobile-collapse-text">
                      <a class="" data-toggle="collapse" href="#recommendedhome" role="button" aria-expanded="false" aria-controls="recommendedhome">
                        My recommended content
                      </a>
                      <a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title="Explanation test on how the function works!"><span class="info-circle">i</span></a>
                    </span>
                    </h2>
                    <div class="row">
                    <div id="otherContent" class="row col-12 no-overflow marginBottom20 contentboxlinks">
                      {% for item in content %}
                        {% if not item.has_goals %}
                          {% if item.content_type.value != 'newsletter' or item.company == null or item.content_type.value == 'newsletter' and item.company.pk == user.company.pk %}
                          <div class="col-md-6 marginBottom20 contentboxlinks">
                            <a href="/{{ item.content_type.value }}/{{ item.pk }}">
                              <div class="contentBox">
                                <div class="contentImgBox text-center position-relative">
                                  {% if item.image %}
                                    <img alt="{{ item.title }}" src="{{ item.image.url }}"
                                    class="contentImg">
                                  {% endif %}
                                  <div class="icon-video">
                                    {% if item.content_type.value == 'video' %}
                                      <svg class="itemIcon" width="20" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                      <polygon points="5 3 19 12 5 21 5 3"></polygon>
                                    </svg>
                                    {% elif item.content_type.value == 'recipe' %}
                                    <svg class="itemIcon" width="20" viewBox="0 0 24 24" fill="none"
                                      stroke="currentColor"
                                      stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round">
                                    <path d="M2 8h16v9a4 4 0 0 1-4 4H6a4 4 0 0 1-4-4V8z"></path>
                                  <line x1="6" y1="1" x2="6" y2="4"></line>
                                <line x1="10" y1="1" x2="10" y2="4"></line>
                              <line x1="14" y1="1" x2="14" y2="4"></line>
                            </svg>
                            {% elif item.content_type.value == 'article' %}
                            <svg class="itemIcon" width="20" viewBox="0 0 24 24" fill="none"
                              stroke="currentColor"
                              stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round">
                              <polyline
                              points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline>
                            </svg>
                            {% elif item.content_type.value == 'newsletter' %}
                            <svg class="itemIcon" width="20" viewBox="0 0 24 24" fill="none"
                              stroke="currentColor"
                              stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round">
                            <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                          <polyline points="14 2 14 8 20 8"></polyline>
                        <line x1="16" y1="13" x2="8" y2="13"></line>
                      <line x1="16" y1="17" x2="8" y2="17"></line>
                    <polyline points="10 9 9 9 8 9"></polyline>
                  </svg>
                {% endif %}
              </div>
            </div>
            <div class="col-12 row no-overflow marginTop10">
              <p class="no-overflow">{{ item.title | truncatechars:32 }}</p>
            </div>
          </div>
        </a>
      </div>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
</div>
<div class="col-12 row no-overflow loginForm">
   <a href="{% url "frontendsite-archive" %}" class="btn btn-lg forgot-btn mx-auto">More Content</a>
</div>
</div>
<div class="col-md-6">
<div class="myawardsbox mb-4">
  <div class="col-11 mx-auto p-0">
    <h2 class="red-title text-color-new mb-4 mobile-only-none">My Awards <a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title="Check out your latest awards"><span class="info-circle">i</span></a></h2>
    <div class="myawardsboxhome mobile-only-none">
      <div class="myawardsboxhomelist text-center">
        <ul>
          {% for award in my_awards %}
            {% if forloop.counter <= 5 %}
              <li>
                <div class="p-2">
                  <object class="dynamic-svg" type="image/svg+xml" data="{{ award.company_award.award.graphic.url }}">
                  </object>
                </div>
                <p> <img title="{{ award.company_award.award.title }}" src="{% static 'images/rating-star-one.png' %}" alt="Rating Star"></p>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="text-center pt-3"> <a class="viewawardslink" href="{% url 'frontendsite-awards' %}">View Awards</a> </div>
    </div>
    
  </div>
</div>
</div>
<div class="clearfix"></div>
</div>
</div>
</div>
</div>
<div class="clearfix d-block w-100"></div>
<div class="mt-5 d-block w-100 mt-mobile-0">
<hr class="secondaryBackground">
</div>
<div class="col-lg-12 mb-5 pl-0 pr-0">
<div class="col-12 no-overflow mt-4">
<form method="get" id="archiveForm" role="form" action="#">
{% csrf_token %}
<div class="row">
<div class="col-md-4 justify-content-center align-self-center">
<h3 class="red-title mb-0 text-color-new">More Helpful Content</h3>
</div>
<div class="col-md-8 justify-content-center align-self-center">
<div class="row ">
<div class="col-md-3 justify-content-center align-self-center">
<h3 class="red-title mb-0 text-color-new">Search by Filter</h3>
</div>
<div class="col-md-3 justify-content-center align-self-center">
<div class="form-group m-form__group col-12 mx-auto no-overflow">
<div id="content_select" class="custom-select form-control p-0 recipe-all">
<select class="select_type"  name="type">
<option {% if "all" == current_content_type %}selected{% endif %} value="all">All </option>
<option {% if "recipe" == current_content_type %}selected{% endif %} value="recipe"> Recipe </option>
<option {% if "article" == current_content_type %}selected{% endif %} value="article"> Exercise </option>
<option {% if "video" == current_content_type %}selected{% endif %} value="video"> Workshops </option>
<option {% if "newsletter" == current_content_type %}selected{% endif %} value="newsletter">Newsletter </option>
</select>
</div>
</div>
</div>
<div class="col-md-3 justify-content-center align-self-center">
<input type="hidden" id="allData" value="false" name="all_data">
<div class="custom-select form-control p-0 environmental-list">
<!-- <label for="pillarSelect">Pillar</label> -->
<select class="select_type" name="pillar">
<option {% if "all" == current_pillar %}selected{% endif %} value="all">All</option>
<option {% if "environmental" == current_pillar %}selected{% endif %} value="environmental">Environmental </option>
<option {% if "financial" == current_pillar %}selected{% endif %} value="financial"> Financial </option>
<option {% if "social" == current_pillar %}selected{% endif %} value="social">Social </option>
<option {% if "mental" == current_pillar %}selected{% endif %} value="mental">Mental </option>
<option {% if "professional" == current_pillar %}selected{% endif %} value="professional">Professional </option>
<option {% if "physical" == current_pillar %}selected{% endif %} value="physical"> Physical </option>
</select>
</div>
</div>
<!-- <div class="col-md-3 justify-content-center align-self-center marginTop10">
<a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title="Explanation test on how the function works!"><span class="info-circle">i</span></a>
</div> -->
<div class="clearfix"></div>
</div>
</div>
<div class="clearfix"></div>
</div>
{% if error %}
<div class="alert margin-top-20 alert-danger col-10 col-md-6 mx-auto" role="alert"> {% for k,v in error.items %}
{{ k | title }}: {% for val in v %}{{ val }}{% endfor %}
{% endfor %} </div>
{% endif %}
</form>
</div>
</div>
<div class="col-12 p-0">
<div class="jcarousel-wrapper">
<div id="helpfulcontentslider" class="">
<ul id="helpfulcontentsliderremove" class="row">
{% for rec in all_content %}
{% if forloop.counter <= 8 %}
<li class="col-md-6 col-lg-4 col-xl-3 marginBottom20 contentboxlinks"> <a href="/{{ rec.content_type.value }}/{{ rec.pk }}">
<div class="contentBox">
<div class="contentImgBox text-center position-relative"> {% if rec.image %} <img alt="{{ rec.title }}" src={{rec.image.url}} class="contentImg"> {% endif %}
<div class="icon-video"> {% if rec.content_type.value == 'video' %} <svg xmlns="http://www.w3.org/2000/svg" height="20" class="itemIcon" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
<polygon class="icon" points="5 3 19 12 5 21 5 3"></polygon>
</svg> {% elif rec.content_type.value == 'recipe' %} <svg class="itemIcon" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
<path class="icon" d="M2 8h16v9a4 4 0 0 1-4 4H6a4 4 0 0 1-4-4V8z"></path>
<line class="icon" x1="6" y1="1" x2="6" y2="4"></line>
<line class="icon" x1="10" y1="1" x2="10" y2="4"></line>
<line class="icon" x1="14" y1="1" x2="14" y2="4"></line>
</svg> {% elif rec.content_type.value == 'article' %} <svg class="itemIcon" width="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
<polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline>
</svg> {% elif rec.content_type.value == 'newsletter' %} <svg xmlns="http://www.w3.org/2000/svg" class="itemIcon" height="20" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round"
stroke-linejoin="round">
<path class="icon" d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
<polyline class="icon" points="14 2 14 8 20 8"></polyline>
<line class="icon" x1="16" y1="13" x2="8" y2="13"></line>
<line class="icon" x1="16" y1="17" x2="8" y2="17"></line>
<polyline class="icon" points="10 9 9 9 8 9"></polyline>
</svg> {% endif %} </div>
</div>
<div class="col-12 row no-overflow marginTop10">
<p class="text-overflow text-left video-name ">{{ rec.title |truncatechars:100 }}</p>
</div>
</div>
</a>
</li>
{%endif%}
{%endfor%}
</ul>
</div>
<a href="#" class="jcarousel-control-prev">&lsaquo;</a>
<a href="#" class="jcarousel-control-next">&rsaquo;</a>
</div>
</div>
<h2 class="red-title text-color-new mobile-awards-list">
<span class="mobile-only-optime mobile-collapse-text">
<a class="" data-toggle="collapse" href="#myawardshome" role="button" aria-expanded="false" aria-controls="myawardshome">My Awards</a>
<a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title="Explanation test on how the function works!"><span class="info-circle">i</span></a></span></h2>
<div class="col-12 mobile-only-optime bbredbotm">
<div class="" id="myawardshome">
<div class="myawardsboxhome mb-4">
<div class="myawardsboxhomelist text-center">
<ul>
{% for award in my_awards %}
{% if forloop.counter <= 5 %}
<li>
<div class="p-2">
<object class="dynamic-svg" type="image/svg+xml" data="{{ award.company_award.award.graphic.url }}"></object>
</div>
<p><img title="{{ award.company_award.award.title }}" src="{% static 'images/rating-star-one.png' %}" alt="Rating Star"></p>
</li>
{% endif %}
{% endfor %}
</ul>
</div>
<div class="text-center pt-3"> <a class="viewawardslink" href="{% url 'frontendsite-awards' %}">View Awards</a> </div>
</div>
</div>
</div>
</div>
</div>
<div class="modal fade bd-example-modal-lg" id="recommendedModal" tabindex="-1" role="dialog" aria-labelledby="onboardingModal" aria-hidden="true">
<div class="modal-dialog modal-lg modal-dialog-centered">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLabel">Related Content</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
</div>
<div id="recommendedContent" class="col-12 row marginBottom20"> </div>
</div>
</div>
</div>
<div class="modal fade bd-example-modal-lg" id="workshopModal" tabindex="-1" role="dialog" aria-labelledby="workshopModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg modal-dialog-centered">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="workshopModalLabel">Select your workshop for this month</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
</div>
<div class="modal-body">
<div class="col-12 row">
<div class="col-md-9 mx-auto">
<p class="workshopModaltextp">This month we recommend that you do a workshop to improve your <span id="selectedPillar"></span> pillar.</p>
</div>
<div class="col-md-3">
<div class="pt-0 pr-0 pl-0">
  <div class="pillarSelectarrow">
<select id="pillarSelect">
{% for pillar in radar_chart_data %}
<option class="pillarOption" data-value="{{ pillar.data }}" value="{{ pillar.name_code }}">{{ pillar.name_user }}</option>
{% endfor %}
</select>
</div>
</div>
</div>
</div>
<div class="videoGoalScroll"> {% for video in goals_video %} <a href="#" data-id="{{ video.id }}" class="col-11 mx-auto row no-overflow overflow-hidden mb-3 curved workshopList addVideoGoal {{ video.pillar }}List">
<div class="col-lg-3 p-0 " style="object-fit: cover"> {% if video.image %} <img alt="{{ video.title }}" class="w-100" src="{{ video.image.url }}"> {% endif %} </div>
<div class="col-lg-9 {{ video.pillar }}Pillar ">
<h4 class="pt-3">{{ video.title }}</h4>
<p> {{ video.description|linebreaksbr }} </p>
</div>
</a> {% endfor %} </div>
</div>
</div>
</div>
</div>
{% endblock %}
{% block chart_scripts %}
<script>
$(document).ready(function(){
  $("#poster").click(function(){
    $(".newclick").hide();   
  });
});
</script>
<script>
// Variable colors
let primaryColor = '#25428A';
let primaryAccentColor = '#15327A';
let secondaryColor = '#00AEEF';
if (localStorage.getItem("primary_colour") !== null) {
primaryColor = localStorage.getItem("primary_colour");
}
if (localStorage.getItem("secondary_colour") !== null) {
secondaryColor = localStorage.getItem("secondary_colour");
}
let secondaryRgb = hex2rgb(secondaryColor);
let primaryAccentRgb = hex2rgb(primaryAccentColor);
function hex2rgb(hex) {
// long version
r = hex.match(/^#([0-9a-f]{2})([0-9a-f]{2})([0-9a-f]{2})$/i);
if (r) {
return r.slice(1, 4).map(function (x) {
return parseInt(x, 16);
});
}
// short version
r = hex.match(/^#([0-9a-f])([0-9a-f])([0-9a-f])$/i);
if (r) {
return r.slice(1, 4).map(function (x) {
return 0x11 * parseInt(x, 16);
});
}
return null;
}
// EMPLOYEE
// RADAR CHART
var options = {
series:  [
{% for pillar in radar_chart_data %}
{{ pillar.data }}{% if not forloop.last %},{% endif %}
{% endfor %}
],
chart: {
type: 'radialBar',
},
plotOptions: {
radialBar: {
endingShape: 'flat',
hollow: {
margin: 0,
size: '15%',
background: 'transparent',
image: "{% static 'images/optiChart-logo.png' %}",
imageWidth: 56,
imageHeight: 56,
imageClipped: false,
},
dataLabels: {
show:false,
}
}
},
labels: [{% for pillar in radar_chart_data %}'{{ pillar.name_user  }}'{% if not forloop.last %}, {% endif %}{% endfor %}],
// legend: {
// show: true,
// position: 'bottom',
// fontSize: '16px',
// formatter: function(seriesName, opts) {
// return [seriesName, opts.w.globals.series[opts.seriesIndex], "%",]
// },
// markers: {
// size:10,
// }
// },
//colors: ['#707578', '#9489C6', '#44BBAB', '#C4BD03', '#E73551', '#155269'],
colors: ['#9489C6', '#E73551', '#707578', '#44BBAB', '#C4BD03', '#155269'],
responsive: [{
breakpoint: 1000,
options: {
}
}]
};
var chart = new ApexCharts(document.querySelector("#radarChart"), options);
chart.render();
</script>
<script>
var x, i, j, selElmnt, a, b, c;
/*look for any elements with the class "custom-select":*/
x = document.getElementsByClassName("custom-select");
for (i = 0; i < x.length; i++) {
console.log("select element",x[i].getElementsByClassName("select_type"));
selElmnt = x[i].getElementsByClassName("select_type")[0];
/*for each element, create a new DIV that will act as the selected item:*/
a = document.createElement("DIV");
a.setAttribute("class", "select-selected");
a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
x[i].appendChild(a);
/*for each element, create a new DIV that will contain the option list:*/
b = document.createElement("DIV");
b.setAttribute("class", "select-items select-hide");
for (j = 1; j < selElmnt.length; j++) {
/*for each option in the original select element,
create a new DIV that will act as an option item:*/
c = document.createElement("DIV");
c.innerHTML = selElmnt.options[j].innerHTML;
c.addEventListener("click", function(e) {
/*when an item is clicked, update the original select box,
and the selected item:*/
var y, i, k, s, h;
s = this.parentNode.parentNode.getElementsByTagName("select")[0];
h = this.parentNode.previousSibling;
for (i = 0; i < s.length; i++) {
if (s.options[i].innerHTML == this.innerHTML) {
s.selectedIndex = i;
$('form').submit();
h.innerHTML = this.innerHTML;
y = this.parentNode.getElementsByClassName("same-as-selected");
for (k = 0; k < y.length; k++) {
y[k].removeAttribute("class");
}
this.setAttribute("class", "same-as-selected");
break;
}
}
h.click();
});
b.appendChild(c);
}
x[i].appendChild(b);
a.addEventListener("click", function(e) {
/*when the select box is clicked, close any other select boxes,
and open/close the current select box:*/
e.stopPropagation();
closeAllSelect(this);
this.nextSibling.classList.toggle("select-hide");
this.classList.toggle("select-arrow-active");
});
}
function closeAllSelect(elmnt) {
/*a function that will close all select boxes in the document,
except the current select box:*/
var x, y, i, arrNo = [];
x = document.getElementsByClassName("select-items");
y = document.getElementsByClassName("select-selected");
for (i = 0; i < y.length; i++) {
if (elmnt == y[i]) {
arrNo.push(i)
} else {
y[i].classList.remove("select-arrow-active");
}
}
for (i = 0; i < x.length; i++) {
if (arrNo.indexOf(i)) {
x[i].classList.add("select-hide");
}
}
}
/*if the user clicks anywhere outside the select box,
then close all select boxes:*/
document.addEventListener("click", closeAllSelect);
</script>


{% endblock %}