{% extends './base_navbar.html' %}
{% load staticfiles %}
{% block page_name %}
	Profile
{% endblock %}
{% block title %}
	OptiMe | Profile
{% endblock %}
{% block content %}
	<div id="page-content-wrapper" class="profilepage mb-5 py-5">
		<div class="row col-12 no-overflow mt-5 pt-5 pt-sm-mobile">
			<div class="col-lg-6">
				<div class="col-12 p-0">
					<form method="post" role="form" action="#" id="profileForm" class="loginForm col-md-10 mx-auto p-0">
						{% csrf_token %}
						<h2 class="red-title">Profile Settings <a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title="Explanation test on how the function works!"><span class="info-circle">i</span></a></h2>
						<div class="form-group m-form__group">
							<h3 class="profile-sub-tital mb-3">Create a new password</h3>
							<input class="form-control" type="password" id="password" placeholder="Enter Enter New Password" name="password">
							<div class="white" id="passwordStrengthStatus"></div>
						</div>
						<div class="form-group m-form__group">
							<input class="form-control" type="password" id="passwordCheck" placeholder="Re-Enter New Password">
						</div>
						{% if user.company.requires_age %}
							<div class="form-group m-form__group">
								<label for="age_range">Age Range</label>
								<select class="form-control" id="age_range" name="age_range">
									<option {% if "under_twenty_one" == user.age_range %}selected{% endif %}
									value="under_twenty_one">Under Twenty
								</option>
								<option {% if "twenties" == user.age_range %}selected{% endif %}
								value="twenties">Twenties
							</option>
							<option {% if "thirties" == user.age_range %}selected{% endif %}
							value="thirties">Thirties
						</option>
						<option {% if "forties" == user.age_range %}selected{% endif %}
						value="forties">Forties
					</option>
					<option {% if "fifties" == user.age_range %}selected{% endif %}
					value="fifties">Fifties
				</option>
				<option {% if "sixties" == user.age_range %}selected{% endif %}
				value="sixties">Sixties
			</option>
			<option {% if "seventies_plus" == user.age_range %}selected{% endif %}
			value="seventies_plus">Seventy +
		</option>
	</select>
</div>
{% endif %}
{% if user.company.requires_gender %}
<div class="form-group m-form__group">
	<label for="gender">Gender</label>
	<select id="gender" class="form-control" name="gender">
		<option {% if "male" == user.gender %}selected{% endif %} value="male">
		Male
	</option>
	<option {% if "female" == user.gender %}selected{% endif %} value="female">
	Female
</option>
<option {% if "other" == user.gender %}selected{% endif %} value="other">
Other
</option>
</select>
</div>
{% endif %}
{% if user.company.requires_activity %}
<div class="form-group m-form__group">
<h3 class="profile-sub-tital">Occupational Activity <a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title="Select your occupational activity"><span class="info-circle">i</span></a></h3>
<select id="occupational_activity" class="form-control" name="occupational_activity">
<option {% if 'mainly_desk' == user.occupational_activity %}selected{% endif %}
value="mainly_desk">Mainly desk based
</option>
<option {% if "mainly_standing" == user.occupational_activity %}selected{% endif %}
value="mainly_standing">Mainly standing
</option>
<option {% if "mainly_driving" == user.occupational_activity %}selected{% endif %}
value="mainly_driving">Mainly driving
</option>
<option {% if "desk_driving" == user.occupational_activity %}selected{% endif %}
value="desk_driving">Desk based and driving
</option>
<option {% if "desk_standing" == user.occupational_activity %}selected{% endif %}
value="desk_standing">Desk based and standing
</option>
<option {% if "standing_driving" == user.occupational_activity %}selected{% endif %}
value="standing_driving">Standing and driving
</option>
</select>
</div>
{% endif %}
{% if user.company.requires_ethnicity %}
<div class="form-group m-form__group">
<label for="ethnicity">Ethnicity</label>
<select id="ethnicity" class="form-control" name="ethnicity">
<optgroup label="White">
<option {% if "british" == user.ethnicity %}selected{% endif %}
value="british">English / Welsh / Scottish / Northern Irish / British
</option>
<option {% if "irish" == user.ethnicity %}selected{% endif %}
value="irish">Irish
</option>
<option {% if "gypsy" == user.ethnicity %}selected{% endif %}
value="gypsy">Gypsy or Irish Traveller
</option>
<option {% if "white_other" == user.ethnicity %}selected{% endif %}
value="white_other">Any other White background
</option>
</optgroup>
<optgroup label="Mixed / Multiple ethnic groups">
<option {% if "white_black_caribbean" == user.ethnicity %}selected{% endif %}
value="white_black_caribbean">White and Black Caribbean
</option>
<option {% if "white_black_african" == user.ethnicity %}selected{% endif %}
value="white_black_african">White and Black African
</option>
<option {% if "white_asian" == user.ethnicity %}selected{% endif %}
value="white_asian">White and Asian
</option>
<option {% if "mixed_other" == user.ethnicity %}selected{% endif %}
value="other_mixed">Any other Mixed / Multiple ethnic background
</option>
</optgroup>
<optgroup label="Asian / Asian British">
<option {% if "indian" == user.ethnicity %}selected{% endif %}
value="indian">Indian
</option>
<option {% if "pakistani" == user.ethnicity %}selected{% endif %}
value="pakistani">Pakistani
</option>
<option {% if "bangladeshi" == user.ethnicity %}selected{% endif %}
value="bangladeshi">Bangladeshi
</option>
<option {% if "chinese" == user.ethnicity %}selected{% endif %}
value="chinese">Chinese
</option>
<option {% if "asian_other" == user.ethnicity %}selected{% endif %}
value="asian_other">Any other Asian background
</option>
</optgroup>
<optgroup label="Black / African / Caribbean / Black British">
<option {% if "african" == user.ethnicity %}selected{% endif %}
value="african">African
</option>
<option {% if "caribbean" == user.ethnicity %}selected{% endif %}
value="caribbean">Caribbean
</option>
<option {% if "black_other" == user.ethnicity %}selected{% endif %}
value="standing_driving">Any other Black / African / Caribbean
background
</option>
</optgroup>
<optgroup label="Other ethnic group">
<option {% if "arab" == user.ethnicity %}selected{% endif %}
value="arab">Arab
</option>
<option {% if "other" == user.ethnicity %}selected{% endif %}
value="other">Any other ethnic group
</option>
<option {% if "prefer_not_to_say" == user.ethnicity %}selected{% endif %}
value="prefer_not_to_say">Prefer not to say
</option>
</optgroup>
</select>
</div>
{% endif %}
{% if user.company.requires_height %}
<label class="white" for="height">Height</label>
<div class="form-group input-group m-form__group">
<input class="form-control" id="height" value="{{ user.height }}" type="number"
placeholder="{{ user.height }}"
name="height">
<div class="input-group-append">
<div class="input-group-text">Cm</div>
</div>
</div>
{% endif %}
{% if user.company.requires_weight %}
<label class="white" for="weight">Weight</label>
<div class="form-group input-group m-form__group">
<input class="form-control" type="number" value="{{ user.weight }}" id="weight"
placeholder="{{ user.weight }}"
name="weight">
<div class="input-group-append">
<div class="input-group-text">Kg</div>
</div>
</div>
{% endif %}
<h3 class="profile-sub-tital mobile-text-center">Dietary Requirements <a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title="Select your dietary requirements"><span class="info-circle">i</span></a></h3>
<div class="row marginTop3 dietary-requirements-red">
<div class="col-lg-5 form-group m-form__group">
<label class="whiteCheckbox customCheckbox whiteCheckbox-checkbox">
<span class="row">
<span class="col-3 col-md-3 justify-content-center align-self-center">
<input class="profileCheck" {% if user.dairy_free == True %}checked{% endif %} name="dairy_free" type="checkbox"/>
<div class="whiteCheckbox_indicator"></div>
</span>	
<span class="col-9 col-md-9 p-0 justify-content-center align-self-center">Dairy free</span>
</span>

</label>
</div>
<div class="col-lg-5 form-group m-form__group">
<label class="whiteCheckbox customCheckbox whiteCheckbox-checkbox">

<span class="row">
<span class="col-3 col-md-3 justify-content-center align-self-center">
<input class="profileCheck" {% if user.meat_free == True %}checked{% endif %} name="meat_free" type="checkbox"/>
<div class="whiteCheckbox_indicator"></div></span>	
<span class="col-9 col-md-9 p-0 justify-content-center align-self-center">Meat Free</span>
</span>

</label>
</div>
<div class="clearfix d-block w-100"></div>
<div class="col-lg-5 form-group m-form__group">
<label class="whiteCheckbox customCheckbox whiteCheckbox-checkbox">
<span class="row">
<span class="col-3 col-md-3 justify-content-center align-self-center"><input class="profileCheck" {% if user.gluten_free == True %}checked{% endif %} name="gluten_free" type="checkbox"/>
<div class="whiteCheckbox_indicator"></div></span>	
<span class="col-9 col-md-9 p-0 justify-content-center align-self-center">Gluten Free</span>
</span>
</label>
</div>
<div class="col-lg-5 form-group m-form__group">
<label class="whiteCheckbox customCheckbox whiteCheckbox-checkbox">
<span class="row">
<span class="col-3 col-md-3 justify-content-center align-self-center"><input class="profileCheck" {% if user.vegan == True %}checked{% endif %} name="vegan" type="checkbox"/>
<div class="whiteCheckbox_indicator"></div></span>	
<span class="col-9 col-md-9 p-0 justify-content-center align-self-center">Vegan	</span>
</span>

</label>
</div>
<div class="col-xl-12 form-group m-form__group">
<label class="customCheckbox whiteCheckbox-checkbox email-notifications-check mobile-checkbox">
<span class="row">
<span class="col-3 col-md-1 justify-content-center align-self-center">
<input class="profileCheck" {% if user.email_opt_in == True %}checked{% endif %} name="email_opt_in" type="checkbox"/>
<div class="whiteCheckbox_indicator"></div>
</span>
<span class="col-9 col-md-11 p-0 justify-content-center align-self-center">Opt in to email notifications</span>
</span>	
</label>
</div>
<div class="col-xl-4 marginTop3">
	
<button data-toggle="modal" data-backdrop="static" class="btn btn-lg forgot-btn w-100" type="submit">Save</button>
</div>
{% if error %}
<div class="col-12 text-center">
<div class="alert verticalMargin3 alert-danger" role="alert">
{% for k,v in error.items %}
{{ k | title }}: {% for val in v %}{{ val }}{% endfor %}
{% endfor %}
</div>
</div>
{% endif %}
</div>
</form>
</div>
</div>
<div class="col-lg-6">
<div class="col-12 p-0">
<div class="col-lg-10 mx-auto p-0">
<h2 class="red-title mt-mobile-70">Help & Support <a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title="View additional support organisations"><span class="info-circle">i</span></a></h2>
<div class="accordion" id="accordionExample">
<div class="card">
<a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
class="card-header clickable helpButton environmentalPillar collapsed" id="headingOne"><h3 class="white">Environment</h3></a>
<div id="collapseOne" class="collapse contacts" aria-labelledby="headingOne"
data-parent="#accordionExample">
<div class="card-body">
<a href="https://www.gov.uk/government/organisations/environment-agency" target="_blank">Environment Agency</a><br>
<a href="https://friendsoftheearth.uk/" target="_blank">Friends of the Earth</a><br>
</div>
</div>
</div>
<div class="card">
<a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" class="card-header clickable helpButton socialPillar collapsed" id="headingTwo"><h3 class="white">Social</h3></a>
<div id="collapseTwo" class="collapse contacts" aria-labelledby="headingTwo" data-parent="#accordionExample">
<div class="card-body">
<a href="https://www.samaritans.org/" target="_blank">Samaritans</a><br>
<a href="http://www.solacewomensaid.org" target="_blank">Solace Womens Aid</a><br>
<a href="http://www.family-action.org.uk" target="_blank">Family Action</a><br>
<a href="http://www.cruse.org.uk" target="_blank">Cruse bereavement</a><br>
<a href="https://www.citizensadvice.org.uk/" target="_blank">Citizens Advice</a><br>
</div>
</div>
</div>
<div class="card">
<a data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
aria-controls="collapseThree"
class="card-header clickable helpButton financialPillar collapsed" id="headingThree">
<h3 class="white">Financial</h3>
</a>
<div id="collapseThree" class="collapse contacts"
aria-labelledby="headingThree"
data-parent="#accordionExample">
<div class="card-body">
<a href="https://www.stepchange.org/" target="_blank">Step Change Debt Charity</a><br>
<a href="https://www.citizensadvice.org.uk/" target="_blank">Citizens Advice</a><br>
<a href="http://www.debtadvicefoundation.org/" target="_blank">Debt Advice Foundation</a><br>
</div>
</div>
</div>
<div class="card">
<a data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
aria-controls="collapseFour"
class="card-header clickable helpButton mentalPillar collapsed" id="headingFour">
<h3 class="white">Mental & Emotional</h3>
</a>
<div id="collapseFour" class="collapse contacts"
aria-labelledby="headingFour"
data-parent="#accordionExample">
<div class="card-body">
<a href="https://www.mind.org.uk" target="_blank">MIND</a><br>
<a href="http://www.sane.org.uk/" target="_blank">SANE</a><br>
<a href="https://www.samaritans.org/" target="_blank">Samaritans</a><br>
<a href="https://www.rethink.org" target="_blank">Rethink Mental</a><br>
<a href="http://www.turning-point.co.uk" target="_blank">Turning Point</a><br>
</div>
</div>
</div>
<div class="card">
<a data-toggle="collapse" data-target="#collapseFive" aria-expanded="true"
aria-controls="collapseFive"
class="card-header clickable helpButton professionalPillar collapsed" id="headingFive">
<h3 class="white">Professional</h3>
</a>
<div id="collapseFive" class="collapse contacts"
aria-labelledby="headingFive"
data-parent="#accordionExample">
<div class="card-body">
<a href="http://www.citizensadvice.org.uk" target="_blank">Citizens Advice</a><br>
</div>
</div>
</div>
<div class="card">
<a data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix" class="card-header helpButton clickable physicalPillar collapsed" id="headingTwo">
<h3 class="white">Physical</h3>
</a>
<div id="collapseSix" class="collapse contacts" aria-labelledby="headingSix" data-parent="#accordionExample">
<div class="card-body">
<a href="https://www.nhs.uk" target="_blank">NHS</a><br>
<a href="https://www.caba.org.uk/help-and-guides/information/boost-your-physical-wellbeing" target="_blank">CABA</a><br>
<a href="https://www.talktofrank.com/" target="_blank">FRANK</a><br>
<a href="http://www.turning-point.co.uk" target="_blank">Turning Point</a><br>
</div>
</div>
</div>
<div class="card">
<a data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven" class="card-header helpButton clickable technicalHelp collapsed" id="headingSeven">
<h3 class="white">Technical Help</h3>
</a>
<div id="collapseSeven" class="collapse contacts" aria-labelledby="headingSeven" data-parent="#accordionExample">
<div class="card-body">
<a href="mailto:hello@myopti.me">hello@myopti.me</a>
</div>
</div>
</div>
<!-- <button data-toggle="modal" data-target="#onboardingModal" class="btn btn-lg col-12 viewtutorialbutton">View Tutorial</button> -->
</div>
</div>
</div>
</div>
</div>
</div>
<style type="text/css">
.accordion .card-header::after {
content: "V";
position: absolute;
right: 50px;
top: 18px;
color: #FFF;
transform: rotate(270deg);
-ms-transform: rotate(270deg);
-moz-transform: rotate(270deg);
-webkit-transform: rotate(270deg);
-o-transform: rotate(270deg);
}
.accordion .card-header.collapsed:after {
content: "V";
transform: rotate(0deg);
-ms-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-webkit-transform: rotate(0deg);
-o-transform: rotate(0deg);
}
</style>

<script>
	{% if submitted %}
		console.log(">>>>>>>>>>>>>>>>>>>>>>>>")
    	$('#profilesaved').show();
    	$('#profilesaved').modal({backdrop:'static', keyboard:false})
    {% endif %}
</script>


{% endblock %}
