{% extends './base_navbar.html' %}
{% load staticfiles %}
{% block page_name %}
  Survey
{% endblock %}
{% block title %}
  OptiMe | Survey name
{% endblock %}
{% block content %}
  <div id="page-content-wrapper" class="mb-5 py-5 surveypageall">
    <div class="row col-11 mx-auto mt-5 pt-5">
      <div class="col-lg-6">
        <div class="col-12">
          <h1 class="col-xs-6 col-md-12 red-title pl-0 pr-0 mb-0">{{ questionnaire.title }}</h1>
          <p class="mt-2 mobile-center-questionnaire">Please complete the introductory questionnaire, this will take 3-5 minutes</p>
          <div class="progress verticalMargin3">
            <div class="progress-bar" role="progressbar" id="surveyProgress" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
          <h4 class="col-10 mx-auto white hideOnMob text-overflow">
          {{ questionnaire.description }}
          </h4>
          {% if error %}
            <div class="alert margin-top-20 alert-danger" role="alert">
              {% for k,v in error.items %}
              {{ k | title }}: {% for val in v %}{{ val }}{% endfor %}
            {% endfor %}
          </div>
        {% endif %}
        <svg class="surveySvg hideOnMob" viewBox="0 0 592 408" version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs>
          <linearGradient x1="50.0191515%" y1="99.9884545%" x2="50.0191515%" y2="-0.00658305107%"
            id="linearGradient-1">
            <stop stop-color="#808080" stop-opacity="0.25" offset="0%"></stop>
            <stop stop-color="#808080" stop-opacity="0.12" offset="54%"></stop>
            <stop stop-color="#808080" stop-opacity="0.1" offset="100%"></stop>
          </linearGradient>
          </defs>
          <g id="Final-Draft" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Questionaire" transform="translate(-114.000000, -271.000000)">
              <g id="undraw_to_do_list_a49b" transform="translate(102.000000, 244.000000)">
                <path d="M194.791239,47.6166853 C214.875764,29.5256956 246.40642,25.8419172 275.103722,27.2816136 C365.243277,31.8056419 446.611223,75.7445622 516.994163,125.447392 C542.473843,143.441035 567.559005,162.848758 584.113368,187.610512 C617.78569,238.051122 607.794663,307.930195 560.980299,349.481577 C545.051016,363.622367 525.740154,374.458516 505.916933,384.070155 C470.671665,401.15182 432.649404,414.862239 392.639185,418.766327 C364.110961,421.548374 335.254827,419.278674 306.870064,415.405327 C227.633537,404.553808 149.857237,380.565698 84.6645072,339.506171 C56.0594293,321.50228 29.1092753,299.117819 17.3249875,269.975494 C5.54069963,240.833169 13.0826439,203.939026 42.2769361,186.698534 C54.3532694,179.566657 68.7864602,176.349114 82.922482,173.321141 C103.729435,168.873965 124.8643,164.483147 143.642306,155.43509 C163.035145,146.089872 185.994012,128.014253 182.156433,107.325661 C178.037056,85.1461386 174.732332,65.6513168 194.791239,47.6166853 Z"
                id="Path" class="secondaryFill" fill-rule="nonzero" opacity="0.1"></path>
                <path d="M143,256.22474 C143,256.22474 148.406161,252.413372 154,254.767905 C154,254.767905 152.436019,258.040655 145.465877,257.999617 L143,256.22474 Z"
                id="Path" class="secondaryFill" fill-rule="nonzero"></path>
                <path d="M142.217292,256 C142.217292,256 140.833604,262.670726 145.049606,267 C145.049606,267 147.387389,264.176327 144.729909,257.607404 L142.217292,256 Z"
                id="Path" class="secondaryFill" fill-rule="nonzero"></path>
                <path d="M136,250.043196 C136,250.043196 136.188566,244.950881 147.998736,246.1961 C147.998736,246.1961 148.18234,249.471462 144.123214,251.176976 C140.064088,252.882489 138.118884,251.656651 136,250.043196 Z"
                id="Path" class="secondaryFill" fill-rule="nonzero"></path>
                <path d="M135.250256,251 C135.250256,251 130.224652,252.838178 135.19436,264 C135.19436,264 138.517661,263.116654 138.939426,258.587588 C139.36119,254.058523 137.521687,252.562451 135.250256,251 Z"
                id="Path" class="secondaryFill" fill-rule="nonzero"></path>
                <path d="M128.019739,243.046127 C128.019739,243.046127 127.035869,234.602252 138.960372,235.014627 C138.960372,235.014627 140.096741,242.648479 130.199011,245 L128.019739,243.046127 Z"
                id="Path" class="secondaryFill" fill-rule="nonzero"></path>
                <path d="M119,233.752984 C119,233.752984 120.332465,223.952804 132.998662,226.389148 C132.998662,226.389148 133.382329,234.809231 121.156831,236 L119,233.752984 Z"
                id="Path" class="secondaryFill" fill-rule="nonzero"></path>
                <path d="M113,223.150053 C113,223.150053 115.493103,212.83633 128,215.413424 C128,215.413424 125.413793,224.689893 113.894828,225 L113,223.150053 Z"
                id="Path" class="secondaryFill" fill-rule="nonzero"></path>
                <path d="M107,213.251381 C107,213.251381 109.335,202.771063 121,205.433064 C121,205.433064 117.5,215.426047 107.815,214.985874 L107,213.251381 Z"
                id="Path" class="secondaryFill" fill-rule="nonzero"></path>
                <path d="M103,204.26196 C103,204.26196 104.69,192.005 116,194.282084 C116,194.282084 113.1816,205.481107 103.884,206 L103,204.26196 Z"
                id="Path" class="secondaryFill" fill-rule="nonzero"></path>
                <path d="M99,193.202946 C99,193.202946 101.023327,180.23719 112,183.538044 C112,183.538044 108.182027,195.870036 99.8202677,194.951078 L99,193.202946 Z"
                id="Path" class="secondaryFill" fill-rule="nonzero"></path>
                <path d="M96,181.542402 C96,181.542402 99.5117057,168.994913 108,169 C108,169 104.413043,182.229308 96.8026756,184 L96,181.542402 Z"
                id="Path" class="secondaryFill" fill-rule="nonzero"></path>
                <path d="M94,171.623194 C94,171.623194 97.8796253,156.129551 105,157.038483 C105,157.038483 102.356909,168.865054 94.3400468,174 L94,171.623194 Z"
                id="Path" class="secondaryFill" fill-rule="nonzero"></path>
                <path d="M93,158.691835 C93,158.691835 96.8119865,145.782689 104,145 C104,145 101.554374,157.653468 93.2870952,162 L93,158.691835 Z"
                id="Path" class="secondaryFill" fill-rule="nonzero"></path>
                <path d="M92,146.991927 C92,146.991927 96.5596026,134.454087 101,134 C101,134 99.2764901,146.235116 92.5215232,149 L92,146.991927 Z"
                id="Path" class="secondaryFill" fill-rule="nonzero"></path>
                <path d="M91,137.003195 C91,137.003195 93.5889047,123.298403 98,122 C98,122 97.8058321,133.128435 91.4829303,138 L91,137.003195 Z"
                id="Path" class="secondaryFill" fill-rule="nonzero"></path>
                <path d="M88,122.465 C88,122.465 91.1214008,111.755 95,110 C95,110 94.7385214,122.5 89.0077821,125 L88,122.465 Z"
                id="Path" class="secondaryFill" fill-rule="nonzero"></path>
                <path d="M86.3997171,112.712298 L85,94 C85,94 92.4312254,107.883641 87.0359522,116 L86.3997171,112.712298 Z"
                id="Path" class="secondaryFill" fill-rule="nonzero"></path>
                <path d="M81.0023095,94.2383107 C81.0023095,94.2383107 75.2741124,80.7189542 74,80 C74,80 84.5114274,88.5470085 83.9805472,100 L81.0023095,94.2383107 Z"
                id="Path" class="secondaryFill" fill-rule="nonzero"></path>
                <path d="M126.952599,243.011321 C126.952599,243.011321 118.317473,242.170827 119.043324,254.973828 C119.043324,254.973828 126.852482,255.994051 129,245.294928 L126.952599,243.011321 Z"
                id="Path" class="secondaryFill" fill-rule="nonzero"></path>
                <path d="M118.910899,233 C118.910899,233 108.811881,233.351686 110.116295,245.966513 C110.116295,245.966513 118.651036,247.159188 121,235.308896 L118.910899,233 Z"
                id="Path" class="secondaryFill" fill-rule="nonzero"></path>
                <path d="M113.104167,223.695872 C113.104167,223.695872 103.5625,219.574809 98,231.390295 C98,231.390295 106.796875,234.788178 114,225.541045 L113.104167,223.695872 Z"
                id="Path" class="secondaryFill" fill-rule="nonzero"></path>
                <path d="M107.13215,213.774459 C107.13215,213.774459 97.2649573,209.640484 92,220.474694 C92,220.474694 102.230112,223.405423 108,215.422058 L107.13215,213.774459 Z"
                id="Path" class="secondaryFill" fill-rule="nonzero"></path>
                <path d="M102.502894,204.668423 C102.502894,204.668423 92.9853792,195.926926 86,205.431826 C86,205.431826 95.6573256,212.549749 103,206.679075 L102.502894,204.668423 Z"
                id="Path" class="secondaryFill" fill-rule="nonzero"></path>
                <path d="M99.5936255,192.571268 C99.5936255,192.571268 89.9552559,183.879158 83,193.615993 C83,193.615993 93.716825,200.641768 100,194.446549 L99.5936255,192.571268 Z"
                id="Path" class="secondaryFill" fill-rule="nonzero"></path>
                <path d="M96.9790918,181.381299 C96.9790918,181.381299 89.36328,170.699856 81,173.453744 C81,173.453744 88.9137537,184.773037 97,183.958008 L96.9790918,181.381299 Z"
                id="Path" class="secondaryFill" fill-rule="nonzero"></path>
                <path d="M94.7246735,171.611542 C94.7246735,171.611542 86.8302153,157.616018 80,160.355411 C80,160.355411 85.7077303,171.124423 95,174 L94.7246735,171.611542 Z"
                id="Path" class="secondaryFill" fill-rule="nonzero"></path>
                <path d="M93.1875627,157.951687 C93.1875627,157.951687 85.6349047,147.609196 79,149.158095 C79,149.158095 85.2537613,159.698529 94,161 L93.1875627,157.951687 Z"
                id="Path" class="secondaryFill" fill-rule="nonzero"></path>
                <path d="M93,146.93405 C93,146.93405 86.7195413,134.934283 82,135.000271 C82,135.000271 85.2637363,147.030495 92.6899188,149 L93,146.93405 Z"
                id="Path" class="secondaryFill" fill-rule="nonzero"></path>
                <path d="M91,135.910056 C91,135.910056 84.5236396,123.850032 80,124.001413 C80,124.001413 83.4736842,134.396246 90.838091,137 L91,135.910056 Z"
                id="Path" class="secondaryFill" fill-rule="nonzero"></path>
                <path d="M90,123.225735 C90,123.225735 84.9205899,113.024265 81,112 C81,112 83.8230289,124.558824 89.5865003,126 L90,123.225735 Z"
                id="Path" class="secondaryFill" fill-rule="nonzero"></path>
                <path d="M86.3195504,112.941566 L75,97 C75,97 78.3556804,113.035832 88,116 L86.3195504,112.941566 Z"
                id="Path" class="secondaryFill" fill-rule="nonzero"></path>
                <path d="M78.8261357,95.1574864 C78.8261357,95.1574864 66.5047672,87.3262219 66,86 C66,86 72.5619742,97.386346 84,99 L78.8261357,95.1574864 Z"
                id="Path" class="secondaryFill" fill-rule="nonzero"></path>
                <path d="M77.67,92 C77.67,92 63.49,78.8450858 60,79.0013818 C60,79.0013818 71.3,79.0847397 78,91.2601989 L77.67,92 Z"
                id="Path" class="secondaryFill" fill-rule="nonzero"></path>
                <path d="M90,124.913937 L89.4730442,125 C85.9529793,104.724538 81.5212809,92.8326385 77,91.5062537 L77.1528172,91 C81.937576,92.3972603 86.3956222,104.117034 90,124.913937 Z"
                id="Path" fill="#444053" fill-rule="nonzero"></path>
                <path d="M95,173.907348 L94.2845787,174 C94.0651828,172.074889 93.8744038,170.098304 93.7265501,168.132015 C92.4340223,151.017057 90.8124006,135.317622 89,123.571356 L89.3958665,123 C91.2130366,134.766855 93.1494436,150.929552 94.4467409,168.070246 C94.5945946,170.026241 94.7806041,171.987384 95,173.907348 Z"
                id="Path" fill="#444053" fill-rule="nonzero"></path>
                <path d="M157.636043,266 C157.497637,265.943349 143.677533,260.370971 129.01674,246.373076 C120.431108,238.180031 113.192057,228.671813 107.568923,218.202182 C100.540969,205.115849 95.9428114,188.872522 94,173 L94.8201842,173.350205 C99.1774129,208.978403 116.309011,232.792336 129.678014,245.590265 C144.195274,259.464559 157.871846,264.980286 158,265.031786 L157.636043,266 Z"
                id="Path" fill="#444053" fill-rule="nonzero"></path>
                <g id="Group" opacity="0.7" transform="translate(126.000000, 29.000000)"
                  fill-rule="nonzero">
                  <path d="M39.0354,194.364444 C39.0354,194.364444 45.2115,192.310123 49.7454,196.197926 C49.7454,196.197926 47.3127,198.868543 40.8153,196.783407 L39.0354,194.364444 Z"
                  id="Path" class="secondaryFill"></path>
                  <path d="M38.3418,194.374716 C38.3418,194.374716 35.1084,200.060049 37.9899,205.303704 C37.9899,205.303704 41.0499,203.439407 40.341,196.613926 L38.3418,194.374716 Z"
                  id="Path" class="secondaryFill"></path>
                  <path d="M33.3795,186.727506 C33.3795,186.727506 35.1645,181.63279 46.359,186.52721 C46.359,186.52721 45.5175,189.901432 40.9938,190.373926 C36.4701,190.84642 34.9605,189.002667 33.3795,186.727506 Z"
                  id="Path" class="secondaryFill"></path>
                  <path d="M32.6706,186.496395 C32.6706,186.496395 27.3156,186.753185 28.7538,198.960988 C28.7538,198.960988 32.2065,199.115062 33.9558,194.888296 C35.7051,190.661531 34.3842,188.673975 32.6706,186.496395 Z"
                  id="Path" class="secondaryFill"></path>
                  <path d="M28.05,177.308444 C28.05,177.308444 29.6769,168.57758 41.3559,172.686222 C41.3559,172.686222 40.1268,180.662123 29.6004,179.937975 L28.05,177.308444 Z"
                  id="Path" class="secondaryFill"></path>
                  <path d="M22.7664,165.496099 C22.7664,165.496099 26.9994,156.251654 38.1378,162.373531 C38.1378,162.373531 35.9346,170.770568 24.0873,168.341333 L22.7664,165.496099 Z"
                  id="Path" class="secondaryFill"></path>
                  <path d="M19.686,153.966222 C19.686,153.966222 24.9645,145.235358 36.006,151.300741 C36.006,151.300741 30.906,159.035259 20.0073,155.922963 L19.686,153.966222 Z"
                  id="Path" class="secondaryFill"></path>
                  <path d="M16.8351,142.723951 C16.8351,142.723951 22.1391,133.643852 32.742,139.688691 C32.742,139.688691 26.4435,147.967605 17.1411,144.598519 L16.8351,142.723951 Z"
                  id="Path" class="secondaryFill"></path>
                  <path d="M15.7947,132.498568 C15.7947,132.498568 21.0681,121.066272 30.9825,126.612938 C30.9825,126.612938 24.9696,136.679111 16.1109,134.455309 L15.7947,132.498568 Z"
                  id="Path" class="secondaryFill"></path>
                  <path d="M15.4989,120.403753 C15.4989,120.403753 21.2058,108.986864 31.0029,115.42716 C31.0029,115.42716 23.7252,125.698765 15.7998,122.278321 L15.4989,120.403753 Z"
                  id="Path" class="secondaryFill"></path>
                  <path d="M16.2486,109.428543 C16.2486,109.428543 23.3886,98.4071111 31.6302,100.995556 C31.6302,100.995556 24.1995,112.669235 16.2894,112.042667 L16.2486,109.428543 Z"
                  id="Path" class="secondaryFill"></path>
                  <path d="M17.697,98.905284 C17.697,98.905284 25.857,85.5162469 32.3289,88.4796049 C32.3289,88.4796049 26.3925,98.7974321 17.3298,101.236938 L17.697,98.905284 Z"
                  id="Path" class="secondaryFill"></path>
                  <path d="M20.1909,86.5639506 C20.1909,86.5639506 27.4431,75.5271111 34.2465,76.857284 C34.2465,76.857284 28.3305,88.0481975 19.4973,89.753284 L20.1909,86.5639506 Z"
                  id="Path" class="secondaryFill"></path>
                  <path d="M22.4196,75.0340741 C22.4196,75.0340741 30.6561,64.2488889 35.1441,65.1836049 C35.1441,65.1836049 29.7738,76.544 22.3227,77.1448889 L22.4196,75.0340741 Z"
                  id="Path" class="secondaryFill"></path>
                  <path d="M24.6891,64.3567407 C24.6891,64.3567407 31.2885,52.0308148 35.9907,52.1129877 C35.9907,52.1129877 32.4921,62.7286914 24.8676,65.4660741 L24.6891,64.3567407 Z"
                  id="Path" class="secondaryFill"></path>
                  <path d="M26.724,50.1254321 C26.724,50.1254321 32.7675,40.5009383 36.7659,39.8538272 C36.7659,39.8538272 32.7369,52.0462222 26.8617,52.9039012 L26.724,50.1254321 Z"
                  id="Path" class="secondaryFill"></path>
                  <path d="M27.7746,40.6960988 L32.0943,21.9915062 C32.0943,21.9915062 35.0064,37.7840988 27.387,44.0754568 L27.7746,40.6960988 Z"
                  id="Path" class="secondaryFill"></path>
                  <path d="M27.5604,20.8873086 C27.5604,20.8873086 26.3823,6.05511111 25.4337,4.96632099 C25.4337,4.96632099 32.5023,16.3061728 28.5549,27.3481481 L27.5604,20.8873086 Z"
                  id="Path" class="secondaryFill"></path>
                  <path d="M27.7389,177.169778 C27.7389,177.169778 19.5789,173.759605 16.6158,185.859556 C16.6158,185.859556 23.9139,189.187556 29.0751,179.917432 L27.7389,177.169778 Z"
                  id="Path" class="secondaryFill"></path>
                  <path d="M22.4502,165.085235 C22.4502,165.085235 12.6939,162.39921 10.1847,174.925432 C10.1847,174.925432 17.9877,178.633481 23.7609,167.935605 L22.4502,165.085235 Z"
                  id="Path" class="secondaryFill"></path>
                  <path d="M19.38,154.736593 C19.38,154.736593 11.6382,148.137086 3.06,157.402074 C3.06,157.402074 10.3122,163.118222 19.6911,156.693333 L19.38,154.736593 Z"
                  id="Path" class="secondaryFill"></path>
                  <path d="M16.6158,142.759901 C16.6158,142.759901 8.7312,135.83684 0.5712,144.942617 C0.5712,144.942617 9.1494,150.797432 16.9167,144.634469 L16.6158,142.759901 Z"
                  id="Path" class="secondaryFill"></path>
                  <path d="M15.8457,132.791309 C15.8457,132.791309 9.3585,122.006123 0.1071,128.610765 C0.1071,128.610765 7.1808,137.957926 15.7437,134.773728 L15.8457,132.791309 Z"
                  id="Path" class="secondaryFill"></path>
                  <path d="M16.0701,120.249679 C16.0701,120.249679 9.5829,109.264198 0.2601,116.372148 C0.2601,116.372148 8.2365,126.130173 15.9018,122.139654 L16.0701,120.249679 Z"
                  id="Path" class="secondaryFill"></path>
                  <path d="M17.2329,109.325827 C17.2329,109.325827 13.3416,96.7585185 4.7277,96.9999012 C4.7277,96.9999012 8.7057,110.281086 16.4832,111.852642 L17.2329,109.325827 Z"
                  id="Path" class="secondaryFill"></path>
                  <path d="M17.8908,98.8950123 C17.8908,98.8950123 14.688,83.513284 7.6143,84.109037 C7.6143,84.109037 9.7461,95.8392099 17.4573,101.216395 L17.8908,98.8950123 Z"
                  id="Path" class="secondaryFill"></path>
                  <path d="M20.8488,85.9990123 C20.8488,85.9990123 16.6872,73.4471111 9.7665,72.9592099 C9.7665,72.9592099 12.6072,85.3108148 20.7009,89.2653827 L20.8488,85.9990123 Z"
                  id="Path" class="secondaryFill"></path>
                  <path d="M23.2254,74.9981235 C23.2254,74.9981235 20.9916,61.5834074 16.5954,60.2737778 C16.5954,60.2737778 16.0293,72.8410864 22.3176,76.908642 L23.2254,74.9981235 Z"
                  id="Path" class="secondaryFill"></path>
                  <path d="M24.9747,64.1564444 C24.9747,64.1564444 22.1748,50.4181728 17.6409,49.1599012 C17.6409,49.1599012 17.9622,60.3405432 24.4902,65.1630617 L24.9747,64.1564444 Z"
                  id="Path" class="secondaryFill"></path>
                  <path d="M27.4941,51.1320494 C27.4941,51.1320494 25.6581,39.8949136 22.2207,37.7430123 C22.2207,37.7430123 21.2007,50.5517037 26.3007,53.664 L27.4941,51.1320494 Z"
                  id="Path" class="secondaryFill"></path>
                  <path d="M27.3309,40.1825185 L21.3843,21.9401481 C21.3843,21.9401481 19.8543,37.933037 28.0143,43.5361975 L27.3309,40.1825185 Z"
                  id="Path" class="secondaryFill"></path>
                  <path d="M24.9084,21.5036049 C24.9084,21.5036049 15.3561,10.1483457 15.2847,8.71545679 C15.2847,8.71545679 18.207,21.7758025 28.7334,26.8037531 L24.9084,21.5036049 Z"
                  id="Path" class="secondaryFill"></path>
                  <path d="M25.1889,17.6466173 C25.1889,17.6466173 15.2082,0.929580247 11.7657,0.00513580247 C11.7657,0.00513580247 22.7409,3.5437037 25.6989,17.0354568 L25.1889,17.6466173 Z"
                  id="Path" class="secondaryFill"></path>
                  <path d="M26.8413,53.0220247 L26.3313,52.9501235 C29.1516,32.2990617 28.6263,19.4903704 24.8421,16.8967901 L25.1328,16.4705185 C29.1465,19.2284444 29.733,31.8676543 26.8413,53.0220247 Z"
                  id="Path" fill="#444053"></path>
                  <path d="M17.7633,101.812148 L17.0034,101.673481 C17.3502,99.7680988 17.7378,97.8267654 18.1662,95.9008395 C21.8943,79.1838025 24.8676,63.7147654 26.4741,51.9435062 L27.0504,51.5223704 C25.4388,63.334716 22.6491,79.3327407 18.921,96.0754568 C18.4926,97.9602963 18.105,99.891358 17.7633,101.812148 Z"
                  id="Path" fill="#444053"></path>
                  <path d="M50.337,207.635358 C50.2248,207.542914 38.7396,198.118716 28.917,180.415605 C23.1765459,170.056507 19.1037638,158.846202 16.8504,147.20237 C14.0301,132.647506 14.4432,115.812346 17.2788,100.122469 L17.952,100.697679 C11.6025,135.919012 20.859,163.703704 29.8044,179.876346 C39.4944,197.409975 50.8572,206.736593 50.9745,206.829037 L50.337,207.635358 Z"
                  id="Path" fill="#444053"></path>
                </g>
                <path d="M531.58257,413.028487 C531.58257,413.028487 509.620619,411.707433 512.212628,427.057561 C512.212628,427.057561 511.693187,429.767016 514.16053,431 C514.16053,431 514.202086,429.860267 516.414903,430.248813 C517.202292,430.381072 518.002673,430.419332 518.799135,430.362786 C519.876912,430.28744 520.901174,429.865736 521.718392,429.160886 L521.718392,429.160886 C521.718392,429.160886 527.889347,426.61721 530.289163,416.556478 C530.289163,416.556478 532.06565,414.359902 531.998123,413.795217 L528.289316,415.349398 C528.289316,415.349398 529.556751,418.017408 528.559425,420.229526 C528.559425,420.229526 528.439954,415.447829 527.72832,415.566983 C527.582877,415.592886 525.801195,416.494311 525.801195,416.494311 C525.801195,416.494311 527.982846,421.156854 526.320636,424.513885 C526.320636,424.513885 526.943965,418.789318 525.105145,416.825869 L522.507942,418.348967 C522.507942,418.348967 525.053201,423.146205 523.328658,427.057561 C523.328658,427.057561 523.770182,421.053242 521.957335,418.71679 L519.59388,420.555904 C519.59388,420.555904 521.988501,425.285795 520.528873,428.528852 C520.528873,428.528852 520.33668,421.540218 519.084828,421.011797 C519.084828,421.011797 517.007065,422.830189 516.700595,423.602099 C516.700595,423.602099 518.336833,427.031658 517.323924,428.844869 C517.323924,428.844869 516.700595,424.182326 516.186349,424.182326 C516.186349,424.182326 514.108586,427.264785 513.911199,429.362929 C513.911199,429.362929 513.999504,426.218303 515.687686,423.87149 C514.499717,424.09431 513.403423,424.659914 512.534681,425.498199 C512.534681,425.498199 512.856734,423.317165 516.170766,423.125483 C516.170766,423.125483 517.874531,420.789031 518.331639,420.643974 C518.331639,420.643974 515.002024,420.369402 512.986594,421.260466 C512.986594,421.260466 514.763081,419.188225 518.939384,420.136275 L521.271673,418.234994 C521.271673,418.234994 516.892788,417.639224 515.038385,418.297161 C515.038385,418.297161 517.173286,416.478769 521.900196,417.805004 L524.440261,416.292267 C524.440261,416.292267 520.710677,415.489274 518.487471,415.774207 C518.487471,415.774207 520.835343,414.51014 525.188255,415.877819 L527.006298,415.064464 C527.006298,415.064464 524.268846,414.546404 523.468907,414.442792 C522.668968,414.33918 522.627413,414.137136 522.627413,414.137136 C524.357997,413.848975 526.13483,414.046275 527.759487,414.707003 C527.759487,414.707003 531.650097,413.271976 531.58257,413.028487 Z"
                id="Path" class="secondaryFill" fill-rule="nonzero"></path>
                <ellipse id="Oval" class="secondaryFill" fill-rule="nonzero" opacity="0.1"
                cx="516.5"
                cy="432.5" rx="15.5" ry="2.5"></ellipse>
                <path d="M572.76059,373.015606 C572.76059,373.015606 560.684155,372.285663 562.118327,380.810171 C561.966728,381.696278 562.398272,382.580046 563.187621,383 C563.187621,383 563.212959,382.367042 564.429218,382.581431 C564.862399,382.657475 565.3032,382.67976 565.741764,382.64779 C566.333835,382.607426 566.896406,382.372516 567.343171,381.979101 L567.343171,381.979101 C567.343171,381.979101 570.73856,380.565155 572.061241,374.975732 C572.061241,374.975732 573.039316,373.755758 572.998774,373.444383 L570.971676,374.322357 C570.971676,374.322357 571.665957,375.802661 571.11864,377.032844 C571.11864,377.032844 571.05276,374.373402 570.662543,374.43976 C570.58146,374.43976 569.603385,374.95021 569.603385,374.95021 C569.603385,374.95021 570.799373,377.533085 569.897314,379.406435 C569.897314,379.406435 570.241921,376.226334 569.228372,375.139076 L567.7942,375.981318 C567.7942,375.981318 569.192898,378.645865 568.245229,380.82038 C568.245229,380.82038 568.488481,377.487144 567.490136,376.185498 L566.192793,377.206397 C566.192793,377.206397 567.505339,379.835212 566.699567,381.6371 C566.699567,381.6371 566.593145,377.757683 565.903932,377.461622 C565.411708,377.882035 564.971074,378.360137 564.591386,378.885776 C564.591386,378.885776 565.493444,380.794858 564.935992,381.800443 C564.935992,381.800443 564.591386,379.212464 564.31266,379.202255 C564.31266,379.202255 563.177485,380.917366 563.060927,382.0914 C563.115465,381.001919 563.452707,379.945894 564.039002,379.028702 C563.384536,379.152747 562.780345,379.466791 562.300765,379.932198 C562.300765,379.932198 562.478136,378.722432 564.327863,378.615238 C564.327863,378.615238 565.265396,377.313591 565.513715,377.237024 C565.513715,377.237024 563.68426,377.083889 562.574424,377.579025 C562.574424,377.579025 563.552498,376.435618 565.848186,376.951172 L567.135393,375.899646 C567.135393,375.899646 564.723147,375.567854 563.704531,375.935377 C563.704531,375.935377 564.880247,374.914478 567.48,375.659735 L568.878697,374.817493 C567.802552,374.580277 566.700474,374.484197 565.599867,374.531641 C565.599867,374.531641 566.892142,373.832325 569.284117,374.592895 L570.297666,374.138595 C570.297666,374.138595 568.777343,373.842534 568.351652,373.796594 C567.925962,373.750653 567.88542,373.623041 567.88542,373.623041 C568.838944,373.463285 569.817769,373.572833 570.713221,373.939519 C570.713221,373.939519 572.796064,373.153427 572.76059,373.015606 Z"
                id="Path" class="secondaryFill" fill-rule="nonzero"></path>
                <ellipse id="Oval" class="secondaryFill" fill-rule="nonzero" opacity="0.1"
                cx="564.5"
                cy="383.5" rx="8.5" ry="1.5"></ellipse>
                <path d="M500.730532,380.019118 C500.730532,380.019118 486.451627,379.136156 488.138503,389.371412 C487.958783,390.435434 488.469607,391.496761 489.403659,392 C489.403659,392 489.403659,391.2439 490.867272,391.492551 C491.380184,391.58015 491.901217,391.607392 492.42019,391.573742 C493.119749,391.521667 493.784308,391.240531 494.315444,390.771972 L494.315444,390.771972 C494.315444,390.771972 498.329215,389.077091 499.892056,382.363534 C499.892056,382.363534 501.048061,380.90208 500.998447,380.526567 L498.592169,381.576988 C498.592169,381.576988 499.415761,383.358135 498.765818,384.834813 C498.765818,384.834813 498.691397,381.642956 498.225026,381.719074 C498.130759,381.719074 496.974753,382.333087 496.974753,382.333087 C496.974753,382.333087 498.388752,385.433604 497.322051,387.681605 C497.322051,387.681605 497.728886,383.865585 496.533189,382.556365 L494.836391,383.571264 C494.836391,383.571264 496.488536,386.768196 495.36726,389.381561 C495.36726,389.381561 495.655021,385.377784 494.47917,383.799616 L492.941136,385.02257 C492.941136,385.02257 494.499015,388.173831 493.551388,390.34064 C493.551388,390.34064 493.427353,385.682254 492.608723,385.327039 C492.608723,385.327039 491.264184,386.539844 491.060766,387.037144 C491.060766,387.037144 492.122506,389.325741 491.46264,390.533471 C491.46264,390.533471 491.060766,387.432955 490.728353,387.417731 C490.728353,387.417731 489.388775,389.472902 489.239933,390.883611 C489.306803,389.580234 489.705284,388.317309 490.395939,387.219826 C489.624092,387.369971 488.911919,387.747402 488.346881,388.305768 C488.346881,388.305768 488.55526,386.849388 490.728353,386.722525 C490.728353,386.722525 491.834745,385.164656 492.132428,385.06824 C492.132428,385.06824 489.969259,384.885558 488.659449,385.479274 C488.659449,385.479274 489.810494,384.104086 492.524379,384.728249 L494.042567,383.4647 C494.042567,383.4647 491.199686,383.063815 489.989104,383.505296 C489.989104,383.505296 491.378296,382.292491 494.454363,383.175454 L496.106509,382.160555 C496.106509,382.160555 493.680385,381.622658 492.231656,381.815489 C492.231656,381.815489 493.759767,380.978197 496.587764,381.886532 L497.773538,381.389231 C497.773538,381.389231 495.997358,381.034017 495.476411,380.978197 C494.955464,380.922378 494.930657,380.775218 494.930657,380.775218 C496.056652,380.583574 497.212557,380.715326 498.269678,381.155805 C498.269678,381.155805 500.775185,380.181502 500.730532,380.019118 Z"
                id="Path" class="secondaryFill" fill-rule="nonzero"></path>
                <ellipse id="Oval" class="secondaryFill" fill-rule="nonzero" opacity="0.1"
                cx="490.5"
                cy="393" rx="10.5" ry="2"></ellipse>
                <path d="M378,386.140221 L326.621144,406.00038 L251.522272,435 C248.689802,429.744555 244.510244,422.554778 239.337017,414.019157 C221.553407,384.569216 192.122353,338.764453 165.928407,298.511937 C136.405157,253.157494 111,214.859779 111,214.859779 L129.393128,209.532692 L279.631849,166 L378,386.140221 Z"
                id="Path" fill="#000000" fill-rule="nonzero" opacity="0.1"></path>
                <path d="M379,382.140221 L327.621144,402.00038 L252.522272,431 C249.689802,425.744555 245.510244,418.554778 240.337017,410.019157 C222.553407,380.569216 193.122353,334.764453 166.928407,294.511937 C137.405157,249.157494 112,210.859779 112,210.859779 L130.393128,205.532692 L280.631849,162 L379,382.140221 Z"
                id="Path" fill="#FFFFFF" fill-rule="nonzero"></path>
                <path d="M379,382.040575 L327.539897,401.891744 C298.798414,407.860878 269.469045,410.54989 240.117745,409.906891 C222.306014,380.470281 192.82842,334.686251 166.593053,294.451956 L130,205.512987 L280.476296,162 L379,382.040575 Z"
                id="Path" fill="#000000" fill-rule="nonzero" opacity="0.1"></path>
                <path d="M417,369.877607 C417,369.877607 337.179512,417.087404 218.012195,406.434727 L123,174.846546 L168.529024,167.026047 L325.916341,140 L415.217561,365.401433 L417,369.877607 Z"
                id="Path" class="secondaryFill" fill-rule="nonzero"></path>
                <path d="M415,365.466991 C396.177142,366.389126 374.410328,366.302035 352.499907,363.694444 C328.794389,360.917795 304.976038,355.169824 284.51195,344.647245 C267.422642,335.851107 252.810565,326.29677 240.065388,314.826442 C206.927926,285.051746 186.417679,242.459381 168,167.033908 L325.59912,140 L415,365.466991 Z"
                id="Path" fill="#000000" fill-rule="nonzero" opacity="0.1"></path>
                <path d="M474,352.249653 C474,352.249653 415.119222,363.797669 355.244459,356.685281 C331.563032,353.890579 307.743267,348.152465 287.325594,337.619772 C270.253652,328.815178 255.656425,319.251656 242.924199,307.770302 C201.935144,270.849466 180.308293,214.329821 158,100.136753 C158,100.136753 255.86137,123.771216 352.549428,72 C352.549428,72 385.161346,275.715837 474,352.249653 Z"
                id="Path" fill="#FFFFFF" fill-rule="nonzero"></path>
                <path d="M355,357 C331.386096,354.199059 307.634249,348.448136 287.274792,337.891929 C270.251528,329.06768 255.695922,319.482809 243,307.975823 C277.787337,305.133768 282.78907,286 282.78907,286 C308.579418,327.176402 355,357 355,357 Z"
                id="Path" fill="#000000" fill-rule="nonzero" opacity="0.1"></path>
                <path d="M208,142.459516 C208,142.459516 260.497442,148.40723 309.633205,121 L313,131.732298 C313,131.732298 265.992788,155 208,155 L208,142.459516 Z"
                id="Path" class="secondaryFill" fill-rule="nonzero" opacity="0.3"></path>
                <path d="M208,195.928904 C208,195.928904 260.071653,191.765144 318.039655,164 L320,168.442018 C320,168.442018 298.665937,195.048595 208,202 L208,195.928904 Z"
                id="Path" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                <path d="M215,216.737794 C215,216.737794 267.071653,212.467873 325.039655,184 L327,188.555275 C327,188.555275 305.671042,215.86617 215,223 L215,216.737794 Z"
                id="Path" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                <path d="M220,239.737794 C220,239.737794 272.071653,235.467873 330.039655,207 L332,211.555275 C332,211.555275 310.640412,238.850605 220,246 L220,239.737794 Z"
                id="Path" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                <path d="M227,258.73344 C227,258.73344 279.071653,254.464086 337.039655,226 L339,230.554669 C339,230.554669 317.671042,257.851556 227,265 L227,258.73344 Z"
                id="Path" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                <path d="M233,279.737794 C233,279.737794 285.071653,275.467873 343.039655,247 L345,251.555275 C345,251.555275 323.665937,278.855794 233,286 L233,279.737794 Z"
                id="Path" fill="#000000" fill-rule="nonzero" opacity="0.1"></path>
                <polygon id="Rectangle" class="secondaryFill" fill-rule="nonzero" opacity="0.3"
                  transform="translate(337.132242, 159.282303) rotate(-18.800000) translate(-337.132242, -159.282303) "
                points="329.40955 151.558788 344.855568 151.558154 344.854934 167.005818 329.408916 167.006452"></polygon>
                <polygon id="Rectangle" class="secondaryFill" fill-rule="nonzero" opacity="0.3"
                  transform="translate(345.450426, 181.038007) rotate(-18.800000) translate(-345.450426, -181.038007) "
                points="337.727735 173.314492 353.173752 173.313858 353.173118 188.761522 337.7271 188.762156"></polygon>
                <polygon id="Rectangle" class="secondaryFill" fill-rule="nonzero" opacity="0.3"
                  transform="translate(358.785483, 222.898147) rotate(-18.800000) translate(-358.785483, -222.898147) "
                points="351.062791 215.174632 366.508809 215.173998 366.508175 230.621662 351.062157 230.622296"></polygon>
                <polygon id="Rectangle" class="secondaryFill" fill-rule="nonzero" opacity="0.3"
                  transform="translate(366.436572, 245.365023) rotate(-18.800000) translate(-366.436572, -245.365023) "
                points="358.71388 237.641508 374.159897 237.640874 374.159263 253.088538 358.713246 253.089172"></polygon>
                <polygon id="Rectangle" class="secondaryFill" fill-rule="nonzero" opacity="0.3"
                  transform="translate(352.232632, 203.638486) rotate(-18.800000) translate(-352.232632, -203.638486) "
                points="344.50994 195.914971 359.955958 195.914337 359.955324 211.362001 344.509306 211.362635"></polygon>
                <path d="M509.798992,256.875193 L509.250023,256.363418 C510.666056,256.076824 512,255.948881 512,255.948881 C512,255.948881 507.141365,238.415468 498.94787,232.56588 C494.894733,229.674351 491.518828,224.858548 489.13312,220.728524 C484.784277,213.260433 479.899195,206.116151 474.516172,199.351681 L473.038572,197.493938 L472.402384,196.685333 C473.289969,195.344483 474.377647,194.070163 474.254514,192.514367 C474.252113,192.504271 474.252113,192.493756 474.254514,192.48366 C474.259649,192.401856 474.259649,192.319812 474.254514,192.238008 C474.239597,192.045685 474.205218,191.85536 474.151903,191.669938 L474.095466,191.75694 C473.402842,189.750782 470.740084,188.865411 468.764821,187.759977 C464.147322,185.165277 462.172059,179.49481 461.186992,174.223527 C460.417409,170.129327 459.781221,165.523352 456.569494,162.887711 C454.517272,161.193735 451.726251,160.635901 449.658637,158.952161 C447.698766,157.355423 446.605958,154.934727 445.374625,152.708506 C443.322403,148.998137 440.613471,145.543655 437.037474,143.327669 C433.461478,141.111684 428.920938,140.257019 424.996064,141.741167 C423.492812,142.314355 422.128084,143.204843 420.640224,143.824091 C416.946225,145.359416 412.713517,145.154706 409.055432,146.777033 C404.550806,148.772956 401.62126,153.184456 398.94311,157.370776 C397.557861,159.535584 395.382506,162.703472 394.146042,165.89183 C394.146042,165.77924 394.146042,165.671767 394.146042,165.559176 C393.552964,166.963994 393.229275,168.467304 393.191759,169.991148 C393.167458,170.639372 393.238326,171.287656 393.402112,171.915422 C393.956212,173.962522 395.60825,175.093545 397.568122,175.881679 C397.681596,176.532874 397.832339,177.177058 398.019611,177.81107 C399.819795,183.720862 404.396383,188.383444 410.281635,190.303499 C410.450943,190.364912 410.625382,190.405854 410.79469,190.457031 C410.937291,190.862151 411.143359,191.242167 411.405226,191.582936 C413.041873,193.630036 416.325428,193.046613 418.459738,191.557347 C418.546957,191.501052 418.629046,191.429404 418.711135,191.367991 C418.725507,191.6578 418.75634,191.946563 418.803485,192.23289 C418.84966,192.478542 418.885574,192.744665 418.93688,192.964729 C420.860837,203.307702 425.786169,208.891167 425.786169,208.891167 C425.786169,208.891167 426.242789,209.576946 426.986719,210.713086 C426.596797,216.419378 429.208249,221.619012 432.225015,225.636446 C429.623824,227.135947 424.016128,230.073535 420.547874,229.827883 C420.547874,229.827883 407.803577,231.470681 406.325978,230.646723 C406.120755,230.534133 405.925794,230.687666 405.741094,231.035673 C402.231795,228.901571 391.011274,222.750035 390.05186,230.646723 C389.184796,237.811574 399.409991,238.727651 404.278887,238.763475 C404.058273,240.861753 403.935139,242.540375 403.935139,242.540375 L424.872931,241.112523 L435.775358,239.510667 C434.569678,241.102287 433.210081,242.519904 431.881268,243.2108 C431.881268,243.2108 422.025473,251.168902 420.322129,251.24055 C420.080993,251.24055 420.004035,251.481085 420.039949,251.864916 C415.894461,251.864916 403.001379,252.463693 406.577375,259.628543 C409.825016,266.122968 418.967663,261.629583 423.102889,259.147474 C424.077695,261.035924 424.908845,262.514954 424.908845,262.514954 L441.803759,250.51383 L445.461844,247.44318 C446.701669,247.383607 447.926585,247.147507 449.099407,246.742048 C449.099407,246.788108 449.135321,246.834167 449.150713,246.875109 C449.281364,247.251538 449.379208,247.638511 449.443154,248.031721 C450.469265,253.912016 447.021533,267.627586 447.021533,267.627586 C447.021533,267.627586 439.438574,286.916387 443.081267,289.546911 C446.72396,292.177434 444.03042,303.277834 444.03042,303.277834 C444.66623,304.344779 445.397767,305.351986 446.216036,306.287072 L446.216036,306.287072 C446.601784,306.731407 447.029601,307.137591 447.493544,307.499978 C447.324266,307.959976 447.183761,308.430006 447.072838,308.90736 C446.516246,311.272207 446.726427,313.752245 447.673113,315.990326 C450.176823,322.049742 448.653049,330.831802 448.653049,330.831802 L443.737978,363.953881 C441.377923,363.595638 438.330374,363.298809 437.196522,363.953881 C435.457264,364.931371 436.026755,369.859765 440.064501,371.978513 C438.838574,372.914799 437.41894,373.566901 435.908752,373.887434 C432.317365,374.706274 429.793132,375.228285 428.130832,375.545585 C428.023091,375.545585 419.511502,373.672489 417.325886,374.910984 C415.14027,376.14948 416.192033,383.0175 422.410265,384.70124 C428.495102,386.344038 451.187543,388.754498 457.723868,387.77189 L458.139443,387.700242 C463.695833,386.605043 458.816676,379.322485 458.20101,378.437114 C458.159965,378.140284 458.124052,377.828102 458.083007,377.49033 C457.995788,376.732903 457.918829,375.862886 457.862393,374.931455 C464.060103,375.499525 470.175723,375.775884 472.982136,375.356228 C473.115531,375.356228 473.238664,375.315286 473.351536,375.289698 C478.271737,374.317325 473.962072,367.879195 473.407972,367.101297 C473.38403,366.903411 473.358377,366.693583 473.331014,366.471814 L473.331014,366.415519 C473.331014,366.267104 473.2951,366.108454 473.279708,365.954921 C473.264317,365.801389 473.279708,365.693916 473.238664,365.555737 C473.19762,365.417557 473.238664,365.310085 473.20275,365.182141 C473.182228,364.929665 473.161706,364.66866 473.141183,364.399125 C473.141183,364.291652 473.141183,364.179062 473.141183,364.066471 C473.141183,363.861761 473.115531,363.657051 473.10527,363.447224 C473.10527,363.334633 473.10527,363.222043 473.10527,363.104334 C473.10527,362.797269 473.10527,362.479969 473.074486,362.162668 C473.074486,362.075667 473.074486,361.988665 473.074486,361.901663 C473.074486,361.645776 473.074486,361.389888 473.074486,361.123765 C473.074486,361.000939 473.074486,360.878113 473.074486,360.750169 C473.074486,360.478929 473.074486,360.207688 473.074486,359.931329 C473.074486,359.83921 473.074486,359.752208 473.074486,359.660088 C473.074486,359.317199 473.10527,358.964074 473.125792,358.61095 L473.156575,358.232236 C473.156575,357.971231 473.19762,357.720461 473.223272,357.454338 C473.223272,357.326394 473.223272,357.198451 473.264317,357.070507 C473.305361,356.712264 473.351536,356.354022 473.402842,355.990662 C473.402842,355.883189 473.438756,355.775716 473.454147,355.668243 C473.500322,355.397003 473.546497,355.120644 473.597803,354.844286 C473.597803,354.711224 473.649108,354.573045 473.679892,354.434866 C473.741458,354.138036 473.808155,353.841206 473.879983,353.544377 C473.879983,353.462493 473.915897,353.380609 473.936419,353.298725 C474.028769,352.940482 474.13138,352.587358 474.239122,352.234233 C474.275036,352.111407 474.31608,351.988581 474.357125,351.865755 C474.444344,351.599632 474.536694,351.35398 474.634175,351.077621 L474.757308,350.750085 C474.895833,350.402078 475.044619,350.059189 475.198536,349.726535 C475.23958,349.639534 475.285755,349.552532 475.33193,349.46553 C475.460194,349.199407 475.598719,348.953755 475.742374,348.677397 L475.916813,348.375449 C476.111774,348.047913 476.311866,347.720377 476.53248,347.408194 C482.176089,339.383562 483.66395,323.907486 483.525425,320.540006 C483.3869,317.172526 484.197527,310.186797 485.208247,309.153012 C485.88548,308.462115 489.825745,303.011711 492.18067,298.866334 C492.606506,298.108907 492.975905,297.397539 493.268347,296.762938 C494.940908,296.184633 496.049107,295.739388 496.049107,295.739388 L496.049107,295.739388 L496.049107,295.739388 C495.459631,293.590754 495.176381,291.370029 495.207696,289.142608 C495.248741,284.787403 496.449291,279.050405 501.405406,274.393252 C508.721576,267.514996 509.742556,260.698153 509.840037,258.077865 C509.840037,257.893626 509.840037,257.729858 509.840037,257.591678 C509.824645,257.11061 509.798992,256.875193 509.798992,256.875193 Z"
                id="Path" fill="url(#linearGradient-1)" fill-rule="nonzero"></path>
                <path d="M490.34902,299.970359 C488.370378,303.527997 486.149608,306.943681 483.702602,310.192966 C482.741428,311.221914 481.969421,318.172463 482.102349,321.511402 C482.235278,324.850341 480.829305,340.243415 475.455931,348.217768 C470.082558,356.192121 472.843378,369.974891 472.843378,369.974891 L464.269499,373 L453.967551,373 L446.871222,370.864931 L445,365.66874 C445,365.66874 447.494963,365.282884 453.691469,363.801198 C457.223572,363.077516 459.845726,360.077262 460.107819,356.459648 L464.458666,325.884435 C464.458666,325.884435 465.741936,318.167319 463.625308,312.827074 C462.417104,309.781348 462.673698,306.344938 464.320625,303.515088 L464.458666,303.299009 C464.458666,303.299009 471.171548,297.963909 478.012246,294.62497 C484.070711,291.682177 490.216091,290.282806 491.959498,295.504721 C492.184454,296.178683 491.448235,297.912462 490.34902,299.970359 Z"
                id="Path" fill="#A5636D" fill-rule="nonzero"></path>
                <path d="M490.34902,299.971878 C488.370378,303.530194 486.149608,306.946529 483.702602,310.196433 C482.741428,311.225578 481.969421,318.177451 482.102349,321.517027 C482.235278,324.856602 480.829305,340.252609 475.455931,348.228482 C471.672586,353.852759 471.923105,362.353496 472.388354,366.886879 C472.587746,368.785652 472.833153,369.974314 472.833153,369.974314 L464.259274,373 L453.967551,373 L446.871222,370.879962 L445,365.68278 C445,365.68278 445.623741,365.585011 447.045052,365.307142 C448.466363,365.029273 450.623892,364.555866 453.722145,363.814882 C457.242164,363.07894 459.849274,360.080999 460.107819,356.471933 L464.458666,325.890892 C464.458666,325.890892 465.741936,318.172306 463.625308,312.831044 C462.417104,309.784737 462.673698,306.347672 464.320625,303.517282 L464.458666,303.301162 C464.458666,303.301162 471.171548,297.965046 478.012246,294.625471 C484.070711,291.682116 490.216091,290.282479 491.959498,295.505389 C492.184454,296.179479 491.448235,297.913588 490.34902,299.971878 Z"
                id="Path" fill="#000000" fill-rule="nonzero" opacity="0.05"></path>
                <path d="M473,369.861908 L464.377892,373 L454.017995,373 L446.881748,370.779853 L445,365.389593 C445,365.389593 445.627249,365.288192 447.056555,365 C446.847622,367.027005 448.130066,368.896655 450.043702,369.354903 L454.095116,369.498999 C454.66581,369.498999 455.241645,369.531021 455.807198,369.531021 C461.505942,369.534211 467.165926,368.558616 472.557841,366.643763 C472.763496,368.613075 473,369.861908 473,369.861908 Z"
                id="Path" fill="#000000" fill-rule="nonzero" opacity="0.1"></path>
                <path d="M454.097609,370.224319 L450.011163,370.084252 C450.011163,370.084252 446.199219,369.274976 447.131488,364.943274 C447.131488,364.943274 439.776921,363.272846 437.896845,364.377819 C436.01677,365.482792 436.923142,371.578299 442.237075,373.072347 C447.416348,374.530082 466.817901,376.672588 472.395977,375.795872 L472.753347,375.73362 C477.808316,374.696087 472.753347,367.433354 472.753347,367.433354 L472.753347,367.433354 C466.755314,369.489613 460.433738,370.435343 454.097609,370.224319 L454.097609,370.224319 Z"
                id="Path" fill="#BEBED0" fill-rule="nonzero"></path>
                <path d="M478.825709,301.574789 C478.554959,302.117642 478.263775,302.68098 477.931722,303.269924 C475.403016,307.879052 471.346869,313.681431 470.636788,314.434256 C469.553786,315.591659 468.69045,323.396448 468.828379,327.16569 C468.966309,330.934933 467.392892,348.203798 461.334213,357.16599 C458.233355,361.775118 457.533491,368.048653 457.584576,373.098208 C457.599842,374.809261 457.700434,376.518479 457.885977,378.219461 C458.110751,380.303811 458.396827,381.604609 458.396827,381.604609 L448.731549,385 L437.0995,385 L429.094484,382.613496 L427,376.754783 C427,376.754783 427.699864,376.642115 429.273281,376.329719 C430.846699,376.017322 433.298778,375.494955 436.803207,374.665312 C440.776128,373.841456 443.722279,370.476172 444.021514,366.420094 L448.920564,332.071851 C448.920564,332.071851 450.366269,323.391327 447.985709,317.399461 C447.087097,315.175441 446.887476,312.729333 447.413557,310.388466 C447.698393,309.073571 448.21756,307.820989 448.946106,306.690921 C448.946106,306.690921 450.815816,305.216 453.635707,303.264803 C454.882181,302.404432 456.327885,301.451879 457.880869,300.489084 C464.705822,296.253808 473.681452,291.93147 477.982807,295.081041 C478.931571,295.798558 479.626192,296.801812 479.964904,297.943821 C480.138593,298.537886 479.653286,299.884776 478.825709,301.574789 Z"
                id="Path" fill="#A5636D" fill-rule="nonzero"></path>
                <path d="M458,381.475487 L448.449113,385 L436.979971,385 L429.069695,382.522741 L427,376.441229 C427,376.441229 427.691581,376.324276 429.246377,376 C429.044701,377.463293 429.548168,378.936271 430.589155,379.928529 C431.385114,380.640968 432.391736,381.039429 433.436248,381.055523 L437.055691,381.177791 C437.686696,381.177791 438.322749,381.215003 438.953753,381.215003 C445.270446,381.213352 451.543596,380.114122 457.520436,377.961607 C457.74255,380.125222 458,381.475487 458,381.475487 Z"
                id="Path" fill="#000000" fill-rule="nonzero" opacity="0.1"></path>
                <path d="M436.904877,381.741257 L433.273671,381.62177 C432.223265,381.60415 431.211205,381.231357 430.408264,380.566296 C429.485248,379.759755 428.68902,378.365734 429.206315,376.020791 C429.206315,376.020791 421.091888,374.213542 418.997352,375.408418 C416.902816,376.603293 417.927262,383.209958 423.795007,384.828018 C429.541035,386.40625 450.963121,388.726299 457.130085,387.780356 L457.520592,387.710655 C463.09926,386.585481 457.520592,378.709261 457.520592,378.709261 L457.520592,378.709261 C450.894038,380.943652 443.907509,381.971176 436.904877,381.741257 L436.904877,381.741257 Z"
                id="Path" fill="#BEBED0" fill-rule="nonzero"></path>
                <path d="M490.350064,300.219072 C486.879709,301.488674 481.783101,303.172623 478.986552,303.241681 C478.697151,303.25335 478.407328,303.239133 478.12023,303.199184 L478.12023,303.199184 C476.164673,302.91764 470.120683,303.369172 464.578248,303.889762 C462.354182,304.096936 460.216241,304.314734 458.448133,304.505971 C455.813704,304.792826 454,305 454,305 L454,303.199184 C455.236155,302.306744 456.669893,301.318686 458.210021,300.320003 C464.978479,295.926861 473.879812,291.443413 478.145561,294.710381 C484.149021,291.671835 490.238607,290.226933 491.966185,295.618757 C492.168833,296.304023 491.439299,298.094215 490.350064,300.219072 Z"
                id="Path" fill="#000000" fill-rule="nonzero" opacity="0.1"></path>
                <path d="M506.996143,259.558716 C506.898155,262.16581 505.918283,268.932942 498.894143,275.772064 C489.941201,284.488089 493.736918,297.004198 493.736918,297.004198 C493.736918,297.004198 483.061463,301.184804 478.456061,301.297933 C478.161461,301.309229 477.866431,301.295466 477.574176,301.256795 C474.809903,300.87113 463.835329,301.884143 457.528043,302.521776 C454.846286,302.799454 453,303 453,303 L453,265.976178 L502.473257,254 L506.954885,258.448001 C506.993732,258.816889 507.007516,259.187973 506.996143,259.558716 Z"
                id="Path" fill="#5C5C8E" fill-rule="nonzero"></path>
              <g id="Group"></g>
              <g id="Group" opacity="0.1" transform="translate(454.000000, 253.000000)"
                fill="#000000" fill-rule="nonzero">
                <path d="M1.11566038,49.0515464 L0.310754717,49.1391753 L0.310754717,49.5309278 C0.310754717,49.5309278 2.1345283,49.3298969 4.78358491,49.0515464 C9.25641509,48.5927835 16.0879245,47.9484536 20.6066038,47.757732 C17.4786792,47.4690722 7.14735849,48.4329897 1.11566038,49.0515464 Z"
                id="Path"></path>
                <path d="M53.6077358,4.87113402 L49.1807547,0.407216495 L46.2311321,1.15463918 L49.9398113,4.89175258 C49.9648284,5.26417518 49.9648284,5.63788668 49.9398113,6.01030928 C49.8430189,8.6185567 48.8750943,15.4072165 41.9366038,22.2628866 C33.0928302,30.9948454 36.8422642,43.5463918 36.8422642,43.5463918 C36.8422642,43.5463918 28.1156604,47.0103093 23.1181132,47.7268041 C23.5946475,47.7252598 24.0708845,47.7510745 24.5445283,47.8041237 C24.8330606,47.8447614 25.1245062,47.8602822 25.4156604,47.8505155 C29.9649057,47.7371134 40.5101887,43.5463918 40.5101887,43.5463918 C40.5101887,43.5463918 36.7403774,30.9948454 45.6045283,22.2628866 C52.5430189,15.4072165 53.5109434,8.6185567 53.6077358,6.01030928 C53.6336848,5.63103806 53.6336848,5.25040524 53.6077358,4.87113402 Z"
                id="Path"></path>
              </g>
              <path d="M409,233.942701 C409,233.942701 394.14159,223.546397 393.050265,232.909272 C391.958941,242.272147 409,240.933855 409,240.933855 L409,233.942701 Z"
              id="Path" fill="#A5636D" fill-rule="nonzero"></path>
              <path d="M434.187059,226 C434.187059,226 426.188235,231.44247 421.763137,231.106904 C421.763137,231.106904 409.670588,232.77425 408.263529,231.940577 C406.856471,231.106904 406,244 406,244 L425.882353,242.558112 L438.627451,240.5552 C438.627451,240.5552 445,236.55986 445,233.11506 C445,229.670259 434.187059,226 434.187059,226 Z"
              id="Path" fill="#F7CDDD" fill-rule="nonzero"></path>
              <path d="M434.187059,226 C434.187059,226 426.188235,231.44247 421.763137,231.106904 C421.763137,231.106904 409.670588,232.77425 408.263529,231.940577 C406.856471,231.106904 406,244 406,244 L425.882353,242.558112 L438.627451,240.5552 C438.627451,240.5552 445,236.55986 445,233.11506 C445,229.670259 434.187059,226 434.187059,226 Z"
              id="Path" fill="#000000" fill-rule="nonzero" opacity="0.05"></path>
              <path d="M422.348027,253.016929 C422.348027,253.016929 404.606278,252.271192 408.580188,260.678611 C412.554098,269.08603 426,258.88067 426,258.88067 L422.348027,253.016929 Z"
              id="Path" fill="#A5636D" fill-rule="nonzero"></path>
              <path d="M441,235 C441,235 426.102966,224.194951 428.202828,211.035928 C430.302689,197.876904 441,221.108516 441,221.108516 L441,235 Z"
              id="Path" fill="#5C5C8E" fill-rule="nonzero"></path>
              <path d="M437,175.495624 C436.994823,180.2938 435.128652,184.902788 431.794384,188.352222 C430.98281,189.19986 430.087619,189.963227 429.122476,190.630671 C427.27976,191.916008 425.224673,192.865857 423.05182,193.436492 C422.188336,193.652219 421.310959,193.807902 420.42598,193.902422 C419.791274,193.963863 419.151449,194 418.501388,194 C416.425553,194.011597 414.363227,193.665176 412.405139,192.975682 C403.513022,189.870964 398.372439,180.578982 400.46527,171.39349 C402.5581,162.207999 411.216139,156.061767 420.575022,157.117832 C429.933906,158.173898 437.005503,166.095077 437,175.516104 L437,175.495624 Z"
              id="Path" fill="#A5636D" fill-rule="nonzero"></path>
              <path d="M506.978603,259.506735 C505.314671,259.812381 503.260433,260.362545 503.260433,261.218356 C503.260433,262.65999 480.057819,270.42851 480.057819,270.42851 C480.057819,270.42851 480.925735,272.43559 478.609582,275.889397 C476.293429,279.343205 457.435527,299.189864 457.435527,299.189864 L457.497154,299.780781 L457.738527,302.068037 L458.8889,313 C458.8889,313 451.637441,310.412191 449.316153,310.697462 C448.566356,310.79425 447.775475,310.315403 447,309.627698 C447.286347,308.319772 447.808268,307.073828 448.540678,305.94975 C448.540678,305.94975 450.420306,304.482645 453.255154,302.541789 L453.255154,265.864186 L502.520908,254 L506.983739,258.406406 C507.007017,258.772879 507.005301,259.140492 506.978603,259.506735 Z"
              id="Path" fill="#000000" fill-rule="nonzero" opacity="0.1"></path>
              <path d="M509,257.731558 C509,257.731558 503.224169,258.307132 503.224169,259.761485 C503.224169,261.215838 480.13107,269.0529 480.13107,269.0529 C480.13107,269.0529 480.994889,271.077689 478.689668,274.561969 C476.384447,278.04625 457.615553,298.073155 457.615553,298.073155 L459.062066,312 C459.062066,312 451.844834,309.389359 449.534502,309.677146 C448.512231,309.805623 447.362176,308.849758 446.416575,307.734583 C445.635119,306.804337 444.938849,305.805011 444.336254,304.748791 C444.336254,304.748791 446.937934,293.715235 443.472435,291.104594 C440.006937,288.493953 447.224169,269.340687 447.224169,269.340687 C447.224169,269.340687 450.485214,255.722186 449.524279,249.879078 C449.464732,249.488222 449.372399,249.103132 449.248266,248.72793 C449.248266,248.686817 449.222709,248.640566 449.207375,248.599453 C447.162833,243.018437 425,196.181071 425,196.181071 C425.013928,194.85259 425.106093,193.526105 425.276013,192.20858 C425.322015,191.843707 425.383352,191.463417 425.449799,191.077988 C425.562154,190.385011 425.712314,189.698768 425.899598,189.022365 C426.016954,188.588747 426.156857,188.161618 426.318729,187.74274 C427.003651,185.974904 428.051479,184.613054 429.615553,184.582219 C429.615553,184.582219 431.348302,182.655073 435.411829,182.130889 C438.386637,181.740321 442.634173,182.130889 448.384447,184.582219 C461.94487,190.379076 465.124133,190.677141 465.124133,190.677141 L471.937568,199.670491 L473.33808,201.515412 C478.471857,208.24745 483.119734,215.340346 487.246075,222.739718 C489.515517,226.850964 492.730559,231.625148 496.58452,234.497881 C504.379336,240.320432 509,257.731558 509,257.731558 Z"
              id="Path" fill="#F7CDDD" fill-rule="nonzero"></path>
              <path d="M459,224 C459,224 478.458994,228.827544 486,241 L459,224 Z" id="Path"
              fill="#000000" fill-rule="nonzero" opacity="0.1"></path>
              <path d="M465,245 C465,245 468.890937,269.102273 467.810425,270.914853 C466.729912,272.727432 465,245 465,245 Z"
              id="Path" fill="#000000" fill-rule="nonzero" opacity="0.1"></path>
              <path d="M463.542826,258.197712 C462.150708,260.036537 456.495867,274.250299 456.495867,274.250299 L458.126778,298.119174 L459.564622,312 C459.564622,312 452.395725,309.397985 450.099239,309.684822 C449.083095,309.812873 447.934853,308.860167 447,307.748677 C448.488651,299.619942 451.674263,282.609527 452.248384,282.281714 C453.005412,281.846338 456.882001,268.180639 457.08523,264.354448 C457.288459,260.528257 462.674023,252 462.674023,252 C462.674023,252 464.945105,256.358887 463.542826,258.197712 Z"
              id="Path" fill="#000000" fill-rule="nonzero" opacity="0.1"></path>
              <path d="M457.911655,234.717094 C457.550612,235.795586 456.993574,242.077423 456.993574,242.077423 C456.591269,247.607893 452.351592,249.417307 449.746924,250 C449.686837,249.611251 449.593665,249.228239 449.468405,248.85506 C447.719925,243.953285 425,196.612055 425,196.612055 C425.023945,194.210217 425.328564,191.819212 425.907765,189.486847 C430.854056,188.045449 438.683533,190.263771 438.683533,190.263771 C440.947788,189.967313 448.333698,204.519298 448.333698,204.519298 C448.333698,204.519298 453.2542,215.662019 453.795764,217.180087 C454.337329,218.698154 453.795764,221.187377 454.01239,222.056305 C454.229016,222.925233 456.529376,223.671488 456.854315,224.867542 C457.179254,226.063595 456.967785,228.44548 457.184411,228.869721 C457.401037,229.293962 458.277856,233.63349 457.911655,234.717094 Z"
              id="Path" fill="#000000" fill-rule="nonzero" opacity="0.1"></path>
              <path d="M455.912491,233.633392 C455.551682,234.714817 454.995005,240.978918 454.995005,240.978918 C454.665122,245.569872 451.67556,247.610296 449.180822,248.482577 C448.056315,248.880359 446.87883,249.112387 445.686127,249.17122 L442.175969,252.191047 L425.965325,264 C425.965325,264 419.924348,252.946004 421.563453,252.884791 C423.202558,252.823578 432.655759,244.967947 432.655759,244.967947 C435.547388,243.437629 438.44417,238.336569 439.789473,235.714625 C439.71203,235.402092 439.653509,235.085263 439.614223,234.765828 C439.031774,229.873911 426.805495,211.142821 426.805495,211.142821 C426.805495,211.142821 422.078895,205.638777 420.238767,195.441759 C420.187223,195.20711 420.151142,194.967361 420.104753,194.72251 C420.052566,194.405208 420.021572,194.084847 420.011973,193.763511 C419.790333,189.840796 422.676807,188.412499 426.09934,188.075829 L426.09934,188.075829 C427.886844,187.935398 429.684537,187.990139 431.459935,188.239063 C433.228888,188.459559 434.980385,188.800438 436.701977,189.259275 C438.165832,189.065435 441.773924,195.089786 444.139802,199.359373 L444.139802,199.359373 C445.412943,201.675254 446.330429,203.481029 446.330429,203.481029 C446.330429,203.481029 451.247744,214.60644 451.788957,216.116354 C452.330171,217.626267 451.788957,220.120685 452.005443,220.982765 C452.221928,221.844844 454.520799,222.5998 454.845527,223.793448 C455.170255,224.987096 454.958924,227.36419 455.17541,227.787578 C455.391895,228.210966 456.278455,232.551968 455.912491,233.633392 Z"
              id="Path" fill="#F7CDDD" fill-rule="nonzero"></path>
              <path d="M475,208.377083 C471.919657,211.546015 466.944902,211.556354 462.950723,209.927947 C458.956545,208.29954 455.573301,205.383916 451.871755,203.114486 C449.469087,201.635995 446.92267,200.426322 444.555939,198.901306 L444.555939,198.901306 C444.206833,198.673846 443.867996,198.446386 443.529158,198.208586 C440.79792,196.264837 438.431189,193.767947 435.602407,192.005131 C433.710353,190.737947 431.507143,190.022301 429.236364,189.937313 C428.190879,189.927843 427.155764,190.146532 426.202226,190.578337 C426.02546,190.650662 425.853915,190.735303 425.688835,190.831644 C424.757479,191.369407 423.895355,192.020489 423.121883,192.770224 C422.320993,193.493961 421.556041,194.264223 420.714081,194.941433 C420.662742,194.703634 420.626804,194.460666 420.580599,194.212527 C420.52862,193.890966 420.49775,193.566304 420.488189,193.240653 C419.851585,193.302687 419.209846,193.338874 418.55784,193.338874 C416.475797,193.350882 414.407303,193.001116 412.443359,192.304965 C412.443359,192.227422 412.443359,192.149879 412.397153,192.072335 C411.704076,188.391619 410.451403,184.493781 407.509675,182.425963 C405.805218,181.226628 403.084248,180.735521 400.722652,179.84119 C398.47442,171.960673 401.591672,163.525024 408.408944,159.041185 C415.226215,154.557346 424.150177,155.073277 430.412995,160.313331 C436.675813,165.553384 438.813744,174.292857 435.68455,181.862482 C438.672483,181.469597 442.938759,181.862482 448.714403,184.328356 C462.334655,190.159603 465.527944,190.459437 465.527944,190.459437 L472.37144,199.506143 C471.632158,200.643443 470.795331,201.765234 470.718323,203.093807 C470.589975,205.528664 472.946438,207.229444 475,208.377083 Z"
              id="Path" fill="#000000" fill-rule="nonzero" opacity="0.1"></path>
              <path d="M407.41061,181.506916 C410.357777,183.568087 411.612766,187.448241 412.312268,191.111972 C412.528291,192.255922 412.734027,193.461707 413.433529,194.368622 C414.976548,196.398875 418.144881,195.8269 420.18681,194.368622 C422.228739,192.910343 423.838623,190.699738 426.117148,189.669152 C429.141466,188.298474 432.700697,189.298142 435.534709,191.075901 C438.368721,192.853661 440.739828,195.342525 443.476115,197.259414 C446.124965,199.129926 449.077275,200.464534 451.834137,202.149541 C455.542526,204.411676 458.932025,207.333386 462.933589,208.941099 C466.935152,210.548812 471.934535,210.543659 475,207.395221 C472.942641,206.251271 470.581821,204.561111 470.741267,202.108318 C470.900712,199.655525 473.750154,197.826236 473.559849,195.311607 C473.369543,192.796979 470.417233,191.81277 468.298153,190.576068 C463.874831,187.999604 461.987204,182.331384 461.040819,177.101164 C460.305313,173.00974 459.698392,168.439094 456.648357,165.811101 C454.678436,164.120941 452.019299,163.569578 450.033947,161.894876 C448.156607,160.302622 447.112497,157.896205 445.919229,155.675294 C443.949308,151.980645 441.362179,148.543643 437.941819,146.333037 C434.52146,144.122432 430.170145,143.241281 426.415465,144.756242 C424.975314,145.328216 423.663747,146.21452 422.244169,146.817412 C418.705512,148.36329 414.657658,148.141715 411.155004,149.754581 C406.839693,151.74361 404.036541,156.133904 401.469986,160.302622 C399.299472,163.8736 394.994448,170.170477 396.213433,174.808111 C397.427275,179.523039 404.211417,179.270546 407.41061,181.506916 Z"
              id="Path" fill="#4C3E42" fill-rule="nonzero"></path>
              <g id="Group" opacity="0.1" transform="translate(396.000000, 167.000000)"
                fill="#000000" fill-rule="nonzero">
                <path d="M77.4969481,27.2118519 C77.4811931,27.0191913 77.4485763,26.8283211 77.3994805,26.6414815 C76.6197403,27.8807407 75.6501948,29.0837037 75.5578571,30.5355556 C75.5379115,30.8713847 75.5655502,31.2083716 75.6399351,31.5362963 C76.5068831,30.1414815 77.6200649,28.8296296 77.4969481,27.2118519 Z"
                id="Path"></path>
                <path d="M67.7707143,37.4266667 C63.7796753,35.8088889 60.4042208,32.8688889 56.7055844,30.5925926 C53.9508442,28.897037 51.0062987,27.5540741 48.3644156,25.6718519 C45.6353247,23.7222222 43.2704545,21.2177778 40.4438961,19.4496296 C37.6173377,17.6814815 34.0725974,16.6548148 31.0511039,18.0288889 C28.7785714,19.0659259 27.1780519,21.2696296 25.1363636,22.762963 C23.0946753,24.2562963 19.9654545,24.837037 18.4008442,22.762963 C17.7031818,21.8503704 17.497987,20.637037 17.2825325,19.4859259 C16.59,15.7992593 15.3331818,11.8948148 12.3988961,9.82074074 C9.20298701,7.56518519 2.43668831,7.81925926 1.21064935,3.08 C1.00605443,2.23215744 0.95220801,1.35430184 1.05162338,0.487407407 C0.266753247,2.60296296 -0.138506494,4.72888889 0.338571429,6.58 C1.56974026,11.34 8.33603896,11.0859259 11.5268182,13.3207407 C14.4662338,15.3948148 15.7179221,19.3044444 16.4155844,22.9911111 C16.631039,24.1422222 16.8362338,25.3555556 17.5287662,26.2681481 C19.0677273,28.3111111 22.2277273,27.7355556 24.2694156,26.2422222 C26.3111039,24.7488889 27.9064935,22.5503704 30.1841558,21.5133333 C33.2005195,20.1392593 36.7503896,21.1451852 39.5769481,22.9340741 C42.4035065,24.722963 44.7683766,27.2274074 47.4974675,29.1562963 C50.1393506,31.0437037 53.0838961,32.3814815 55.8335065,34.077037 C59.5321429,36.3585185 62.9127273,39.2985185 66.9037662,40.9162963 C70.8948052,42.5340741 75.881039,42.5237037 78.9384416,39.3607407 C78.1475824,38.9313144 77.39721,38.4297217 76.6966883,37.8622222 C73.9162987,38.8940741 70.5972727,38.5725926 67.7707143,37.4266667 Z"
                id="Path"></path>
              </g>
              <path d="M373.020568,239.650165 L413.768913,224.24953 C414.731362,223.884219 415.79788,223.921259 416.733312,224.352483 C417.668745,224.783707 418.396275,225.573702 418.755492,226.548286 L418.755492,226.548286 C419.114833,227.522935 419.07683,228.602111 418.649844,229.548406 C418.222858,230.494702 417.441866,231.2306 416.478678,231.594211 L375.730333,247 L367,246.113484 L373.020568,239.650165 Z"
              id="Path" fill="#5C5C8E" fill-rule="nonzero"></path>
              <path d="M417.527948,225.693192 L417.527948,225.693192 C418.276559,227.686994 417.257537,229.90629 415.251134,230.651794 L374.502789,245.770469 L367.942305,245.117755 L367,246.129715 L375.730333,247 L416.478678,231.876265 C417.441866,231.519311 418.222858,230.796886 418.649844,229.867916 C419.07683,228.938946 419.114833,227.879527 418.755492,226.922723 L418.755492,226.922723 C418.456856,226.124964 417.89957,225.448548 417.1714,225 C417.311648,225.219571 417.431013,225.451637 417.527948,225.693192 Z"
              id="Path" fill="#FFFFFF" fill-rule="nonzero" opacity="0.1"></path>
              <polygon id="Path" fill="#EFC8C4" fill-rule="nonzero"
              points="373.202915 240 376 247 368.616327 246.307854 367 246.15568 369.209329 243.966339"></polygon>
              <path d="M369.410043,244 C369.600911,244.101401 369.761708,244.229743 369.882826,244.377358 C370.039058,244.555017 370.039058,244.782509 369.882826,244.960168 C369.750011,245.053303 369.598341,245.131077 369.433105,245.190776 C369.053989,245.372274 368.811402,245.670937 368.775821,246 L367,245.870021 L369.410043,244 Z"
              id="Path" fill="#727A9C" fill-rule="nonzero"></path>
              <path d="M337.610037,160.913238 L330.483499,157.45803 C330.278222,157.358472 330.121148,157.181926 330.046842,156.96724 C329.972535,156.752554 329.987084,156.517319 330.087286,156.313296 L330.842731,154.76948 C330.941807,154.564433 331.119373,154.407369 331.33577,154.333368 C331.552167,154.259367 331.789366,154.274595 331.994388,154.375649 L336.796481,156.701876 L341.809887,146.483283 C342.018604,146.058718 342.532521,145.880631 342.961544,146.084201 L344.514697,146.840356 C344.720983,146.938836 344.878997,147.115335 344.953446,147.330431 C345.027894,147.545527 345.012575,147.7813 344.910909,147.98509 L338.761694,160.519408 C338.661534,160.723451 338.48392,160.87958 338.267936,160.95344 C338.051951,161.0273 337.815294,161.012839 337.610037,160.913238 L337.610037,160.913238 Z"
              id="Path" fill="#3ACC6C" fill-rule="nonzero"></path>
              <path d="M352.614146,203.924988 L345.48376,200.469492 C345.278372,200.369925 345.121214,200.193364 345.046867,199.97866 C344.97252,199.763956 344.987077,199.528701 345.087334,199.324661 L345.843186,197.780716 C346.054023,197.355105 346.571567,197.17901 347.000751,197.386853 L351.800151,199.713274 L356.810979,189.483323 C357.019808,189.058723 357.534003,188.880621 357.963258,189.084208 L359.511963,189.840426 C359.718283,189.939048 359.876607,190.115206 359.951978,190.330003 C360.027349,190.544801 360.013567,190.780572 359.913675,190.985256 L353.76114,203.520622 C353.548256,203.943915 353.032946,204.11925 352.603575,203.914485 L352.614146,203.924988 Z"
              id="Path" fill="#3ACC6C" fill-rule="nonzero"></path>
              <path d="M345.612926,182.913314 L338.486217,179.461112 C338.059075,179.253831 337.879906,178.743447 338.084712,178.317374 L338.845458,176.774901 C338.944536,176.570033 339.122106,176.413105 339.338508,176.339169 C339.55491,176.265232 339.792115,176.280447 339.997143,176.381413 L344.799351,178.705615 L349.812877,168.480174 C349.91304,168.276309 350.090658,168.120315 350.306647,168.04652 C350.522637,167.972724 350.759301,167.987173 350.964562,168.086686 L352.517752,168.836937 C352.943579,169.048243 353.119964,169.559733 352.913973,169.985922 L346.759328,182.519826 C346.659165,182.723691 346.481548,182.879685 346.265558,182.95348 C346.049568,183.027276 345.812905,183.012827 345.607643,182.913314 L345.612926,182.913314 Z"
              id="Path" fill="#3ACC6C" fill-rule="nonzero"></path>
              <path d="M358.610037,222.914487 L351.483499,219.45906 C351.278222,219.359496 351.121148,219.182939 351.046842,218.968239 C350.972535,218.753539 350.987084,218.518289 351.087286,218.314253 L351.842731,216.770339 C351.942891,216.566283 352.120505,216.410144 352.33649,216.336279 C352.552474,216.262415 352.789132,216.276877 352.994388,216.376484 L357.796481,218.702857 L362.809887,208.483617 C363.020741,208.058343 363.536285,207.880497 363.966827,208.08451 L365.514697,208.840712 C365.720983,208.939199 365.878997,209.115709 365.953446,209.330818 C366.027894,209.545928 366.012575,209.781716 365.910909,209.985519 L359.766977,222.520631 C359.554208,222.943916 359.039177,223.119247 358.610037,222.914487 L358.610037,222.914487 Z"
              id="Path" fill="#3ACC6C" fill-rule="nonzero"></path>
              <path d="M100.273093,355 C100.273093,355 103.277885,359.008656 98.8893743,365.057708 C94.500864,371.10676 90.8749141,376.218054 92.3242841,380 C92.3242841,380 98.9499752,368.762366 104.338399,368.607791 C109.726823,368.453215 106.201875,361.760099 100.273093,355 Z"
              id="Path" fill="#3ACC6C" fill-rule="nonzero"></path>
              <path d="M100.184007,355 C100.450095,355.386418 100.659968,355.809161 100.807258,356.255402 C106.12533,362.552994 108.981047,368.428689 103.846886,368.603622 C99.080545,368.737395 93.3640011,377.319407 92,379.485491 C92.0411072,379.660422 92.0940192,379.832325 92.1583672,380 C92.1583672,380 98.8608745,368.778555 104.31177,368.624203 C109.762666,368.46985 106.181525,361.75036 100.184007,355 Z"
              id="Path" fill="#000000" fill-rule="nonzero" opacity="0.1"></path>
              <path d="M106,360.783686 C106,361.993793 105.773723,363 105.49635,363 C105.218978,363 105,362.015956 105,360.783686 C105,359.551415 105.277372,360.140954 105.554745,360.140954 C105.832117,360.140954 106,359.569145 106,360.783686 Z"
              id="Path" fill="#FFD037" fill-rule="nonzero"></path>
              <path d="M108.29179,362.017441 C107.119621,362.713846 106.093973,363.139131 106.00606,362.958384 C105.918147,362.777638 106.797274,362.075918 107.959676,361.363566 C109.122077,360.651214 108.667861,361.172188 108.755774,361.363566 C108.843687,361.554944 109.468844,361.321037 108.29179,362.017441 Z"
              id="Path" fill="#FFD037" fill-rule="nonzero"></path>
              <path d="M84.7246076,355 C84.7246076,355 81.7252619,359.008656 86.1131936,365.057708 C90.5011254,371.10676 94.1215478,376.218054 92.6774184,380 C92.6774184,380 86.0576502,368.762366 80.6648871,368.607791 C75.272124,368.453215 78.7966078,361.760099 84.7246076,355 Z"
              id="Path" fill="#3ACC6C" fill-rule="nonzero"></path>
              <path d="M84.8214176,355 C84.5587523,355.387485 84.3509677,355.810024 84.2040698,356.255402 C78.8877362,362.552994 76.0407936,368.428689 81.1683515,368.603622 C85.9234599,368.737395 91.6326512,377.319407 93,379.485491 C92.9572196,379.660532 92.9026717,379.832432 92.8367345,380 C92.8367345,380 86.14795,368.732249 80.688759,368.577897 C75.229568,368.423544 78.8316136,361.75036 84.8214176,355 Z"
              id="Path" fill="#000000" fill-rule="nonzero" opacity="0.1"></path>
              <path d="M79,360.783686 C79,361.993793 79.2189781,363 79.4963504,363 C79.7737226,363 80,362.015956 80,360.783686 C80,359.551415 79.7226277,360.140954 79.4452555,360.140954 C79.1678832,360.140954 79,359.569145 79,360.783686 Z"
              id="Path" fill="#FFD037" fill-rule="nonzero"></path>
              <path d="M76.7084385,362.017441 C77.8853745,362.713846 78.9060368,363.139131 78.9939407,362.958384 C79.0818447,362.777638 78.2028053,362.075918 77.04052,361.363566 C75.8782347,360.651214 76.3275214,361.172188 76.2396175,361.363566 C76.1517136,361.554944 75.536386,361.321037 76.7084385,362.017441 Z"
              id="Path" fill="#FFD037" fill-rule="nonzero"></path>
              <ellipse id="Oval" class="secondaryFill" fill-rule="nonzero" opacity="0.1" cx="92"
              cy="406"
              rx="32" ry="5"></ellipse>
              <path d="M108.992658,374.864638 L108.83813,376.109438 L108.626943,377.866501 L108.534227,378.599038 L108.32304,380.356101 L108.225172,381.088637 L108.013985,382.8457 L105.562153,402.823968 C105.340664,404.606644 102.409798,406 98.865974,406 L86.1380824,406 C82.5994091,406 79.6736939,404.606644 79.441903,402.823968 L76.9900712,382.8457 L76.7737331,381.088637 L76.6861677,380.356101 L76.4646787,378.599038 L76.3771133,377.866501 L76.1607752,376.109438 L76.0062479,374.864638 C75.8877771,373.840112 77.4691056,373 79.4728085,373 L105.531248,373 C107.540102,373 109.12143,373.85548 108.992658,374.864638 Z"
              id="Path" fill="#65617D" fill-rule="nonzero"></path>
              <polygon id="Path" fill="#9D9CB5" fill-rule="nonzero"
              points="108 376 107.788079 378 76.2068748 378 76 376"></polygon>
              <polygon id="Path" fill="#9D9CB5" fill-rule="nonzero"
              points="108 378 107.784062 380 76.2159383 380 76 378"></polygon>
              <polygon id="Path" fill="#9D9CB5" fill-rule="nonzero"
              points="108 381 107.786732 383 77.2132678 383 77 381"></polygon>
            </g>
          </g>
        </g>
      </svg>
    </div>
  </div>
  {% for question in questionnaire.questions %}
    <div id="surveyPg{{ forloop.counter }}" data-id="{{ question.id }}"
      data-type="{{ question.response_type }}"
      {% if forloop.last %}
        class="col-lg-6 no-overflow text-left lastQuestion surveyQuestion"
        data-index="{{ forloop.counter }}"
      {% else %}
        class="col-lg-6 no-overflow text-left surveyQuestion"
      {% endif %}>
      <div class="col-md-10 mx-auto">
        <h2 class="questionTitle"><span>Q{{ forloop.counter }}</span> - {{ question.title }}</h2>
        <div class=" col-md-11 mx-auto">
          {% if question.response_type == 'boolean' %}
            <div class="marginTop10v">
              <label class="checkbox bigCheckbox customCheckbox marginTop10v checkbox-checkbox">
                <input class="questionContent question{{ question.id }}Input" type="checkbox"/>
                <div class="checkbox_indicator">
                </div>
                Yes
              </label>
            </div>
            {% elif  question.response_type == 'free_text' %}
            <textarea maxlength="255" class="form-control question{{ question.id }}Input marginTop10v" rows="5"></textarea>
          {% else %}
          <div class="col-12">
            <div class="row marginTop10v question-label">
              <div class="col-6 mr-auto pl-0"><h5>{{ question.min_label }}</h5></div>
              <div class="col-6 ml-auto pr-0 text-right"><h5>{{ question.max_label }}</h5>
              </div>
              <input type="range" min="1" max="5" class="question{{ question.id }}Input custom-range col-12 mx-auto ">
            </div>
            </div>
          {% endif %}
        </div>
      </div>
      {% if forloop.last %}
        <form method="post" id="questionnaireForm" role="form">
          {% csrf_token %}
          <input type="hidden" id="surveyResponse" name="questions">
          <div class="fullWidth text-center fixedBottom">
            <button class="verticalMargin3 btn text-center btn-lg nextQuestion01" type="submit">Submit</button>
          </div>
        </form>
      {% else %}
        <div class="fullWidth text-center fixedBottom">
          <button class="verticalMargin3 btn text-center btn-lg nextQuestion" type="button">Next</button>
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>
</div>
{% endblock %}