{% extends './base_navbar.html' %}
{% load staticfiles %}
{% block page_name %}
   Your OptiMe Survey
{% endblock %}
{% block title %}
  OptiMe | Surveys
{% endblock %}
{% block content %}
  <div id="page-content-wrapper" class="mb-5 py-5 questionnairepage">
    <div class="row col-11 mx-auto mt-5 pt-5 pt-sm-mobile">
      <div class="col-lg-6 p-0">
        <div class="col-12 p-0">
          <h2 class="red-title mb--15">Surveys <br /><span class="surveys-available">You have a new survey available.</span></h2>
          <div class="marginTop30">
            <ul class="past-surveys-list surveys-list">
              {% for question in new_questionnaires %}
                <li>
                  <div class="row">
                    <div class="col-md-9"><div class="form-group"><div class="past-surveys-title">
                      <a href="{% url 'frontendsite-questionnaires-detail' pk=question.id %}">{{ question.title }}</a>
                    </div></div></div>
                    <div class="col-md-3"><div class="form-group">
                      <div class="past-surveys-date"><a href="{% url 'frontendsite-questionnaires-detail' pk=question.id %}"><span>Expiry</span> {{ question.expiry_date | date:"d/m/Y" }} </a></div></div></div>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-6 row no-overflow">
          <div class="col-12 ml-4 pastsurveys-ml-0">
            <h2 class="red-title mt-mobile-30 mobile-only-none">Past Surveys</h2>
            <h2 class="red-title mt-mobile-30">
            <span class="mobile-only-optime mobile-collapse-text">
              <a class="" data-toggle="collapse" href="#pastsurveyspage" role="button" aria-expanded="false" aria-controls="pastsurveyspage">
                Past Surveys
              </a>
            </span>
            </h2>
            <div id="pastsurveyspage">
              <div>
                <ul class="past-surveys-list">
                  {% for question in old_questionnaires %}
                    <li>
                      <div class="row">
                        <div class="col-md-9 "><div class="form-group"><div class="past-surveys-title">
                          <div class="row">
                            <div class="col-3 col-md-2 pr-0 justify-content-center align-self-center"> <img class="img-fluid" src="{% static 'images/check-icon01.png' %}" alt="Check"></div>
                            <div class="col-9 col-md-10 p-0 justify-content-center align-self-center"><span>{{ question.title }}</span></div>
                          </div>
                          </div></div></div>
                          <div class="col-md-3"><div class="form-group"><div class="past-surveys-date"><span>Date Received</span> {{ question.created_at | date:"d/m/Y" }}</div></div></div>
                        </div>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              {% if num_pages > 1 %}
                <div class="col mx-auto text-center">
                  <div class="btn-group btn-group-toggle">
                    {% if current_page|add:-1  > 0 %}
                      <a href="?page=1" class="btn btn-outline-secondary">
                        First
                      </a>
                      <a href="?page={{ current_page|add:-1 }}" class="btn btn-outline-secondary">
                        Previous
                      </a>
                    {% endif %}
                    {% if current_page|add:-1 > 0 %}
                      <a href="?page={{ current_page|add:-1 }}" class=" btn btn-outline-secondary">
                        {{ current_page|add:-1 }}
                      </a>
                    {% endif %}
                    <a class="active btn btn-outline-secondary">
                      <span>{{ current_page }} <span class="sr-only">(current)</span></span>
                    </a>
                    {% if current_page|add:1 <= num_pages %}
                      <a href="?page={{ current_page|add:1 }}" class=" btn btn-outline-secondary">
                        {{ current_page|add:1 }}
                      </a>
                    {% endif %}
                    {% if current_page|add:1 <= num_pages %}
                      <a href="?page={{ current_page|add:1 }}" class=" btn btn-outline-secondary">
                        Next
                      </a>
                      <a href="?page={{ num_pages }}" class="btn btn-outline-secondary">
                        Last
                      </a>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
          <div class="clearfix d-block w-100"></div>
          <div class="mt-4 d-block w-100">
            <hr class="secondaryBackground">
          </div>
          <div class="col-lg-12 mb-5 pl-0 pr-0 mt-4">
            <div class="col-12 no-overflow">
              <form method="get" id="archiveForm" role="form" action="#">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-4 justify-content-center align-self-center">
                    <h3 class="red-title mb-0">More Helpful Content</h3>
                  </div>
                  <div class="col-md-8 justify-content-center align-self-center">
                    <div class="row ">
                      <div class="col-md-3 justify-content-center align-self-center">
                        <h3 class="red-title mb-0">Search by Filter</h3>
                      </div>
                      <div class="col-md-3 justify-content-center align-self-center">
                        <div class="form-group m-form__group col-12 mx-auto no-overflow">
                          <div id="content_select" class="custom-select form-control p-0 recipe-all">
                            <select class="select_type"  name="type">
                              <option {% if "all" == current_content_type %}selected{% endif %} value="all">All </option>
                              <option {% if "recipe" == current_content_type %}selected{% endif %} value="recipe"> Recipe </option>
                              <option {% if "article" == current_content_type %}selected{% endif %} value="article"> Exercise </option>
                              <option {% if "video" == current_content_type %}selected{% endif %} value="video"> Workshops </option>
                              <option {% if "newsletter" == current_content_type %}selected{% endif %} value="newsletter">Newsletter </option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 justify-content-center align-self-center">
                        <input type="hidden" id="allData" value="false" name="all_data">
                        <div class="custom-select form-control p-0 environmental-list">
                          <!-- <label for="pillarSelect">Pillar</label> -->
                          <select id="pillarSelect" class="form-control select_type" name="pillar">
                            <option {% if "all" == current_pillar %}selected{% endif %} value="all">All</option>
                            <option {% if "environmental" == current_pillar %}selected{% endif %} value="environmental">Environmental </option>
                            <option {% if "financial" == current_pillar %}selected{% endif %} value="financial"> Financial </option>
                            <option {% if "social" == current_pillar %}selected{% endif %} value="social">Social </option>
                            <option {% if "mental" == current_pillar %}selected{% endif %} value="mental">Mental </option>
                            <option {% if "professional" == current_pillar %}selected{% endif %} value="professional">Professional </option>
                            <option {% if "physical" == current_pillar %}selected{% endif %} value="physical"> Physical </option>
                          </select>
                        </div>
                      </div>
                      <!-- <div class="col-md-3 justify-content-center align-self-center marginTop10">
                        <a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title="Explanation test on how the function works!"><span class="info-circle">i</span></a>
                      </div> -->
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                {% if error %}
                  <div class="alert margin-top-20 alert-danger col-10 col-md-6 mx-auto" role="alert"> {% for k,v in error.items %}
                  {{ k | title }}: {% for val in v %}{{ val }}{% endfor %}
                {% endfor %} </div>
              {% endif %}
            </form>
          </div>
        </div>
<div class="col-12 p-0">
<div class="jcarousel-wrapper">
<div id="helpfulcontentslider" class="">
<ul id="helpfulcontentsliderremove" class="row">
{% for rec in all_content %}
{% if forloop.counter <= 8 %}
<li class="col-md-6 col-lg-4 col-xl-3 marginBottom20 contentboxlinks"> <a href="/{{ rec.content_type.value }}/{{ rec.pk }}">
<div class="contentBox">
<div class="contentImgBox text-center position-relative"> {% if rec.image %} <img alt="{{ rec.title }}" src={{rec.image.url}} class="contentImg"> {% endif %}
<div class="icon-video"> {% if rec.content_type.value == 'video' %} <svg xmlns="http://www.w3.org/2000/svg" height="20" class="itemIcon" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
<polygon class="icon" points="5 3 19 12 5 21 5 3"></polygon>
</svg> {% elif rec.content_type.value == 'recipe' %} <svg class="itemIcon" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
<path class="icon" d="M2 8h16v9a4 4 0 0 1-4 4H6a4 4 0 0 1-4-4V8z"></path>
<line class="icon" x1="6" y1="1" x2="6" y2="4"></line>
<line class="icon" x1="10" y1="1" x2="10" y2="4"></line>
<line class="icon" x1="14" y1="1" x2="14" y2="4"></line>
</svg> {% elif rec.content_type.value == 'article' %} <svg class="itemIcon" width="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
<polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline>
</svg> {% elif rec.content_type.value == 'newsletter' %} <svg xmlns="http://www.w3.org/2000/svg" class="itemIcon" height="20" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round"
stroke-linejoin="round">
<path class="icon" d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
<polyline class="icon" points="14 2 14 8 20 8"></polyline>
<line class="icon" x1="16" y1="13" x2="8" y2="13"></line>
<line class="icon" x1="16" y1="17" x2="8" y2="17"></line>
<polyline class="icon" points="10 9 9 9 8 9"></polyline>
</svg> {% endif %} </div>
</div>
<div class="col-12 row no-overflow marginTop10">
<p class="text-overflow text-left video-name ">{{ rec.title |truncatechars:100 }}</p>
</div>
</div>
</a> 
</li>
{%endif%}
{%endfor%}
</ul>
</div>
<a href="#" class="jcarousel-control-prev">&lsaquo;</a>
<a href="#" class="jcarousel-control-next">&rsaquo;</a>
</div>
</div>      
</div>
</div>
<script>
var x, i, j, selElmnt, a, b, c;
/*look for any elements with the class "custom-select":*/
x = document.getElementsByClassName("custom-select");
console.log(">>>>>>>>>>>>>>>>>>>>>", x)
for (i = 0; i < x.length; i++) {
console.log("select element",x[i].getElementsByClassName("select_type"));
selElmnt = x[i].getElementsByClassName("select_type")[0];
/*for each element, create a new DIV that will act as the selected item:*/
a = document.createElement("DIV");
a.setAttribute("class", "select-selected");
a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
x[i].appendChild(a);
/*for each element, create a new DIV that will contain the option list:*/
b = document.createElement("DIV");
b.setAttribute("class", "select-items select-hide");
for (j = 1; j < selElmnt.length; j++) {
/*for each option in the original select element,
create a new DIV that will act as an option item:*/
c = document.createElement("DIV");
c.innerHTML = selElmnt.options[j].innerHTML;
c.addEventListener("click", function(e) {
/*when an item is clicked, update the original select box,
and the selected item:*/
var y, i, k, s, h;
s = this.parentNode.parentNode.getElementsByTagName("select")[0];
h = this.parentNode.previousSibling;
for (i = 0; i < s.length; i++) {
if (s.options[i].innerHTML == this.innerHTML) {
s.selectedIndex = i;
$('form').submit();
h.innerHTML = this.innerHTML;
y = this.parentNode.getElementsByClassName("same-as-selected");
for (k = 0; k < y.length; k++) {
y[k].removeAttribute("class");
}
this.setAttribute("class", "same-as-selected");
break;
}
}
h.click();
});
b.appendChild(c);
}
x[i].appendChild(b);
a.addEventListener("click", function(e) {
/*when the select box is clicked, close any other select boxes,
and open/close the current select box:*/
e.stopPropagation();
closeAllSelect(this);
this.nextSibling.classList.toggle("select-hide");
this.classList.toggle("select-arrow-active");
});
}
function closeAllSelect(elmnt) {
/*a function that will close all select boxes in the document,
except the current select box:*/
var x, y, i, arrNo = [];
x = document.getElementsByClassName("select-items");
y = document.getElementsByClassName("select-selected");
for (i = 0; i < y.length; i++) {
if (elmnt == y[i]) {
arrNo.push(i)
} else {
y[i].classList.remove("select-arrow-active");
}
}
for (i = 0; i < x.length; i++) {
if (arrNo.indexOf(i)) {
x[i].classList.add("select-hide");
}
}
}
/*if the user clicks anywhere outside the select box,
then close all select boxes:*/
document.addEventListener("click", closeAllSelect);
</script>
{% endblock %}