{% extends 'frontendsite/base_navbar.html' %}
{% load staticfiles %}
{% block page_name %}
    Newsletter
{% endblock %}
{% block title %}
    OptiMe | {{ content.title }}
{% endblock %}
{% block content %}
    <div id="page-content-wrapper" class="mb-5 py-5">
        <div class="row col-11 mx-auto mt-5 pt-5">
            <iframe class="fullWidth fullHeight" src="{{ content.newsletter.url }}"></iframe>
        </div>
    </div>
{% endblock %}