{% extends 'frontendsite/base_navbar.html' %}
{% load staticfiles %}
{% block page_name %}
    Recipe
{% endblock %}
{% block title %}
  OptiMe | {{ content.title }}
{% endblock %}
{% block content %}
<div id="page-content-wrapper" class="mb-5 py-5">
  <div class="row col-11 mx-auto mt-5 pt-5 pt-sm-mobile p-0-mobile">
    <div class="col-lg-7 p-0">
      <h1 class="red-title text-center title-mobile">{{ content.title }}</h1>
      <div class="recipe-left">
        <div class="recipe-img"> {% if content.image %} <img class="recipeImage" alt="{{ content.title }}" src="{{ content.image.url }}"> {% endif %} </div>
        <h2 class="verticalMargin3 ingredients-title">Method</h2>
        {% for step in content.steps.all %}
        <div class="row col-12">
          <div class="method-list">
            <ul>
              <li><span>{{ step.order }}</span>
                <p> {{ step.description | linebreaksbr }} </p>
              </li>
            </ul>
          </div>
        </div>
        {% endfor %} </div>
    </div>
    <div class="col-lg-5 p-0-mobile">
      <div class="col-12 mt-mobile-30 p-0-mobile">
        <h1 class="red-title title-mobile-none">{{ content.title }}</h1>
        <h2 class="marginTop3 ingredients-title">Ingredients</h2>
        <p class="text-overflow"> {{ content.ingredients | linebreaksbr }} </p>
        {% if content.vegan or not content.gluten_free or not content.meat_free or not content.dairy_free %} <small>Contains:
        {% if content.vegan %}
        Vegan
        {% endif %}
        {% if not content.gluten_free %}
        Gluten
        {% endif %}
        {% if not content.meat_free and not content.vegan %}
        Meat
        {% endif %}
        {% if not content.dairy_free and not content.vegan %}
        Dairy
        {% endif %} </small> {% endif %} </div>
    </div>
    <div class="clearfix d-block w-100"></div>
    <div class="mt-4 d-block w-100">
      <hr class="secondaryBackground">
    </div>
    <div class="col-lg-12 mb-5 pl-0 pr-0">
      <div class="col-12 no-overflow">
        <form method="get" id="archiveForm" role="form" action="#">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-4 justify-content-center align-self-center">
              <h3 class="red-title mb-0">More Helpful Content</h3>
            </div>
            <div class="col-md-8 justify-content-center align-self-center">
              <div class="row ">
                <div class="col-md-3 justify-content-center align-self-center">
                  <h3 class="red-title mb-0">Search by Filter</h3>
                </div>
                <div class="col-md-3 justify-content-center align-self-center">
                  <div class="form-group m-form__group col-12 mx-auto no-overflow">
                    <div id="content_select" class="custom-select form-control p-0 recipe-all">
                      <select class="select_type" name="type">
                        <option {% if "all" == current_content_type %}selected{% endif %} value="all">All </option>
                        <option {% if "recipe" == current_content_type %}selected{% endif %} value="recipe"> Recipe </option>
                        <option {% if "article" == current_content_type %}selected{% endif %} value="article"> Exercise </option>
                        <option {% if "video" == current_content_type %}selected{% endif %} value="video"> Workshops </option>
                        <option {% if "newsletter" == current_content_type %}selected{% endif %} value="newsletter">Newsletter </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 justify-content-center align-self-center">
                  <input type="hidden" id="allData" value="false" name="all_data">
                  <div class="custom-select form-control p-0 environmental-list"> 
                    <!-- <label for="pillarSelect">Pillar</label> -->
                    <select id="pillarSelect" class="form-control select_type" name="pillar">
                      <option {% if "all" == current_pillar %}selected{% endif %} value="all">All</option>
                      <option {% if "environmental" == current_pillar %}selected{% endif %} value="environmental">Environmental </option>
                      <option {% if "financial" == current_pillar %}selected{% endif %} value="financial"> Financial </option>
                      <option {% if "social" == current_pillar %}selected{% endif %} value="social">Social </option>
                      <option {% if "mental" == current_pillar %}selected{% endif %} value="mental">Mental </option>
                      <option {% if "professional" == current_pillar %}selected{% endif %} value="professional">Professional </option>
                      <option {% if "physical" == current_pillar %}selected{% endif %} value="physical"> Physical </option>
                    </select>
                  </div>
                </div>
                <!-- <div class="col-md-3 justify-content-center align-self-center marginTop10"> <a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title="Explanation test on how the function works!"><span class="info-circle">i</span></a> </div> -->
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          {% if error %}
          <div class="alert margin-top-20 alert-danger col-10 col-md-6 mx-auto" role="alert"> {% for k,v in error.items %}
            {{ k | title }}: {% for val in v %}{{ val }}{% endfor %}
            {% endfor %} </div>
          {% endif %}
        </form>
      </div>
    </div>
<div class="col-md-12 pl-0 pr-0">
<div class="col-12 p-0">
<div class="jcarousel-wrapper">
<div id="helpfulcontentslider" class="">
<ul id="helpfulcontentsliderremove" class="row">
{% for rec in all_content %}
{% if forloop.counter <= 8 %}
<li class="col-md-6 col-lg-4 col-xl-3 marginBottom20 contentboxlinks"> <a href="/{{ rec.content_type.value }}/{{ rec.pk }}">
<div class="contentBox">
<div class="contentImgBox text-center position-relative"> {% if rec.image %} <img alt="{{ rec.title }}" src={{rec.image.url}} class="contentImg"> {% endif %}
<div class="icon-video"> {% if rec.content_type.value == 'video' %} <svg xmlns="http://www.w3.org/2000/svg" height="20" class="itemIcon" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
<polygon class="icon" points="5 3 19 12 5 21 5 3"></polygon>
</svg> {% elif rec.content_type.value == 'recipe' %} <svg class="itemIcon" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
<path class="icon" d="M2 8h16v9a4 4 0 0 1-4 4H6a4 4 0 0 1-4-4V8z"></path>
<line class="icon" x1="6" y1="1" x2="6" y2="4"></line>
<line class="icon" x1="10" y1="1" x2="10" y2="4"></line>
<line class="icon" x1="14" y1="1" x2="14" y2="4"></line>
</svg> {% elif rec.content_type.value == 'article' %} <svg class="itemIcon" width="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
<polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline>
</svg> {% elif rec.content_type.value == 'newsletter' %} <svg xmlns="http://www.w3.org/2000/svg" class="itemIcon" height="20" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round"
stroke-linejoin="round">
<path class="icon" d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
<polyline class="icon" points="14 2 14 8 20 8"></polyline>
<line class="icon" x1="16" y1="13" x2="8" y2="13"></line>
<line class="icon" x1="16" y1="17" x2="8" y2="17"></line>
<polyline class="icon" points="10 9 9 9 8 9"></polyline>
</svg> {% endif %} </div>
</div>
<div class="col-12 row no-overflow marginTop10">
<p class="text-overflow text-left video-name ">{{ rec.title |truncatechars:100 }}</p>
</div>
</div>
</a> 
</li>
{%endif%}
{%endfor%}
</ul>
</div>
<a href="#" class="jcarousel-control-prev">&lsaquo;</a>
<a href="#" class="jcarousel-control-next">&rsaquo;</a>
</div>
</div>
    </div>
    <script>
var x, i, j, selElmnt, a, b, c;
/*look for any elements with the class "custom-select":*/
x = document.getElementsByClassName("custom-select");
console.log(">>>>>>>>>>>>>>>>>>>>>", x)
for (i = 0; i < x.length; i++) {
console.log("select element",x[i].getElementsByClassName("select_type"));
selElmnt = x[i].getElementsByClassName("select_type")[0];
/*for each element, create a new DIV that will act as the selected item:*/
a = document.createElement("DIV");
a.setAttribute("class", "select-selected");

a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
x[i].appendChild(a);
/*for each element, create a new DIV that will contain the option list:*/
b = document.createElement("DIV");
b.setAttribute("class", "select-items select-hide");
for (j = 1; j < selElmnt.length; j++) {
/*for each option in the original select element,
create a new DIV that will act as an option item:*/
c = document.createElement("DIV");
c.innerHTML = selElmnt.options[j].innerHTML;
c.addEventListener("click", function(e) {
/*when an item is clicked, update the original select box,
and the selected item:*/
var y, i, k, s, h;
s = this.parentNode.parentNode.getElementsByTagName("select")[0];
h = this.parentNode.previousSibling;
for (i = 0; i < s.length; i++) {
if (s.options[i].innerHTML == this.innerHTML) {
s.selectedIndex = i;
$('form').submit();
h.innerHTML = this.innerHTML;
y = this.parentNode.getElementsByClassName("same-as-selected");
for (k = 0; k < y.length; k++) {
y[k].removeAttribute("class");
}
this.setAttribute("class", "same-as-selected");
break;
}
}
h.click();
});
b.appendChild(c);
}
x[i].appendChild(b);
a.addEventListener("click", function(e) {
/*when the select box is clicked, close any other select boxes,
and open/close the current select box:*/
e.stopPropagation();
closeAllSelect(this);
this.nextSibling.classList.toggle("select-hide");
this.classList.toggle("select-arrow-active");
});
}
function closeAllSelect(elmnt) {
/*a function that will close all select boxes in the document,
except the current select box:*/
var x, y, i, arrNo = [];
x = document.getElementsByClassName("select-items");
y = document.getElementsByClassName("select-selected");
for (i = 0; i < y.length; i++) {
if (elmnt == y[i]) {
arrNo.push(i)
} else {
y[i].classList.remove("select-arrow-active");
}
}
for (i = 0; i < x.length; i++) {
if (arrNo.indexOf(i)) {
x[i].classList.add("select-hide");
}
}
}
/*if the user clicks anywhere outside the select box,
then close all select boxes:*/
document.addEventListener("click", closeAllSelect);
</script> 
  </div>
</div>
{% endblock %}